@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    int accountMainID = 0;
    if (Poco.SystemConst.IsIntegrationWebProject)
    {
        accountMainID = ViewBag.AMID;
    }
    else
    {
        accountMainID = MicroSite_Web.Controllers.UserBaseController.GetAccountMainID();
    }
}
<script>
    window.location.href = "@Url.Action("ShopIndex", "MicroMall", new { AMID = accountMainID })";
</script>
<div data-role="content">
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <a href="http://baidu.com">
                <div class="ui-body ui-body-d listItem1" style="margin-right: 10px;">
                    项目介绍
                </div>
            </a>
        </div>
        <div class="ui-block-b">
            <a href="@Url.Action("Index", "MicroNew", new { AMID = accountMainID, ID = 0, ListCnt = 10 })">
                <div class="ui-body ui-body-d listItem1" style="margin-left: 10px;">
                    活动资讯</div>
            </a>
        </div>
    </div>
    <div class="ui-grid-solo">
        <div class="ui-block-a">
            <div class="listItem2 ui-shadow">
                <div class="listItem_text font_title">
                    <div>
                        户型图</div>
                </div>
                <div class="listItem_img">
                    <img src="@Url.Content("/Images/366585.jpg")" />
                </div>
                <div style="clear: both">
                </div>
            </div>
        </div>
    </div>
    <div class="ui-grid-solo">
        <div class="ui-block-a">
            <div class="listItem2 ui-shadow">
                <div class="listItem_img">
                    <img src="@Url.Content("/Images/366585.jpg")" />
                </div>
                @*<a href="@Url.Action("index", "Panorama")">*@ <a href="@Url.Content("/css3d_panorama.html")">
                    <div class="listItem_text font_title">
                        <div>
                            360度全景图</div>
                    </div>
                </a>
                <div style="clear: both">
                </div>
            </div>
        </div>
    </div>
</div>
