@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Set;
}
@model Poco.Account
<div class="title">
    设置</div>
<div class="bodyLeft">
    <ul class="ulList">
        <li class="select">@Html.ActionLink("个人信息", "Index", "Set", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("基础设置", "Index", "BasisSet", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("安装App自动回复", "Index", "InstallAppReply", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("关键词自动回复", "Index", "KeywordMessage", new { HostName = ViewBag.HostName }, null, true)</li>
    </ul>
</div>
<div class="bodyRight">
    @using (Html.BeginForm("Edit", "BasisSet", new { HostName = ViewBag.HostName }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset style="border: 1px solid #d3d3d3;">
            <legend>账号信息</legend>
            <table>
                <tr>
                    <td class="tdTitle">
                        名称
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Name)@Html.HiddenFor(a => a.ID)@Html.HiddenFor(a => a.AccountStatusID)@Html.HiddenFor(a => a.IsActivated)@Html.HiddenFor(a => a.RoleID)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        邮箱
                    </td>
                    <td>@Html.TextBoxFor(a => a.Email, new { val = Model.ID })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        密码
                    </td>
                    <td>@Html.PasswordFor(a => a.LoginPwdPage)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.LoginPwdPage)
                    </td>
                </tr>
                <tr>
                    <td>
                        确认密码
                    </td>
                    <td>@Html.PasswordFor(a => a.LoginPwdPageCompare)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.LoginPwdPageCompare)
                    </td>
                </tr>
                <tr>
                    <td>
                        电话
                    </td>
                    <td>@Html.TextBoxFor(a => a.Phone)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Phone)
                    </td>
                </tr>
                <tr>
                    <td>
                        头像
                    </td>
                    <td>
                        <img id="imgLogo" style="max-width: 80px; max-height: 80px; float: left" src="@Url.Content(Model.HeadImagePath)"/>
                        <input type="file" id="HeadImagePathFile" name="HeadImagePathFile" />
                        @Html.TextBoxFor(a => a.HeadImagePath, new { style = "width:0px;visibility:hidden" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HeadImagePath)
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" />
        </div>
    }
</div>
<div style="clear: both">
</div>
