@{
    ViewBag.Title = "周边外卖";
    Layout = "~/Views/Shared/_LayoutSystemUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.MerchantManager;
}
@model PagedList<Poco.MerchantPoco.M_TakeOut>
<div class="title">
    周边外卖管理</div>
<div class="body">
    <div class="option">
    </div>
    <table class="tableList" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width: 50px;">
                商户
            </th>
            <th style="width: 90px;">
                标题
            </th>
            <th style="width: 90px;">
                商品名称
            </th>
            <th style="width: 200px;">
                审核状态
            </th>
            <th style="width: 150px;">
                发布状态
            </th>
            <th style="width: 200px;">
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Merchant.Name
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @foreach (var detail in item.M_TakeOutDetails)
                    {
                        <div>
                            detail.Title</div>
                    }
                </td>
                <td>
                    @item.EnumDataStatus.EnumDataStatusGetValue()
                </td>
                <td>
                    @item.IsPublish==true?"已发布":"未发布"
                </td>
                <td class="operation" style="line-height: 20px">
                    @Html.ActionLink("详细", "Detail", "M_TakeOut", new { Area = "Manager", id = item.ID }, null, true)
                    @Html.ActionLink("修改状态", "Edit", "M_TakeOut", new { Area = "Manager", id = item.ID }, null, true)
                </td>
            </tr>
        }
    </table>
    <div class="pages">
        @Html.Pager(Model, new PagerOptions
           {
               PageIndexParameterName = "ID",
               CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
               NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
               NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
               CssClass = "manage_pages pages",
               SeparatorHtml = "&nbsp;",
               AutoHide = false,
               /*LastPageText = "Last",
               FirstPageText = "First",
               PrevPageText = "Back",
               NextPageText = "Next",*/
               PageIndexOutOfRangeErrorMessage = "Page index out of range.",
               ShowFirstLast = false
           })
    </div>
</div>
