@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Product;
}
@section head{
    <script src="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.all.js")" type="text/javascript"></script>
<script type="text/javascript">
    

    $(function () {

        window.UEDITOR_HOME_URL = "/ueditor/";
        //实例化编辑器
        var options = {
            initialFrameWidth: '600',
            initialFrameHeight: 300,
            imageUrl: UEDITOR_HOME_URL + "net/imageUp_Advertorial.ashx",
            imagePath: "",
            imageManagerUrl: UEDITOR_HOME_URL + "net/imageManager_LibraryImageText.ashx",
            imageManagerPath: "",
            initialContent: ""
        };

        var ue = UE.getEditor('editor', options);



        $("#HousTypeImagePathFile").change(function () {
            var fileName = $("#HousTypeImagePathFile").val();
            $("#HouseTypeImagePath").val(fileName);
            var suffix = fileName.substring(fileName.lastIndexOf('.')).toLowerCase();
            $("span[data-valmsg-for='HouseTypeImagePath']").empty().attr("class", "field-validation-valid");
            switch (suffix) {
                case ".jpg":
                case ".jpeg":
                case ".png":
                case ".gif":
                case ".bmp":
                    break;
                default:
                    $("span[data-valmsg-for='HouseTypeImagePath']").text("支持下列图片格式：.jpg|.jpeg|.png|.gif|.bmp").attr("class", "field-validation-error");
                    break;
            }
            var input = this;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#imgHousType").attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
            return false;
        });


    });



    function SelParent() {
        var ID =0;
        var YZUrl = '@Url.Action("ShowParent", "Classify", new { Area = "", HostName = "" })' + "?id=" + ID;


        $("#iframeshow").attr("src", YZUrl);
        $("#showParent").dialog({
            resizable: false,
            height: 650,
            width: 355,
            modal: true,
            draggable: false,
            buttons: {
                "确定": function () {
                    var subDocument = $(window.frames["iframeshow"].document);
                    var sel = subDocument.find("#browser").find(":checked")
                    if (sel.length <= 0) {
                        JAlert({
                            Message: "请选择一个上级节点。",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return;
                    }
                    $("#ClassifyID").val(sel.attr("id"));
                    $("#CID").text(sel.attr("title"));
                    $(this).dialog("close");
                },
                "取消": function () {
                    $("#iframeshow").attr("src", "");
                    $(this).dialog("close");
                }
            }
        });



    }




    </script>
}
@model Poco.Product
<div class="title">
    添加产品
</div>
<div class="body">
    @using (Html.BeginForm("Add", "Product", new { HostName = ViewBag.HostName }, FormMethod.Post, new { enctype = "multipart/form-data"}))
    {
        <fieldset>
            <legend>基本信息</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        &nbsp;&nbsp; 图片
                    </td>
                    <td class="tdField"><img  src="@Url.Content("~/Images/nopicture_icon.png")" id="imgHousType" style="max-width: 220px;  float: left" />
                        <input type="file" id="HousTypeImagePathFile" name="HousTypeImagePathFile"  />

                        @Html.TextBoxFor(a => a.imgFilePath, new { style = "width:0px;visibility:hidden" })
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 产品名称
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Name)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Name)
                    </td>
                </tr>
                
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 售价
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Price)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Price)
                    </td>
                </tr>
                 <tr>
                    <td class="tdTitle ">
                        <span class="Identification">*</span> 类别
                    </td>
                    <td class="tdField operation">
                        <label id="CID"></label><a id="selPclass" style=" margin:15px" onclick="SelParent()">选择..</a>
                        @Html.TextBoxFor(a => a.ClassifyID, new { style = "visibility:hidden" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.ClassifyID)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                       &nbsp;&nbsp; 规格
                    </td>
                    <td class="tdField">
                        @Html.TextBoxFor(a => a.Specification)
                    </td>
                    <td>
                    </td>
                </tr>
                 <tr>
                    <td class="tdTitle">
                        &nbsp;&nbsp; 介绍
                    </td>
                    <td colspan="2" class="tdField">
                           <script type="text/plain" id="editor" height="300px" width="330px" name="Introduction"></script>
                    </td>
                </tr>
            </table>
        </fieldset>
     
     
        <div class="action">
            <input type="submit" id="btnSubmit" class="button" value="保存" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
    }
</div>
<div id="showParent" title="选择上级" style="display: none; overflow: hidden">
    <iframe id="iframeshow" src="" style="width: 800px; height: 530px; border: none;
        overflow: hidden"></iframe>
</div>
