@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Product;
}
@section head{
}
@model PagedList<Poco.Product>
<div class="title">
    产品管理</div>

<div class="bodyLeft">
    <ul class="ulList">

        <li  class="select">@Html.ActionLink("产品管理", "Index", "Product", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("类别管理", "Index", "Classify", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("订单类型", "Index", "OrderMType", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("节假日管理", "Index", "Holiday", new { HostName = ViewBag.HostName }, null, true)</li>
    </ul>
</div>
<div class="bodyRight">
    <div class="option">@Html.ActionLink("添加", "Add", "Product", new { HostName = ViewBag.HostName }, null, true)</div>
    <table class="tableList" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width: 110px; ">
                图片
            </th>
            <th style="width: 180px; word-wrap: break-word; word-break: normal;">
                产品名称
            </th>
            <th style="width: 100px; word-wrap: break-word; word-break: normal;">
                规格
            </th>
            <th style="width: 100px; word-wrap: break-word; word-break: normal;"> 
                类别
            </th>
            <th>
                售价
            </th>
             <th>
                状态
            </th>
            <th style="width: 100px;">
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.imgFilePath)" style=" max-width:98px" />
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Specification
                </td>
                <td>
                    @item.Classify.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @switch (item.Status)
                    {
                        case (int)Poco.Enum.EnumProductType.Normal:
                            @:正常
                            break;
                        case (int)Poco.Enum.EnumProductType.OffShelves:
                            @:下架
                            break;
                        case (int)Poco.Enum.EnumProductType.Shortages:
                            @:缺货
                            break;
                    }
                </td>
                 <td class="operation">

                    @Html.ActionLink("修改", "Edit", "Product", new { HostName = ViewBag.HostName, id = item.ID }, new { style = "padding-right:15px" }, true)
                   
                    @Ajax.ActionLink("删除", "Delete", "Product", new { HostName = ViewBag.HostName, id = item.ID }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('确定删除?','" + Url.Action("Delete", "Product", new { HostName = ViewBag.HostName, id = item.ID }) + "',null)" }, true)
                    
                </td>
            </tr>
        }
    </table>
    <div class="pages">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
</div>
<div style="clear: both">
</div>
