@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    ViewBag.Menu2 = Poco.SystemConst.Menu.UserManage;
    ViewBag.Menu3 = Poco.SystemConst.Menu.UserManage;
}
@section head{
}
@model PagedList<Poco.User>
<div class="title">
    @Html.Partial("Menu3")
</div>
<div class="body">
    <table class="tableList" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width: 120px;">
                头像
            </th>
            <th style="width: 200px;">
                名称(备注)
            </th>
            <th style="width: 150px;">
                电话
            </th>
            <th style="width: 100px;">
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <td>
                @if (!string.IsNullOrEmpty(item.UserLoginInfo.HeadImagePath))
                { 
                    <img id="imgLogo" style="max-width:80px;max-height:80px;"
                src="@Url.Content(item.UserLoginInfo.HeadImagePath)" />
                }
                else
                { 
                    <img style="max-height: 50xp; border:0px; max-width: 50px" width="50px" src="@Url.Content("~/Images/default_Avatar.png")" />
                            
                }
            </td>
            <td class="operation">
                <label name="labCbFirst" title="沟通开始">
                    <a  href="@Url.Action("Index", "SingleChat", new { HostName = ViewBag.HostName, id = 1, userID = item.ID })" target="_blank">
                        @item.UserLoginInfo.Name
                        @if (string.IsNullOrEmpty(item.Name) == false)
                        {
                            @:(@item.Name)
                         }
                    </a>
                </label>
            </td>
            <td>
                @item.Phone
            </td>
            <td class="operation">
                    @Html.ActionLink("详细", "ViewUser", "UserManage", new { userID = item.ID }, null)
                    <br />
                    <label name="labCbFirst" title="该用户与之前的销售代表聊天记录">
                        <a href="@Url.Action("HistoryMes", "SingleChat", new {  userID = item.ID })" style=" margin-left:-5px" target="_blank" title="">
                            聊天历史</a>
                    </label>
                </td>
        }
    </table>
</div>
