@{
    
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var groupList = ViewBag.GroupList as List<Poco.Group>;

    var uasertag = ViewBag.UserTag as List<Poco.UserTag>;
    var hostName = ViewBag.HostName;
    ViewBag.Menu = Poco.SystemConst.Menu.UserManage;
}
@section head{
    <script type="text/javascript">
        $(function () {
            var userTag = "@Model.UserTagID"
            if (userTag == undefined || userTag == "") {
                $("#UserTagID").val("1");
            }
            else {
                $("#UserTagID").val(userTag);
            }
        });
    </script>
}
@model Poco.User
<div class="title">
    @Html.Partial("Menu3")</div>
<div class="bodyLeft">
    <ul class="ulList" id="ulGroup">
        <li><a href="@Url.Action("Index", "InstantMes", new { HostName = ViewBag.HostName })">
            销售消息 </a></li>
        <li>@Html.ActionLink("销售与客户管理", "Index", "SalesMessage", new { HostName = ViewBag.HostName }, null, true)
        </li>
        <li style="height: 10px; background-color: #f0f0f0; border-bottom: 1px solid #d3d3d3;
            border-top: 1px solid #d3d3d3"></li>
        @foreach (var item in groupList)
        {
            if (item.IsDefaultGroup)
            { 
            <li class="select"><a href="@Url.Action("Index", "UserManage", new { HostName = hostName, groupID = item.ID })">@item.GroupName&nbsp;(@item.Account_Users.Where(a => a.SystemStatus == (int)Poco.Enum.EnumSystemStatus.Active).Count())</a>
            </li>
            }
            else
            {  
            <li><a href="@Url.Action("Index", "UserManage", new { HostName = hostName, groupID = item.ID })">@item.GroupName&nbsp;(@item.Account_Users.Where(a => a.SystemStatus == (int)Poco.Enum.EnumSystemStatus.Active).Count())</a>
            </li>
            }
        }
    </ul>
</div>
<div class="bodyRight">
    @using (Ajax.BeginForm("EditUser", "UserManage", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <fieldset>
            <legend>用户</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        名称
                    </td>
                    <td class="tdField">@Model.UserLoginInfo.Name @Html.HiddenFor(a => a.ID)@Html.HiddenFor(a => a.AccountStatusID)@Html.HiddenFor(a => a.AccountMainID)@Html.HiddenFor(a => a.UserLoginInfoID)@Html.HiddenFor(a => a.CreateDate)
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        头像
                    </td>
                    <td class="tdField">
                        @if (string.IsNullOrEmpty(Model.UserLoginInfo.HeadImagePath) == false)
                        { 
                            <img style="max-width:80px;max-height:80px; float: left" src="@Url.Content(Model.UserLoginInfo.HeadImagePath)" />
                        }
                        else
                        { 
                            <img style="max-height: 50xp; border:0px; max-width: 50px" width="50px" src="@Url.Content("~/Images/default_Avatar.png")" />
                            
                        }
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        备注
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Name)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Name)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        电话
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Phone)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Phone)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        身份证
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.IdentityCard)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.IdentityCard)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        标签
                    </td>
                    <td class="tdField">
                        <select name="UserTagID" id="UserTagID">
                            @foreach (var item in uasertag)
                            {
                                <option value="@item.ID">@item.TagName</option>
                            }
                        </select>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" class="button" value="保存" /><input type="button" value="返回" class="button" style=" margin-left:10px" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
    }
</div>
<div style="clear: both">
</div>
