@{

    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var groupList = ViewBag.GroupList as List<Poco.Group>;
    var groupID = (int)ViewBag.GroupID;
    var defaultGroupID = (int)ViewBag.DefaultGroupID;
    var hostName = ViewBag.HostName;
    var loginAccountID = (int)ViewBag.LoginAccountID;
    ViewBag.Menu = Poco.SystemConst.Menu.UserManage;
}
@section head{
    <script type="text/javascript">
        $(function () {
            var addGroupUrl = '@Url.Action("AddGroup", "UserManage", new { HostName = ViewBag.HostName, currentGroupID = groupID })';
            var editGroupUrl = '@Url.Action("EditGroup", "UserManage", new { HostName = ViewBag.HostName, currentGroupID = groupID })';
            var deleteGroupUrl = '@Url.Action("DeleteGroup", "UserManage", new { HostName = ViewBag.HostName, currentGroupID = groupID })';
            var changeGroupUrl = '@Url.Action("ChangeGroup", "UserManage", new { HostName = ViewBag.HostName, currentGroupID = groupID })';


            $("label[name=labCbFirst]").each(function () {
                $(this).tipTip({ activation: "hover", delay: 3, defaultPosition: "bottom" });
            });

            $("#btnAddGroup").toggle(function () {
                $("#divAddGroup").show();
                $("#txtGroup").focus();
            }, function () {
                $("#divAddGroup").hide();
            });
            $("#txtGroup").blur(function () {
                var groupName = $.trim($("#txtGroup").val());
                if (groupName.length > 0) {
                    $.ajax({
                        type: "post",
                        data: { groupName: groupName },
                        url: addGroupUrl,
                        success: function (result) {
                            if (result != undefined && result != null && result.length > 0) {
                                eval(result);
                                $("#txtGroup").val("");
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            JAlert({
                                Message: "Internal Server Error.",
                                DialogType: "Ok",
                                BtnOk: "确定"
                            });
                        }
                    });
                }
                $("#btnAddGroup").click();
            }).keydown(function () {
                if (event.keyCode == 13) {
                    $(this).blur();
                }
            });

            $("#ulGroup li").live("mouseover", function () {
                $(this).find(".span_option").show();
            }).live("mouseout", function () {
                $(this).find(".span_option").hide();
            });

            $("#ulGroup li .span_edit").live("click", function () {
                var li = $(this).parent("span").parent("li");
                li.find("*").hide();
                var rawText = $(this).attr("value");
                var rawGroupID = $(this).attr("gID");
                var txtEditGroup = $("<input name='txtEditGroup' type='text' style='height: 24px; width: 165px;margin-left: 15px;' value='" + rawText + "' />");
                li.append(txtEditGroup);
                txtEditGroup.blur(function () {
                    var groupName = $.trim($(this).val());
                    if (groupName.length > 0 && rawText != groupName) {
                        $.ajax({
                            type: "post",
                            data: { groupID: rawGroupID, groupName: groupName },
                            url: editGroupUrl,
                            success: function (result) {
                                if (result != undefined && result != null && result.length > 0) {
                                    eval(result);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                JAlert({
                                    Message: "Internal Server Error.",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                            }
                        });
                    }
                    $(this).remove();
                    li.find("*").show();
                });
                li.find(":text").focus();
            });
            $("#ulGroup li .span_delete").click(function () {
                var rawGroupID = $(this).attr("gID");
                var js = '$.ajax({type: "post",data: {groupID:' + rawGroupID + '},url: "' + deleteGroupUrl +
                         '",success: function (result) {if(result!=undefined&&result!=null&&result.length>0){eval(result);}},' +
                         'error :function(XMLHttpRequest, textStatus, errorThrown){JAlert({Message: "Internal Server Error.",DialogType: "Ok",BtnOk: "确定"});}});';
                JAlert({
                    Message: "删除分组将会把该组已有成员全部移动至未分组里。是否确定删除 ?",
                    DialogType: "confirm",
                    BtnOk: "确定",
                    BtnOkClick: "$(this).dialog('close');" + js,
                    BtnCancel: "取消",
                    BtnCancelClick: "$(this).dialog('close');"
                });
            });
            $(".spanChangeGroup").click(function () {
                var rawGroupID = $(this).attr("rawGroup");
                var userID = $(this).attr("value");
                var newGroupID = $(this).prev().val();
                if (rawGroupID != newGroupID) {
                    $.ajax({
                        type: "post",
                        data: { userID: userID, groupID: newGroupID },
                        url: changeGroupUrl,
                        success: function (result) {
                            if (result != undefined && result != null && result.length > 0) {
                                eval(result);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            JAlert({
                                Message: "Internal Server Error.",
                                DialogType: "Ok",
                                BtnOk: "确定"
                            });
                        }
                    });
                }
            });
        });
    </script>
    <style>
        #ulGroup li
        {
            position: relative;
        }
        .span_option
        {
            font-size: 13px;
            float: right;
            display: none;
            position: absolute;
            top: 0px;
            right: 0px;
        }
        .span_option span
        {
            margin: 0px 3px 0px 0px;
            cursor: pointer;
        }
    </style>
}
@model PagedList<Poco.User>
<div class="title">
    用户管理</div>
<div class="bodyLeft">
    <ul class="ulList" id="ulGroup">
        <li><a href="@Url.Action("Index", "InstantMes", new { HostName = ViewBag.HostName })">
            销售消息 </a></li>
        <li>@Html.ActionLink("销售与客户管理", "Index", "SalesMessage", new { HostName = ViewBag.HostName }, null, true)
        </li>
        <li style="height: 10px; background-color: #F4F4F4; border-bottom: 1px solid #E7E7E7;
            border-top: 1px solid #E7E7E7"></li>
        @foreach (var item in groupList)
        {
            if (item.ID == groupID)
            { 
            <li class="select"><a href="@Url.Action("Index", "UserManage", new { HostName = hostName, groupID = item.ID })">@item.GroupName&nbsp;(@item.Account_Users.Where(a => a.SystemStatus == (int)Poco.Enum.EnumSystemStatus.Active).Count())</a>
                @if (item.IsCanDelete)
                {
                    <span class="span_option"><span class="span_edit" value="@item.GroupName" gID="@item.ID">
                        编辑</span><span class="span_delete" gID="@item.ID">删除</span></span>
                }
            </li>
            }
            else
            {  
            <li><a href="@Url.Action("Index", "UserManage", new { HostName = hostName, groupID = item.ID })">@item.GroupName&nbsp;(@item.Account_Users.Where(a => a.SystemStatus == (int)Poco.Enum.EnumSystemStatus.Active).Count())</a>
                @if (item.IsCanDelete)
                {
                    <span class="span_option"><span class="span_edit" value="@item.GroupName" gID="@item.ID">
                        编辑</span><span class="span_delete" gID="@item.ID">删除</span></span>
                }
            </li>
            }
        }
    </ul>
    <div id="divAddGroup" style="height: 35px; border-top: none; padding-left: 15px;
        cursor: pointer; display: none">
        <input id="txtGroup" type="text" style="height: 24px; margin-top: 2px; width: 165px" />
    </div>
    <div id="btnAddGroup" style="height: 35px; line-height: 35px; border-top: 1px solid #E7E7E7;
        border-bottom: 1px solid #E7E7E7; padding-left: 15px; cursor: pointer">
        新建分组</div>
</div>
<div class="bodyRight">
    <div class="option">
    </div>
    <table class="tableList" style="line-height: 25px" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width: 90px;">
                头像
            </th>
            <th style="width: 200px;">
                名称(备注)
            </th>
            <th style="width: 150px;">
                电话
            </th>
            <th style="width: 150px;">
                分组
            </th>
            <th style="width: 100px;">
                操作
            </th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.UserLoginInfo.HeadImagePath))
                    { 
                        <img id="imgLogo" style="max-width:80px;max-height:80px;"
                src="http://@Url.Content(item.UserLoginInfo.HeadImagePath)" />
                    }
                    else
                    { 
                        <img style="max-height: 50xp; border:0px; max-width: 50px" width="50px" src="@Url.Content("~/Images/default_Avatar.png")" />
                            
                    }
                </td>
                <td class="operation">
                    <label name="labCbFirst" title="沟通开始">
                        <a  href="@Url.Action("Index", "SingleChat", new { HostName = ViewBag.HostName, id = 1, userID = item.ID })" target="_blank">
                            @item.UserLoginInfo.Name
                            @if (string.IsNullOrEmpty(item.Name) == false)
                            {
                                @:(@item.Name)
                                                    }
                        </a>
                    </label>
                </td>
                <td>
                    @item.Phone
                </td>
                <td class="operation">
                    <select>
                        @{
                            int rawGroupID = 0;
                        }
                        @foreach (var groupItem in groupList)
                        {
                            rawGroupID = item.Account_Users.Where(a => a.AccountID == loginAccountID && a.SystemStatus == (int)Poco.Enum.EnumSystemStatus.Active).Select(a => a.GroupID).FirstOrDefault();
                            if (groupItem.ID == rawGroupID)
                            { 
                            <option selected="selected" value="@groupItem.ID">@groupItem.GroupName</option>
                            }
                            else
                            { 
                            <option value="@groupItem.ID">@groupItem.GroupName</option>
                            }
                        }
                    </select>
                    <a><span style="cursor: pointer" class="spanChangeGroup" value="@item.ID" rawGroup="@rawGroupID">
                        放入</span></a>
                </td>
                <td class="operation">
                    @Html.ActionLink("详细", "ViewUser", "UserManage", new { HostName = hostName, userID = item.ID }, null)
                    @Html.ActionLink("修改", "EditUser", "UserManage", new { HostName = hostName, userID = item.ID }, null)
                    <br />
                    <label name="labCbFirst" title="该用户与之前的销售代表聊天记录">
                        <a href="@Url.Action("HistoryMes", "SingleChat", new { HostName = hostName, userID = item.ID })" style=" margin-left:-5px" target="_blank" title="">
                            聊天历史</a>
                    </label>
                </td>
            </tr>
            }
        }
    </table>
    <div class="pages">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
</div>
<div style="clear: both">
</div>
