@{
    ViewBag.Title = "ViewUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var groupList = ViewBag.GroupList as List<Poco.Group>;
    var hostName = ViewBag.HostName;
    ViewBag.Menu = Poco.SystemConst.Menu.UserManage;
}
@model Poco.User
<div class="title">
    用户管理</div>
<div class="bodyLeft">
    <ul class="ulList" id="ulGroup">

        <li><a href="@Url.Action("Index", "InstantMes", new { HostName = ViewBag.HostName })">
            销售消息 </a></li>
        <li>@Html.ActionLink("销售与客户管理", "Index", "SalesMessage", new { HostName = ViewBag.HostName }, null, true)
            </li>
        <li style="height: 10px; background-color: #f0f0f0; border-bottom: 1px solid #d3d3d3;
            border-top: 1px solid #d3d3d3"></li>
        @foreach (var item in groupList)
        {
            if (item.IsDefaultGroup)
            { 
            <li class="select"><a href="@Url.Action("Index", "UserManage", new { HostName = hostName, groupID = item.ID })">@item.GroupName&nbsp;(@item.Account_Users.Where(a => a.SystemStatus == (int)Poco.Enum.EnumSystemStatus.Active).Count())</a>
            </li>
            }
            else
            {  
            <li><a href="@Url.Action("Index", "UserManage", new { HostName = hostName, groupID = item.ID })">@item.GroupName&nbsp;(@item.Account_Users.Where(a => a.SystemStatus == (int)Poco.Enum.EnumSystemStatus.Active).Count())</a>
            </li>
            }
        }
    </ul>
</div>
<div class="bodyRight">
    <fieldset style="border: 1px solid #d3d3d3;">
        <legend>用户</legend>
        <table class="tableForm">
            <tr>
                <td class="tdTitle">
                    名称(备注):
                </td>
                <td class="tdField">@Model.UserLoginInfo.Name（@Model.Name）
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    头像:
                </td>
                <td>
                   @if (string.IsNullOrEmpty(Model.UserLoginInfo.HeadImagePath) == false)
                        { 
                            <img style="max-width:80px;max-height:80px; float: left" src="@Url.Content(Model.UserLoginInfo.HeadImagePath)" />
                        }
                        else
                        { 
                            <img style="max-height: 50xp; border:0px; max-width: 50px" width="50px" src="@Url.Content("~/Images/default_Avatar.png")" />
                            
                        }
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    住址:
                </td>
                <td>
                    @Model.UserLoginInfo.Address
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    电话:
                </td>
                <td>
                    @Model.Phone
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    身份证:
                </td>
                <td>
                    @Model.IdentityCard
                </td>
                <td>
                </td>
            </tr>
        </table>
    </fieldset>
    <div class="action">
       <input type="button" class="button" value="返回" onclick="location.href='@ViewBag.RawUrl'" />
    </div>
</div>
<div style="clear: both">
</div>
