@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Task;
}
@model PagedList<Poco.TaskRule>
<div class="title">
    任务管理</div>
<div class="bodyLeft">
    <ul class="ulList">
        <li>@Html.ActionLink("任务管理", "Index", "Task", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("我的任务", "Index", "BasisSet", new { HostName = ViewBag.HostName }, null, true)</li>
        <li class="select">@Html.ActionLink("任务规则制定", "Index", "TaskRule", new { HostName = ViewBag.HostName }, null, true)</li>
    </ul>
</div>
<div class="bodyRight">
    <div class="option">
        <div class="option">@Html.ActionLink("制定任务规则", "Add", "TaskRule", new { HostName = ViewBag.HostName }, new { @class = "button" }, true)</div>
    </div>
    <table class="tableList" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width: 440px;">
                规则名称
            </th>
            <th style="width: 130px;">
                规则类型
            </th>
            <th>
                操作
            </th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.TaskInfoName
                </td>
                <td>
                    @switch (item.EnumTaskType)
                    {
                        case (int)Poco.Enum.EnumTaskType.Text:
                        @:文字描述
                                                break;
                        case (int)Poco.Enum.EnumTaskType.Number:
                        @:数字要求
                                                break;
                        case (int)Poco.Enum.EnumTaskType.Percent:
                        @:百分比要求
                                                break;
                    }
                </td>
                <td class="operation">
                    @Html.ActionLink("修改", "Edit", "TaskRule", new { HostName = ViewBag.HostName, id = item.ID }, null)
                    @Ajax.ActionLink("删除", "Delete", "TaskRule", new { HostName = ViewBag.HostName, id = item.ID, }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('确定删除?','" + Url.Action("Delete", "TaskRule", new { HostName = ViewBag.HostName, id = item.ID }) + "',null)" })
                </td>
            </tr>
            }
        }
    </table>
    <div class="pages">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
</div>
<div style="clear: both">
</div>
