@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.Product;
    ViewBag.Menu3 = Poco.SystemConst.Menu.Product;
}
@section head{
    <script src="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.all.js")" type="text/javascript"></script>
    <script type="text/javascript">

        var UpImgUrl = '@Url.Action("UpImg", "Ajax", new { HostName = ViewBag.HostName })';
        $(function () {

            $("#Status").val("@ViewBag.Tstatus");

            window.UEDITOR_HOME_URL = "/ueditor/";
            //实例化编辑器
            var options = {
                initialFrameWidth: '600',
                initialFrameHeight: 300,
                imageUrl: UEDITOR_HOME_URL + "net/imageUp_Advertorial.ashx",
                imagePath: "",
                imageManagerUrl: UEDITOR_HOME_URL + "net/imageManager_LibraryImageText.ashx",
                imageManagerPath: "",
                initialContent: ""
            };

            var ue = UE.getEditor('editor', options);



            $("#file_upload1").uploadify({
                height: 25,
                swf: '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
                uploader: UpImgUrl,
                width: 70,
                fileSizeLimit: '5MB',
                buttonText: '选择图片',
                multi: false,
                fileTypeExts: '*.jpg;*.jpge;*.gif;*.png;*.bmp',
                onUploadSuccess: function (file, data, response) {

                    if (data == "" || data == undefined || data == "false") {
                        JAlert({
                            Message: "上传失败请重新上传！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return;
                    }

                    $("#imgLogo1").attr('src', data);

                    $("#imgpath1").val(data);


                }

            });


            $("#file_upload2").uploadify({
                height: 25,
                swf: '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
                uploader: UpImgUrl,
                width: 70,
                fileSizeLimit: '5MB',
                buttonText: '选择图片',
                multi: false,
                fileTypeExts: '*.jpg;*.jpge;*.gif;*.png;*.bmp',
                onUploadSuccess: function (file, data, response) {

                    if (data == "" || data == undefined || data == "false") {
                        JAlert({
                            Message: "上传失败请重新上传！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return;
                    }

                    $("#imgLogo2").attr('src', data);
                    $("#imgpath2").val(data);


                }

            });

            $("#file_upload3").uploadify({
                height: 25,
                swf: '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
                uploader: UpImgUrl,
                width: 70,
                fileSizeLimit: '5MB',
                buttonText: '选择图片',
                multi: false,
                fileTypeExts: '*.jpg;*.jpge;*.gif;*.png;*.bmp',
                onUploadSuccess: function (file, data, response) {

                    if (data == "" || data == undefined || data == "false") {
                        JAlert({
                            Message: "上传失败请重新上传！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return;
                    }

                    $("#imgLogo3").attr('src', data);
                    $("#imgpath3").val(data);


                }

            });

            $("#file_upload4").uploadify({
                height: 25,
                swf: '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
                uploader: UpImgUrl,
                width: 70,
                fileSizeLimit: '5MB',
                buttonText: '选择图片',
                multi: false,
                fileTypeExts: '*.jpg;*.jpge;*.gif;*.png;*.bmp',
                onUploadSuccess: function (file, data, response) {

                    if (data == "" || data == undefined || data == "false") {
                        JAlert({
                            Message: "上传失败请重新上传！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return;
                    }

                    $("#imgLogo4").attr('src', data);
                    $("#imgpath4").val(data);


                }

            });

            $("#file_upload5").uploadify({
                height: 25,
                swf: '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
                uploader: UpImgUrl,
                width: 70,
                fileSizeLimit: '5MB',
                buttonText: '选择图片',
                multi: false,
                fileTypeExts: '*.jpg;*.jpge;*.gif;*.png;*.bmp',
                onUploadSuccess: function (file, data, response) {

                    if (data == "" || data == undefined || data == "false") {
                        JAlert({
                            Message: "上传失败请重新上传！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return;
                    }

                    $("#imgLogo5").attr('src', data);
                    $("#imgpath5").val(data);


                }

            });


        });



        function SelParent() {
            var ID = 0;
            var YZUrl = '@Url.Action("ShowParent", "Classify", new { Area = "", HostName = "" })' + "?id=" + ID;


            $("#iframeshow").attr("src", YZUrl);
            $("#showParent").dialog({
                resizable: false,
                height: 650,
                width: 355,
                modal: true,
                draggable: false,
                buttons: {
                    "确定": function () {
                        var subDocument = $(window.frames["iframeshow"].document);
                        var sel = subDocument.find("#browser").find(":checked")
                        if (sel.length <= 0) {
                            JAlert({
                                Message: "请选择一个上级节点。",
                                DialogType: "Ok",
                                BtnOk: "确定"
                            });
                            return;
                        }
                        $("#ClassifyID").val(sel.attr("id"));
                        $("#CID").text(sel.attr("title"));
                        $(this).dialog("close");
                    },
                    "取消": function () {
                        $("#iframeshow").attr("src", "");
                        $(this).dialog("close");
                    }
                }
            });



        }




    </script>
}
@model Poco.Product
@{
    var pimgList = Model.ProductImg.ToList();  
}
<div class="title">
    @Html.Partial("Menu3")
</div>
<div class="body">
    @using (Html.BeginForm("Edit", "Product", new { HostName = ViewBag.HostName }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>基本信息</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        &nbsp;&nbsp; 图片
                    </td>
                    <td class="tdField" colspan="2">
                        @for (int i = 0; i < 5; i++)
                        {
                            if (i < pimgList.Count())
                            { 
                            <div>
                                <div style="float: left; max-width: 110px; margin: 2px 2px">
                                    <img id="imgLogo@(i + 1)" style="max-width: 100px; max-height: 100px; float: left"  src = "@(Poco.SystemConst.WebUrlIP + Url.Content(pimgList[i].PImgOriginal))"/>
                                </div>
                                <div style="float: left; width: 110px">
                                    <input id="file_upload@(i + 1)" name="file_upload" type="file" multiple="false" />
                                    <input type="hidden" id="imgpath@(i + 1)" name="imgpath@(i + 1)" value="@pimgList[i].PImgOriginal" />
                                </div>
                            </div>
                            <div style="clear: both">
                            </div>
                            }
                            else
                            { 
                                <div>
                                <div style="float: left; max-width: 110px; margin: 2px 2px">
                                    <img id="imgLogo@(i + 1)" style="max-width: 100px; max-height: 100px; float: left"  />
                                </div>
                                <div style="float: left; width: 110px">
                                    <input id="file_upload@(i + 1)" name="file_upload" type="file" multiple="false" />
                                    <input type="hidden" id="imgpath@(i + 1)" name="imgpath@(i + 1)" />
                                </div>
                            </div>
                            <div style="clear: both">
                            </div>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 产品名称
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Name) @Html.HiddenFor(a => a.ID)@Html.HiddenFor(a => a.AccountMainID)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Name)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 售价
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Price)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Price)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 运费
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Freight)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Freight)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle ">
                        <span class="Identification">*</span> 类别
                    </td>
                    <td class="tdField operation">
                        <label id="CID">@Model.Classify.Name</label><a id="selPclass" style="margin: 15px"
                            onclick="SelParent()">选择..</a>
                        @Html.TextBoxFor(a => a.ClassifyID, new { style = "visibility:hidden" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.ClassifyID)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        &nbsp;&nbsp; 规格
                    </td>
                    <td class="tdField">
                        @Html.TextBoxFor(a => a.Specification)
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 状态
                    </td>
                    <td class="tdField">
                        @Html.DropDownListFor(a => a.Status, ViewData["Status"] as List<SelectListItem>, new { })
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        &nbsp;&nbsp; 介绍
                    </td>
                    <td colspan="2" class="tdField">
                        <script type="text/plain" id="editor" height="300px" width="330px" name="Introduction">@Html.Raw(Model.Introduction)</script>
                    </td>
                </tr>
            </table>
        </fieldset>
     
     
        <div class="action">
            <input type="submit" id="btnSubmit" class="button" value="保存" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
    }
</div>
<div id="showParent" title="选择上级" style="display: none; overflow: hidden">
    <iframe id="iframeshow" src="" style="width: 800px; height: 530px; border: none;
        overflow: hidden"></iframe>
</div>
