@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.Product;
    ViewBag.Menu3 = Poco.SystemConst.Menu.Product;
}
@section head{
    <script>
        $(function () {
            $("label[name=labCbFirst]").each(function () {
                $(this).tipTip({ activation: "hover", delay: 3, defaultPosition: "bottom" });
            });

        });

        //pid 产品ID ，Release 是否发布
        function UPRelease(PID, Release) {
            var id = "@ViewBag.pageID";
            if (id == undefined || id == "") {
                id = 1;
            }
            $("#productID").val(PID);
            $("#Release").val(Release);
            $("#pageID").val(id);
            $("#btnRelease").click();
        }
    </script>
}
@model PagedList<Poco.Product>
<div class="title">
    <div style="float: right">
        <a href="http://@ViewBag.WeiURL" target="_blank" style=" color:#00aec8">点击进入微商城</a></div>
    @Html.Partial("Menu3")
    <div style="clear: both">
    </div>
</div>
<div class="body">
    <div class="option">@Html.ActionLink("添加", "Add", "Product", new { HostName = ViewBag.HostName }, null, true)</div>
    <table class="tableList" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width: 180px; word-wrap: break-word; word-break: normal;">
                产品名称
            </th>
            <th style="width: 100px; word-wrap: break-word; word-break: normal;">
                类别
            </th>
            <th>
                原价
            </th>
            <th style="width: 65px;">
                优惠类型
            </th>
            <th>
                售价
            </th>
            <th>
                状态
            </th>
            <th style="width: 50px;">
                排序
            </th>
            <th style="width: 120px;">
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="operation">
                    <label name="labCbFirst" title="查看详细">
                        <a href="@Url.Action("SelectProduct", "Product", new { ID = item.ID })"  target="_blank">@item.Name</a>
                    </label>
                </td>
                <td>
                    @item.Classify.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @switch (item.EnumProductDiscountType)
                    {
                        case (int)Poco.Enum.EnumProductDiscountType.No:
                        @:无
                            break;
                        case (int)Poco.Enum.EnumProductDiscountType.Discount:
                        @:折扣
                            break;
                        case (int)Poco.Enum.EnumProductDiscountType.preferential:
                        @:优惠
                        break;
                        case (int)Poco.Enum.EnumProductDiscountType.Promotion:
                        @:促销
                                            break;
                    }
                </td>
                <td>
                    @item.DiscountPrice
                </td>
                <td>
                    @switch (item.Status)
                    {
                        case (int)Poco.Enum.EnumProductType.Normal:
                        @:正常
                            break;
                        case (int)Poco.Enum.EnumProductType.OffShelves:
                        @:下架
                            break;
                        case (int)Poco.Enum.EnumProductType.Shortages:
                        @:缺货
                                            break;
                    }
                </td>
                <td>
                </td>
                <td class="operation">
                    @if (item.IsRelease)
                    { 
                        <label name="labCbFirst" title="点击撤销发布">
                            <span onclick="UPRelease(@item.ID,false)" style=" cursor:pointer; color:#00A4BD">已发布</span>
                        </label>
                    }
                    else
                    { 
                        <label name="labCbFirst" title="点击发布产品">
                            <span  onclick="UPRelease(@item.ID,true)" style=" cursor:pointer; color:red">未发布</span>
                        </label>
                    }
                    @Html.ActionLink("修改", "Edit", "Product", new { HostName = ViewBag.HostName, id = item.ID }, new { }, true)
                    @Ajax.ActionLink("删除", "Delete", "Product", new { HostName = ViewBag.HostName, id = item.ID }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('确定删除?','" + Url.Action("Delete", "Product", new { HostName = ViewBag.HostName, id = item.ID }) + "',null)" }, true)
                </td>
            </tr>
        }
    </table>
    <div class="pages">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
    @using (Html.BeginForm("Release", "Product", new { HostName = ViewBag.HostName }, FormMethod.Post))
    {
        <input type="hidden" id="productID" name="productID" />
        <input type="hidden" id="Release" name="Release" />
        <input type="hidden" id="pageID" name="pageID" />
        <input type="submit" id="btnRelease" style="visibility: hidden" />
    }
</div>
<div style="clear: both">
</div>
