@{
   
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";

    ViewBag.Menu = 11;
    int[] Community = ViewBag.Community;
}
@section head{
    <script src="@Url.Content("/ueditor/ueditor.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.all.js")" type="text/javascript"></script>
    <script>
        $(function () {
            window.UEDITOR_HOME_URL = "/ueditor/";
            //实例化编辑器
            var options = {
                initialFrameWidth: '100%',
                initialFrameHeight: 300,
                imageUrl: UEDITOR_HOME_URL + "net/imageUp_Merchant.ashx",
                imagePath: "",
                imageManagerUrl: UEDITOR_HOME_URL + "net/imageManager_LibraryImageText.ashx",
                imageManagerPath: "",
                initialContent: ""
            };

            var ue = UE.getEditor('editor', options);

            var IsPublish = "@Model.IsPublish";
            $("#IsPublish").val(IsPublish);

            $("#btnSubmit").click(function () {
                var cids = GetCommunity();
                if (cids == undefined || cids.length == 0) {
                    JAlert({
                        Message: "请选择小区。",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    $("#hidCommunity").val("");
                    return false;
                } else {
                    $("#hidCommunity").val(cids);
                    return true;
                }
            });

            $("form").submit(function () {
                if ($(".validation-summary-errors").find("li[style!='display:none']").length == 0) {
                    ShowLayout_Later("请稍后", "请稍后，正在努力为您上传数据中...");
                } else {
                    $(".validation-summary-errors").find("li").remove();
                }
            });
        });
    </script>
}
@model Poco.MerchantPoco.M_Move
<div class="title">
    搬家 - 修改信息
</div>
<div class="body">
    @using (Ajax.BeginForm("Edit", "M_Move", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <fieldset style="font-size: 14px">
            <legend>修改信息</legend>
            <table style="width: 100%;">
                <tr>
                    <td class="tdTitle" style="width: 150px">
                        <span class="Identification">*</span> 标题
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Title, new { style = "width:300px" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Title)
                    @Html.HiddenFor(a=>a.ID)
                    @Html.HiddenFor(a=>a.MerchantID)
                    @Html.HiddenFor(a=>a.CreatDate)
                    @Html.HiddenFor(a=>a.PublishDate)
                    @Html.HiddenFor(a=>a.EnumDataStatus)
                   
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle" style="width: 150px">
                        <span class="Identification">*</span> 电话
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Phone, new { style = "width:300px" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Phone)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle" style="width: 150px">
                        <span class="Identification">*</span> 价格
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Price, new { style = "width:300px" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Price)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle" style="width: 150px">
                        <span class="Identification">*</span> 是否发布
                    </td>
                    <td class="tdField">
                        <select id="IsPublish" name="IsPublish">
                            <option value="True">发布</option>
                            <option value="False">不发布</option>
                        </select>
                    </td>
                    <td>
                    </td>
                </tr>
                 <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 绑定小区
                    </td>
                    <td class="tdField" colspan="2">
                        @Html.Partial("Community", Community)
                    </td>
                </tr>
                <tr style="height: 300px">
                    <td class="tdTitle" valign="top">
                        <span class="Identification">*</span> 内容简介
                    </td>
                    <td class="tdField" colspan="2">
                        <script type="text/plain" id="editor" height="300px" name="Content">@Html.Raw(Model.Content)</script>
                         <input type="hidden" name="hidCommunity" id="hidCommunity" />
                    </td>
                </tr>
            </table>
        </fieldset>
        
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
    }
</div>
