@{
  
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Account;
    var roleList = ViewBag.RoleList as List<Poco.Role>;
}
@section head{
    <script src="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var isTruePhone = true;
        var isTrue = true;
        var isCommit = true; //验证只能连续点击一次添加按钮
        var Cnt = 0;
        $(function () {
            var CheckIsExistAdminUrl = '@Url.Action("CheckIsExistAdmin", "Account")';


            var jcrop_api, boundx, boundy;

            function updatePreview(c) {
                if (parseInt(c.w) > 0) {
                    var rx = 120 / c.w;
                    var ry = 120 / c.h;

                    $('#imgLogo').css({
                        width: Math.round(rx * boundx) + 'px',
                        height: Math.round(ry * boundy) + 'px',
                        marginLeft: '-' + Math.round(rx * c.x) + 'px',
                        marginTop: '-' + Math.round(ry * c.y) + 'px'
                    });

                    var rx2 = 80 / c.w;
                    var ry2 = 80 / c.h;
                    $('#imgLogo2').css({
                        width: Math.round(rx2 * boundx) + 'px',
                        height: Math.round(ry2 * boundy) + 'px',
                        marginLeft: '-' + Math.round(rx2 * c.x) + 'px',
                        marginTop: '-' + Math.round(ry2 * c.y) + 'px'
                    });

                    var rx3 = 32 / c.w;
                    var ry3 = 32 / c.h;
                    $('#imgLogo3').css({
                        width: Math.round(rx3 * boundx) + 'px',
                        height: Math.round(ry3 * boundy) + 'px',
                        marginLeft: '-' + Math.round(rx3 * c.x) + 'px',
                        marginTop: '-' + Math.round(ry3 * c.y) + 'px'
                    });
                }
                $('#x1').val(c.x);
                $('#y1').val(c.y);
                $('#w').val(c.w);
                $('#h').val(c.h);
                //获取当前显示图片高宽
                $('#tw').val($("#imgSel").width());
                $('#th').val($("#imgSel").height());
            };


            $("#HeadImagePathFile").change(function () {
                var fileName = $("#HeadImagePathFile").val();
                $("#Account_HeadImagePath").val(fileName);
                var suffix = fileName.substring(fileName.lastIndexOf('.')).toLowerCase();
                $("span[data-valmsg-for='Account_HeadImagePath']").empty().attr("class", "field-validation-valid");
                var isOk = false;
                switch (suffix) {
                    case ".jpg":
                    case ".jpeg":
                    case ".png":
                    case ".gif":
                    case ".bmp":
                        isOk = true;
                        break;
                    default:
                        $("#HeadImagePathFile").val("");
                        $("span[data-valmsg-for='Account_HeadImagePath']").text("支持下列图片格式：.jpg|.jpeg|.png|.gif|.bmp").attr("class", "field-validation-error");
                        break;
                }
                if (isOk) {
                    var input = this;
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            if (Cnt > 0) {
                                jcrop_api.destroy();
                                $('#x1').val("0");
                                $('#y1').val("0");
                                $('#w').val("0");
                                $('#h').val("0");
                                $('#tw').val("0");
                                $('#th').val("0");
                            }
                            $("#imgSel").attr('src', e.target.result);
                            $("#imgLogo").attr('src', e.target.result);
                            $("#imgLogo2").attr('src', e.target.result);
                            $("#imgLogo3").attr('src', e.target.result);



                            $('#imgSel').Jcrop({
                                onChange: updatePreview,
                                onSelect: updatePreview,
                                aspectRatio: 1
                            }, function () {
                                // Use the API to get the real image size
                                var bounds = this.getBounds();
                                boundx = bounds[0];
                                boundy = bounds[1];
                                // Store the API in the jcrop_api variable
                                jcrop_api = this;
                            });
                            Cnt = 1;
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                return false;
            });
            $("#Account_RoleID").change(function () {
                var index = $(this).val();
                var value = $(this).find("option[value='" + index + "']").text();
                if (value == "管理员") {
                    $.get(CheckIsExistAdminUrl, {}, function (result) {
                        if (result.length > 0) {
                            eval(result);
                        } else {

                        }
                    });
                }
            });



            //唯一验证
            $("#Account_Email").blur(function () {

                var values = $("#Account_Email").val();

                if (values != "" && values != undefined) {
                    var YZUrl = '@Url.Action("OnlyValidation", "Ajax", new { Area = "", HostName = "" })';
                    $.post(YZUrl, { tableName: "Account", field: "Email", value: values }, function (result) {

                        if (result == "True") {
                            isTrue = true;
                        }
                        else {
                            isTrue = false;
                            JAlert({
                                Message: "该邮箱已存在！请换个邮箱试试！",
                                DialogType: "Ok",
                                BtnOk: "确定"
                            });
                        }
                    });
                }

            });

            //唯一验证 电话
            $("#Account_Phone").blur(function () {

                var values = $("#Account_Phone").val();

                if (values != "" && values != undefined) {
                    var YZUrl = '@Url.Action("OnlyValidation", "Ajax", new { Area = "", HostName = "" })';
                    $.post(YZUrl, { tableName: "Account", field: "Phone", value: values }, function (result) {

                        if (result == "True") {
                            isTruePhone = true;
                        }
                        else {
                            isTruePhone = false;
                            JAlert({
                                Message: "该电话已存在！请换个电话试试！",
                                DialogType: "Ok",
                                BtnOk: "确定"
                            });
                        }
                    });
                }

            });




            $("#btnSubmit").click(function () {
                if (!isTrue) {
                    JAlert({
                        Message: "该邮箱已存在！请换个邮箱试试！",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                }
                if (!isTruePhone) {
                    JAlert({
                        Message: "该电话已存在！请换个电话试试！",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                }
                if (isTrue && isTruePhone) {
                    return true;
                }
                else {
                    return isTrue;
                }
            });

            $("#parentAccount").click(function () {
                $("#dialogUser").dialog({
                    resizable: false,
                    height: 600,
                    width: 800,
                    modal: true,
                    buttons: {
                        "确定": function () {
                            var uids = "";
                            var name = "";
                            $.each($("#dialogUser").find(":checked"), function (i, n) {
                                uids = $(n).val();
                                name = $(n).attr("nv");
                            });
                            if (uids.length > 0) {
                                $("#Account_ParentAccountID").val(uids);
                                $("#parentAccount").val(name);
                                $(this).dialog("close");
                            } else {
                                $("#parentAccount").val("");
                                $(this).dialog("close");
                            }
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $("#btnClear").click(function () {
                $("#parentAccount").val("");
                $("#Account_ParentAccountID").val("");
                $(":radio").attr("checked", false)
            });
        });
    </script>
    <style type="text/css">
        .middle-out
        {
            width: 320px;
            height: 320px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            border: 1px solid #d0d0d0;
        }
        .ulUser
        {
            padding: 0px;
            margin: 5px 0px;
        }
        .ulUser li
        {
            list-style-type: none;
        }
        .ulUserTitle
        {
            height: 30px;
            line-height: 30px;
        }
        .ulUserList
        {
            min-height: 30px;
            border-bottom: 1px solid #E7E7E7;
        }
    </style>
}
@model Poco.Account_AccountMain
<div class="title">
    添加账号</div>
<div class="body">
    @using (Html.BeginForm("Add", "Account", new { HostName = @ViewBag.HostName }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
        <fieldset style="border: 1px solid #E7E7E7;">
            <legend>头像</legend>
            <table style="line-height: 15px">
                <tr>
                    <td style="width: 365px">
                        <div class="middle-out">
                            <div class="middle-in" style="margin: auto 0px">
                                <img id="imgSel"  src="@Url.Content("~/Images/SelImg.jpg")"   style="max-height:320px; max-width:320px;" />
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                        <div style="width: 120px; height: 120px; overflow: hidden;">
                            <img id="imgLogo" src="@Url.Content("/Images/default_Avatar.png")" style="width:120px; height:120px"/>
                        </div>
                        <span style="font-size: 12px; color: #979797">(120*120)</span>
                        <div style="width: 80px; height: 80px; overflow: hidden; margin-top: 17px">
                            <img id="imgLogo2" src="@Url.Content("/Images/default_Avatar.png")" style="width:80px; height:80px"/>
                        </div>
                        <span style="font-size: 12px; color: #979797">(80*80)</span>
                        <div style="width: 32px; height: 32px; overflow: hidden; margin-top: 17px">
                            <img id="imgLogo3" src="@Url.Content("/Images/default_Avatar.png")" style="width:32px; height:32px"/>
                        </div>
                        <span style="font-size: 12px; color: #979797">(32*32)</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="file" id="HeadImagePathFile" name="HeadImagePathFile" />
                        @Html.TextBoxFor(a => a.Account.HeadImagePath, new { style = "width:0px;visibility:hidden" })
                        @Html.ValidationMessageFor(a => a.Account.HeadImagePath)
                        <div style="display: none">
                            X1
                            <input type="text" size="4" id="x1" name="x1" value="0" />
                            Y1
                            <input type="text" size="4" id="y1" name="y1" value="0" />
                            W
                            <input type="text" size="4" id="w" name="w" value="0" />
                            H
                            <input type="text" size="4" id="h" name="h" value="0" />
                            TW
                            <input type="text" size="4" id="tw" name="tw" value="0" />
                            TH
                            <input type="text" size="4" id="th" name="th" value="0" />
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
        
        <fieldset>
            <legend>账号信息</legend>
            <table>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 名称
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Account.Name)
                        <input type="hidden" id="AccountMainID" name="AccountMainID" value="@ViewBag.AccountMainID" />
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Account.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Identification">*</span> 邮箱
                    </td>
                    <td>@Html.TextBoxFor(a => a.Account.Email)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Account.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Identification">*</span> 电话
                    </td>
                    <td>@Html.TextBoxFor(a => a.Account.Phone)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Account.Phone)
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Identification">*</span> 角色
                    </td>
                    <td>@Html.DropDownListFor(a => a.Account.RoleID, ViewData["Roles"] as List<SelectListItem>, new { })
                    </td>
                    <td id="tdRoleValidation">
                        @Html.ValidationMessageFor(a => a.Account.RoleID)
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Identification"></span>上级账号
                    </td>
                    <td>
                        <input type="text" id="parentAccount" readonly="readonly" />
                        <input type="hidden" id="Account_ParentAccountID" name="Account.ParentAccountID"
                            value="0" />
                    </td>
                    <td>
                        @Html.ValidationMessageFor(a => a.Account.ParentAccountID)
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" style="margin-right: 20px" /><input type="button" value="返回" onclick="location.href='@ViewBag.RawUrl'" class="button" />
        </div>
    }</div>
<div id="dialogUser" title="选择账号" style="display: none;z-index: 99999;">
    <ul class="ulUser">
        <li>
            <input type="button" value="清空" id="btnClear" class="button" />
        </li>
        @foreach (var item in roleList)
        {
            <li>
                <div class="ulUserTitle">@item.Name</div>
                <div class="ulUserList">
                    @foreach (var user in item.Accounts)
                    {
                        <input type="radio" id="cb_@user.ID" value="@user.ID" name="parentAccount" nv="@user.Name" /><label for="cb_@user.ID">@user.Name</label>
                    }
                </div>
            </li>
        }
    </ul>
</div>
