@{
 
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.LibraryImage;
}
@section head{
    <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.all.js")" type="text/javascript"></script>
    <style>
        .divPreview
        {
            width: 320px;
            padding: 10px; /*margin-bottom: 26px;*/
            border: 1px solid #E7E7E7;
            background-color: #fff;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            float: left;
        }
        .divEdit
        {
            width: 525px;
            padding: 10px; /*margin-bottom: 26px;*/
            border: 1px solid #E7E7E7;
            background-color: #F4F4F4;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            margin-left: 25px;
            float: left;
        }
        .item_img_maintext
        {
            position: absolute;
            left: 130px;
            top: 72px;
            z-index: 0;
        }
        .divEdit > form > div > input[type='text'], .divEdit > form > div > textarea
        {
            width: 100%;
        }
        .divEdit > form > div
        {
            margin: 5px 0px 10px 0px;
        }
        .div_title
        {
            margin-bottom: 5px;
        }
    </style>
    <script type="text/javascript">
        var UpImgUrl = '@Url.Action("UpImg", "Ajax", new { HostName = ViewBag.HostName })';
        $(function () {
            var uploadUrl = '@Url.Action("Upload", "LibraryImageText", new { HostName = ViewBag.HostName })';
            window.UEDITOR_HOME_URL = "/ueditor/";
            //实例化编辑器
            var options = {
                initialFrameWidth: '100%',
                initialFrameHeight: 300,
                imageUrl: UEDITOR_HOME_URL + "net/imageUp_LibraryImageText.ashx",
                imagePath: "",
                imageManagerUrl: UEDITOR_HOME_URL + "net/imageManager_LibraryImageText.ashx",
                imageManagerPath: "",
                initialContent: ""
            };

            var ue = UE.getEditor('editor', options);

//            $("#CoverImagePathFile").change(function () {
//                var fileName = $("#CoverImagePathFile").val();
//                if (fileName.length == 0) { return false; }
//                var suffix = fileName.substring(fileName.lastIndexOf('.')).toLowerCase();
//                switch (suffix) {
//                    case ".jpg":
//                    case ".jpeg":
//                    case ".png":
//                    case ".gif":
//                    case ".bmp":
//                        break;
//                    default:
//                        JAlert({
//                            Message: "格式限制：jpg, jpge, gif, png, bmp",
//                            DialogType: "Ok",
//                            BtnOk: "确定"
//                        });
//                        return false;
//                        break;
//                }
//                var input = this;
//                if (input.files && input.files[0]) {
//                    ShowLayout_Later("请稍后", "请稍后，正在努力为您加载图片...");
//                    var reader = new FileReader();
//                    reader.onload = function (e) {
//                        CloseLayout_Later();
//                        $("#imgCoverPreview").attr('src', e.target.result);
//                    };
//                    reader.readAsDataURL(input.files[0]);
//                }
//                return false;
//            });

            $("#file_upload").uploadify({
                height: 30,
                swf: '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
                uploader: UpImgUrl,
                width: 64,
                fileSizeLimit: '5MB',
                multi: false,
                fileTypeExts: '*.jpg;*.jpge;*.gif;*.png;*.bmp',
                onUploadSuccess: function (file, data, response) {

                    if (data == "" || data == undefined || data == "false") {
                        JAlert({
                            Message: "上传失败请重新上传！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return;
                    }

                    $("#imgCoverPreview").attr('src', data);

                    $("#ImagePath").val(data);

                }
            });






            $("form").submit(function () {
                if ($(".validation-summary-errors").find("li[style!='display:none']").length == 0) {
                    ShowLayout_Later("请稍后", "请稍后，正在努力为您上传数据中...");
                } else {
                    $(".validation-summary-errors").find("li").remove();
                }
            });

            $("#btnAdd").click(function () {
                if ($("#ImagePath").val().length <= 0) {
                    JAlert({
                        Message: "请上传封面图片",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    return false;
                }
                return true;
            });

            $("#Title").focus().keyup(function () {
                var title = $(this).val().trim();
                if (title.length == 0) {
                    $("#itemMain_title").text("标题");
                } else {
                    $("#itemMain_title").text(title);
                }
            });

            $("#Summary").keyup(function () {
                var summary = $(this).val().trim();
                if (summary.length == 0) {
                    $("#itemMain_summary").text("摘要");
                } else {
                    $("#itemMain_summary").text($(this).val());
                }
            });


            $("#btnAdd").click(function () {
                $("#valContent").hide();
                if ($.trim(ue.getContentTxt()).length <= 0) {
                    $("#valContent").show();
                }
            });
        });
    </script>
}
@model Poco.LibraryImageText
<div class="title">
    单图文消息</div>
<div class="body">
    <div class="divPreview">
        <div id="itemMain_title" style="width: 300px; word-break: break-all; word-wrap: break-word;">
            @Model.Title</div>
        <div style="height: 160px; position: relative; border: 1px solid #E7E7E7; margin-top: 10px;">
            <span class="item_img_maintext">封面图片</span>
            <img id="imgCoverPreview" src="@Url.Content(Model.ImagePath)" style="width: 298px; max-height: 160px; margin: auto 0px;
                z-index: 1; position: absolute;" />
        </div>
        <div id="itemMain_summary" style="margin-top: 15px; margin-bottom: 10px; width: 300px;
            word-wrap: break-word;">
            @Model.Summary
        </div>
    </div>
    <div class="divEdit">
        @using (Html.BeginForm("Edit", "LibraryImageText", new { }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                <div class="div_title">
                    标题 @Html.ValidationMessageFor(a => a.Title)</div>
                @Html.TextBoxFor(a => a.Title)@Html.HiddenFor(a => a.AccountMainID)
            </div>
            <div>
                <div class="div_title">
                    封面</div>
               @* <input type="button" value="选择文件" onclick="$('#CoverImagePathFile').click()" class="button" />*@
                          <input id="file_upload" name="file_upload" type="file" multiple="false" />
                @Html.TextBoxFor(a => a.ImagePath, new { style = "width:0px;display:none" })
            </div>
            <div>
                <div class="div_title">
                    摘要 @Html.ValidationMessageFor(a => a.Summary)</div>
                @Html.TextAreaFor(a => a.Summary, new { maxlength = "200" })
            </div>
            <div>
                <div class="div_title" id="divContent">
                    正文 <span id="valContent" style="display: none" class="field-validation-error" data-valmsg-for="Content"
                        data-valmsg-replace="true"><span for="Summary" generated="true" class="">请输入正文</span></span></div>
                <script type="text/plain" id="editor" height="300px" name="Content">@Html.Raw(Model.Content)</script>
            </div>
            <div>
                <input type="submit" value="完成" id="btnAdd" class="button" />
            </div>
        }
    </div>
    <div style="clear: both">
    </div>
</div>
