@{
  
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.LibraryImage;
    ViewBag.Menu3 = Poco.SystemConst.Menu.LibraryImageText;
}
@model Poco.LibraryImageText
@section head{
    <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.all.js")" type="text/javascript"></script>
    <style>
        .divPreview
        {
            width: 270px;
            border: 1px solid #E7E7E7;
            background-color: #fff;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            float: left;
        }
        .divEdit
        {
            width: 465px;
            padding: 10px; /*margin-bottom: 26px;*/
            border: 1px solid #E7E7E7;
            background-color: #F4F4F4;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            margin-left: 10px;
            float: left;
        }
        .divEdit > form > div > input[type='text'], .divEdit > form > div > textarea
        {
            width: 100%;
        }
        .divEdit > form > div
        {
            margin: 5px 0px 10px 0px;
        }
        .div_title
        {
            margin-bottom: 5px;
        }
        .item
        {
            border-top: 1px solid #E7E7E7;
            height: 90px;
            position: relative;
        }
        .insert
        {
            border-top: 1px solid #E7E7E7;
            height: 70px;
            text-align: center;
            vertical-align: middle;
        }
        .item_img
        {
            width: 67px;
            height: 67px; /*border: 1px solid #E7E7E7;*/
            float: right;
            margin-right: 8px;
            margin-top: 8px;
            position: relative;
        }
        .item_img2
        {
            width: 67px;
            height: 67px; /*border: 1px solid #E7E7E7;*/
            float: right;
            margin-right: 8px;
            margin-top: 8px;
            position: relative;
        }
        .item_img_text
        {
            position: absolute;
            left: 15px;
            top: 27px;
            z-index: 0;
            
        }
        .item_img_maintext
        {
            position: absolute;
            left: 95px;
            top: 72px;
            z-index: 0;
        }
        .item_title
        {
            width: 180px;
            height: 45px;
            margin-left: 10px;
            margin-top: 8px;
            float: left;
            word-break:break-all;
　　        word-wrap:break-word;
        }
    </style>
    <script type="text/javascript">
        var uploadUrl = '@Url.Action("Upload", "LibraryImageText", new { HostName = ViewBag.HostName })';
        var editUrl = '@Url.Action("MoreEdit", "LibraryImageText")';

        function ImageText() {
            var it = new Object;
            it.title = "";
            it.image = "";
            it.summary = "";
            it.body = "";
            it.sub = [];
            it.addSub = function () {
                var sit = new ImageText();
                this.sub.push(sit);
            };
            it.deleteItem = function (index) {
                this.sub.splice(index, 1);
                currentIndex = -1;
                edit(null, currentIndex);
            };
            it.getSub = function (index) {
                return this.sub[index];
            };
            return it;
        }

        var it = new ImageText();
        var currentIndex = -1;
        var ue;
        $(function () {

            window.UEDITOR_HOME_URL = "/ueditor/";

            //实例化编辑器
            var options = {
                initialFrameWidth: '100%',
                initialFrameHeight: 300,
                imageUrl: UEDITOR_HOME_URL + "net/imageUp_LibraryImageText.ashx",
                imagePath: "",
                imageManagerUrl: UEDITOR_HOME_URL + "net/imageManager_LibraryImageText.ashx",
                imageManagerPath: "",
                initialContent: ""
            };

            $("#file_upload").uploadify({
                height: 30,
                swf: '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
                uploader: uploadUrl,
                width: 64,
                fileSizeLimit: '5MB',
                multi: false,
                fileTypeExts: '*.jpg;*.jpge;*.gif;*.bmp',
                onUploadSuccess: function (file, data, response) {
                    if (currentIndex == -1) {
                        $("#imgCoverPreview").attr('src', data);
                        it.image = data;
                    } else {
                        $("#item_img" + currentIndex).attr('src', data);
                        var sit = it.getSub(currentIndex);
                        sit.image = data;
                    }
                }
            });

            ue = UE.getEditor('editor', options);
            ue.addListener("selectionchange", function () {
                if (currentIndex == -1) {
                    it.body = ue.getContent();
                } else {
                    var sit = it.getSub(currentIndex);
                    sit.body = ue.getContent();
                }
            });

            $("#CoverImagePathFile").change(function () {
                var fileName = $("#CoverImagePathFile").val();
                if (fileName.length == 0) { return false; }
                $("#ImagePath").val(fileName);
                var suffix = fileName.substring(fileName.lastIndexOf('.')).toLowerCase();
                switch (suffix) {
                    case ".jpg":
                    case ".jpeg":
                    case ".gif":
                    case ".bmp":
                        break;
                    default:
                        JAlert({
                            Message: "格式限制：jpg, jpge, gif, png, bmp",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return false;
                        break;
                }
                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#imgCoverPreview").attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
                return false;
            });
            $("#btnAdd").click(function () {
                if (it.title.length == 0) {
                    return myAlert("封面标题不能为空");
                }
                if (it.image.length == 0) {
                    return myAlert("封面图片不能为空");
                }
                if (it.summary.length == 0) {
                    return myAlert("封面摘要不能为空");
                }
                if (it.body.length == 0) {
                    return myAlert("封面内容不能为空");
                }
                if (it.sub != null) {
                    for (var i = 0; i < it.sub.length; i++) {
                        var sit = it.sub[i];
                        if (sit.title.length == 0) {
                            edit(null, i);
                            return myAlert("第" + (i + 2) + "条 标题不能为空");
                        }
                        if (sit.image.length == 0) {
                            edit(null, i);
                            return myAlert("第" + (i + 2) + "条 图片不能为空");
                        }
                        if (sit.body.length == 0) {
                            edit(null, i);
                            return myAlert("第" + (i + 2) + "条 内容不能为空");
                        }
                    }
                }
                var value = JSON.stringify(it);
                $.post(editUrl, {json: value }, function (result) {
                    if (result && result.length > 0) {
                        eval(result);
                    }
                });
                return false;
            });

            $("#Title").focus().keyup(function () {
                var title = $(this).val().trim();
                if (currentIndex == -1) {
                    if (title.length == 0) {
                        $("#itemMain_title").text("标题");
                        it.title = "";
                    } else {
                        $("#itemMain_title").text(title);
                        it.title = title;
                    }
                } else {
                    var titleObj = $("#itemTitle" + currentIndex);
                    var sit = it.getSub(currentIndex);
                    if (title.length == 0) {
                        titleObj.text("标题");
                        sit.title = "";
                    } else {
                        titleObj.text(title);
                        sit.title = title;
                    }
                }
            });

            $("#Summary").keyup(function () {
                var summary = $(this).val().trim();
                if (currentIndex == -1) {
                    if (summary.length == 0) {
                        $("#itemMain_summary").text("摘要");
                        it.summary = "";
                    } else {
                        $("#itemMain_summary").text($(this).val());
                        it.summary = $(this).val();
                    }
                } else {
                }
            });

            $("#btnAdd").click(function () {
                $("#valContent").hide();
                if ($.trim(ue.getContentTxt()).length <= 0) {
                    $("#valContent").show();
                }
            });

            $(".item").live("mouseover", function () {
                $(this).find(".popdiv").show();
            }).live("mouseout", function () {
                $(this).find(".popdiv").hide();
            });

            $(".mainItem").mouseover(function () {
                $(this).find(".popdivmain").show();
            }).mouseout(function () {
                $(this).find(".popdivmain").hide();
            });

            var json= @Html.Raw(ViewBag.Json);
            if(json!=null){
                it.title=json.title;
                it.image = json.image;
                it.summary = json.summary;
                it.body = json.body;
                $("#itemMain_title").text(it.title);
                $("#imgCoverPreview").attr('src', it.image );
                $("#itemMain_summary").text(it.summary);
                if(json.sub!=null){
                    for (var i = 0; i < json.sub.length; i++) {
                        insert();
                        var jobj=json.sub[i];
                        var sit=new ImageText();
                        sit.title=jobj.title;
                        sit.image = jobj.image;
                        sit.body = jobj.body;
                        $("#itemTitle" + i).text(sit.title);
                        $("#item_img" + i).attr('src', sit.image);
                        it.sub[i]=sit;
                    }
                }
            }
        });

        function edit(obj, index) {
            currentIndex = index;
            if (index == -1) {
                $(".divEdit").css("marginTop", 0);
                $("#div_summary").show();
                $("#Title").val(it.title);
                $("#Summary").val(it.summary);
                ue.setContent(it.body);
                return;
            }
            var top = $("#item" + index)[0].offsetTop - 180;
            $(".divEdit").css("marginTop", top);
            $("#div_summary").hide();
            var sid = it.getSub(index);
            $("#Title").val(sid.title);
            ue.setContent(sid.body);
        }

        function deleteItem(index) {
            $("#item" + index).remove();
            it.deleteItem(index);
            for (var i = 0; i < it.sub.length; i++) {
                $($(".item")[i]).attr("id","item"+i);
                $($(".item_title")[i]).attr("id","itemTitle"+i);
                $($(".item_img2")[i]).attr("id","item_img"+i);
                $($(".btnEdit")[i]).attr("onclick","edit(this," + i + ")");
                $($(".btnDelete")[i]).attr("onclick","deleteItem(" + i + ")");
            }
        }

        function insert() {
            var id = (it.sub == null || it.sub.length == 0) ? 0 : it.sub.length;
            var obj = '<div class="item" id="item' + id + '"><div class="item_title" id="itemTitle' + id + '">标题</div>';
            obj += '<div class="item_img"><span class="item_img_text">缩略图</span><img class="item_img2" id="item_img' + id + '" style="width: 72px; height: 72px; margin: auto 0px;z-index:1;position: absolute;" /></div>';
            obj += '<div style="clear: both"></div>';
            obj += '<div class="popdiv" style="display: none; width: 100%; height: 90px; top: 0px; text-align: center;line-height: 90px; position: absolute; background: rgba(229,229,229,0.85); filter: progid:dximagetransform.microsoft.gradient(GradientType=0,startColorstr="#85E5E5E5",endColorstr="#85E5E5E5") alpha(opacity=85);">';
            obj += '<a class="btnEdit" onclick="edit(this,' + id + ')">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btnDelete" onclick="deleteItem(' + id + ')">删除</a></div></div>';
            $(".insert").before(obj);
            it.addSub();
        }

        function myAlert(msg) {
            JAlert({
                Message: msg,
                DialogType: "Ok",
                BtnOk: "确定"
            });
            return false;
        }
    </script>
}
<div class="title">
    @Html.Partial("Menu3")
</div>
<div class="body">
    <div class="divPreview">
        <div class="mainItem" style="padding: 10px; height: auto;">
            <div id="itemMain_title" style="width: 250px; word-break: break-all; word-wrap: break-word;">
                封面标题</div>
            <div style="height: 160px; position: relative; border: 1px solid #E7E7E7; margin-top: 10px;">
                <span class="item_img_maintext">封面图片</span>
                <img id="imgCoverPreview" style="width: 248px; max-height: 160px; margin: auto 0px;
                    z-index: 1; position: absolute;" />
                <div class="popdivmain" style="z-index: 2; display: none; width: 250px; height: 162px;
                    top: 0px; text-align: center; line-height: 162px; position: absolute; background: rgba(229,229,229,0.85);
                    filter: progid:dximagetransform.microsoft.gradient(GradientType=0,startColorstr='#85E5E5E5',endColorstr='#85E5E5E5') alpha(opacity=85);">
                    <a onclick="edit(this,-1)">修改</a>
                </div>
            </div>
            <div id="itemMain_summary" style="margin-top: 15px; margin-bottom: 10px; width: 250px">
                封面摘要
            </div>
        </div>
        <div class="insert">
            <div style="height: 40px; width: 260px; margin: 13px auto; line-height: 38px; border: 2px dashed #E7E7E7;">
                <a onclick="insert()">增加一条</a>
            </div>
        </div>
    </div>
    <div class="divEdit">
        @using (Html.BeginForm("Add", "LibraryImageText", new { }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                <div class="div_title">
                    标题</div>
                @Html.TextBoxFor(a => a.Title, new { maxlength = "50" })
            </div>
            <div>
                <div class="div_title">
                    封面</div>
                <input id="file_upload" name="file_upload" type="file" multiple="false" />
            </div>
            <div id="div_summary">
                <div class="div_title">
                    摘要</div>
                @Html.TextAreaFor(a => a.Summary, new { maxlength = "200" })
            </div>
            <div>
                <div class="div_title" id="divContent">
                    正文</div>
                <script type="text/plain" id="editor" height="300px" name="Content">@Html.Raw(Model.Content)</script>
            </div>
            <div>
                <input type="button" value="完成" id="btnAdd" class="button" />
            </div>
        }
    </div>
    <div style="clear: both">
    </div>
</div>
