@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

@section head{
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <style>
        .title
        {
            font-weight: bolder;
            font-size: 1.25em;
        }
        .depict
        {
            font-size: 0.75em;
            line-height: 1.6em;
            word-break: break-all;
            word-wrap: break-word;
            background-color: #ebebeb;
            padding: 10px 10px 10px 10px;
        }
        .date
        {
            font-size: 0.75em;
            padding: 5px 0px 5px 10px;
        }
        .conter
        {
            
            margin-bottom: 10px;
            color: #000 !important;
            line-height: 1.5 !important;
            background: none !important;
            text-shadow: none !important;
            font-size: 16px !important;
        }
        body
        {
            padding: 5px;
        }
        .image
        {
            padding: 10px 0px 5px 0px;
        }
        img
        {
            max-width: 100%;
        }
        .APPDow
        {
            margin-top: 25px;
            background-color: #00aec8;
            height: 35px;
            color: #ffffff;
            width: 100%;
            font-size: 12px;
            font-weight: bold;
            font-family: '微软雅黑';
        }
         .conter p
        {
            margin: 0px !important;
        }
        .conter *
        {
            line-height: 1.5 !important;
            @*background: none !important;
            color: #000 !important;*@
            font-size: 16px !important;
            text-shadow: none !important;
            width: 100% !important;
        }
    </style>
}
<div class="main"  style=" width:98%">
    <div class="title">@ViewBag.Title</div>
    <div class="date">价格: <span style=" color:Red; font-weight:bold">@ViewBag.Price/@ViewBag.PriceRem</span>
    </div>
    
    <div class="depict">
        备注/描述：@ViewBag.Depict</div>
    <div class="image">
        <img src="@Poco.SystemConst.WebUrlIP@ViewBag.IMG" alt="@ViewBag.Title" width="100%" />
    </div>
    <div class="conter">
        @Html.Raw(ViewBag.Content)
    </div>
</div>
