@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Set;
}
@section head{
    <script>

        var isCommit = true;
        function BandSubmitClick() {
            if (!isCommit) {
                return false;
            }
            isCommit = false;
        }
    </script>
}
@model Poco.SurveyMain
<div class="title">
    创建调查问卷</div>
<div class="bodyLeft">
    <ul class="ulList">
        <li>@Html.ActionLink("个人信息", "Index", "Set", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("基础设置", "Index", "BasisSet", new { HostName = ViewBag.HostName }, null, true)</li>
        <li class="select">@Html.ActionLink("调查问卷", "IndexMain", "SurveyMain", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("App动态软文", "Index", "AppAdvertorial", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("App销售端软文", "Index", "AppAdvertorialAccount", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("App等待画面", "Index", "AppWaitImg", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("关键词自动回复", "Index", "KeywordMessage", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("安装App自动回复", "Index", "InstallAppReply", new { HostName = ViewBag.HostName }, null, true)</li>
    </ul>
</div>
<div class="bodyRight">
    @using (Ajax.BeginForm("AddMain", "SurveyMain", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "BandSubmitClick()" }))
    {
        <fieldset style="font-size: 14px">
            <legend>创建调查问卷</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle" style="width: 150px">
                        <span class="Identification">*</span> 调查问卷标题
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.SurveyTitle, new { style = "width:302px" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.SurveyTitle)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 调查问卷描述/备注
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.SurveyRemarks)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.SurveyRemarks)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 问卷类型
                    </td>
                    <td>
                        <select id="EnumSurveyMainType" name="EnumSurveyMainType">
                            <option value="1">普通调查</option>
                            <option value="2">评分调查</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 状态
                    </td>
                    <td>
                        <select id="Status" name="Status">
                            <option value="0">开启</option>
                            <option value="1">停用</option>
                        </select>
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
    }
</div>
<div style="clear: both">
</div>
