@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
@section head{
    <script>
        $(function () {
            $("label[name=labCbFirst]").each(function () {
                $(this).tipTip({ activation: "hover", delay: 3, defaultPosition: "bottom" });
            });
        });
        
    </script>
    <style>
        body
        {
            background-color: #f6f6f6;
        }
        
        .MainTab
        {
            background-color: #ffffff;
            width: 95%;
            margin-top: 25px;
            border: 1px solid #dbdbdb;
        }
        
        
        
        .ListTab
        {
            width: 95%;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .ListTab th
        {
            font-size: 16px;
            font-weight: inherit;
            line-height: 35px;
            background-color: #f6f6f6;
        }
        .ListTab td
        {
            font-size: 12px;
            color: #6c6c6c;
            padding-top: 7px;
            padding-right: 3px;
            padding-left: 3px;
            padding-bottom: 7px;
            text-align: center;
        }
    </style>
}
@model PagedList<Poco.SurveyAnswer>
<table align="center" class="MainTab" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div class="pages" style="padding: 10px 10px 10px 10px;">
                @Html.Pager(Model, new PagerOptions
                {
                    PageIndexParameterName = "ID",
                    CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
                    NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
                    NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
                    CssClass = "manage_pages pages",
                    SeparatorHtml = "&nbsp;",
                    AutoHide = false,
                    /*LastPageText = "Last",
                    FirstPageText = "First",
                    PrevPageText = "Back",
                    NextPageText = "Next",*/
                    PageIndexOutOfRangeErrorMessage = "Page index out of range.",
                    ShowFirstLast = false
                })
            </div>
            <table align="center" class="ListTab" cellpadding="0" cellspacing="0">
                <tr>
                    <th style="width: 150px">
                        调查问卷名称
                    </th>
                    <th style="width: 100px">
                        问卷类型
                    </th>
                    <th style="width: 100px">
                        提交人
                    </th>
                    <th style="width: 100px">
                        电话
                    </th>
                    <th style="width: 100px">
                        邮箱
                    </th>
                    <th style="width: 100px">
                        QQ/Weixin
                    </th>
                    <th style="width: 100px">
                        公司
                    </th>
                    <th style="width: 100px">
                        职位
                    </th>
                    <th style="width: 150px">
                        提交日期
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="operation" style="text-align: left">
                            <div style="width: 150px; word-break: keep-all; white-space: nowrap; overflow: hidden;
                                text-overflow: ellipsis;">
                                <label name="labCbFirst" title="@item.SurveyTrouble.SurveyMain.SurveyTitle">
                                    <a href="@Url.Action("AnswerInfo", "SurveyMain", new { SMID = ViewBag.SMID, Ucode = item.UserCode })" target="_blank">@item.SurveyTrouble.SurveyMain.SurveyTitle</a>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div style="width: 100px; word-wrap: break-word; word-break: normal;">
                                @if (item.SurveyTrouble.SurveyMain.EnumSurveyMainType == (int)Poco.Enum.EnumSurveyMainType.Rate)
                                {
                                    @:评分调查
                            }
                                else
                                { 
                                    @:普通调查
                                                                }
                            </div>
                        </td>
                        <td>
                            <div style="width: 100px; word-wrap: break-word; word-break: normal;">
                                @if (item.SurveyAnswerUserID.HasValue)
                                { 
                                    @item.SurveyAnswerUser.UserName
                                }
                                else
                                {
                                    @item.UserName
                                }
                            </div>
                        </td>
                        <td>
                            <div style="width: 100px; word-wrap: break-word; word-break: normal;">
                                @if (item.SurveyAnswerUserID.HasValue)
                                { 
                                    @item.SurveyAnswerUser.UserPhone
                                }
                                else
                                {
                                    @:无
                                                                     }
                            </div>
                        </td>
                        <td>
                            <div style="width: 100px; word-wrap: break-word; word-break: normal;">
                                @if (item.SurveyAnswerUserID.HasValue)
                                { 
                                    @item.SurveyAnswerUser.UserEmail
                                }
                                else
                                {
                                    @:无
                                                                    }
                            </div>
                        </td>
                         <td>
                            <div style="width: 100px; word-wrap: break-word; word-break: normal;">
                                @if (item.SurveyAnswerUserID.HasValue)
                                { 
                                    @item.SurveyAnswerUser.QQ_Weixin
                                }
                                else
                                {
                                    @:无
                                                                    }
                            </div>
                        </td>
                        <td>
                            <div style="width: 100px; word-wrap: break-word; word-break: normal;">
                                @if (item.SurveyAnswerUserID.HasValue)
                                { 
                                    @item.SurveyAnswerUser.UserComPany
                                }
                                else
                                {
                                    @:无
                                                                    }
                            </div>
                        </td>
                        <td>
                            <div style="width: 100px; word-wrap: break-word; word-break: normal;">
                                @if (item.SurveyAnswerUserID.HasValue)
                                { 
                                    @item.SurveyAnswerUser.UserPosition
                                }
                                else
                                {
                                    @:无
                                                                     }
                            </div>
                        </td>
                        <td>
                            <div style="width: 150px; word-wrap: break-word; word-break: normal;">
                                @item.CreateDate.ToString("yyyy-MM-dd HH:mm")
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <div class="pages" style="padding: 10px 10px 10px 10px;">
                @Html.Pager(Model, new PagerOptions
                {
                    PageIndexParameterName = "ID",
                    CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
                    NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
                    NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
                    CssClass = "manage_pages pages",
                    SeparatorHtml = "&nbsp;",
                    AutoHide = false,
                    /*LastPageText = "Last",
                    FirstPageText = "First",
                    PrevPageText = "Back",
                    NextPageText = "Next",*/
                    PageIndexOutOfRangeErrorMessage = "Page index out of range.",
                    ShowFirstLast = false
                })
            </div>
        </td>
    </tr>
</table>
