@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";  
    ViewBag.Menu2 = Poco.SystemConst.Menu.ActivityInfo;
}
@section head{
    <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.all.js")" type="text/javascript"></script>

    
    <link href="@Url.Content("~/Scripts/timepicker/demos.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/timepicker/jquery-ui-timepicker-addon.css")" rel="stylesheet"
        type="text/css" />
    <script src="@Url.Content("~/Scripts/timepicker/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/timepicker/jquery-ui-timepicker-zh-CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/timepicker/jquery.ui.datepicker-zh-CN.js.js")" type="text/javascript"></script>


    <script>
        $(function () {

            window.UEDITOR_HOME_URL = "/ueditor/";
            //实例化编辑器
            var options = {
                initialFrameWidth: '100%',
                initialFrameHeight: 300,
                imageUrl: UEDITOR_HOME_URL + "net/imageUp_Advertorial.ashx",
                imagePath: "",
                imageManagerUrl: UEDITOR_HOME_URL + "net/imageManager_LibraryImageText.ashx",
                imageManagerPath: "",
                initialContent: ""
            };

            var ue = UE.getEditor('editor', options);


            var myDate = new Date();
            var date = myDate.getFullYear() + "-" + myDate.getMonth() + "-" + myDate.getDate();
            $("#EnrollEndDate").datepicker({
                changeMonth: true,
                changeYear: true,
                onSelect: function (selectedDate) {
                    $("#ActivityStratDate").datepicker("option", "minDate", selectedDate);
                }
            });

            $("#ActivityStratDate").datetimepicker({
                timeFormat: "HH:mm",
                dateFormat: "yy-mm-dd"
            });

            $("#EnrollEndDate").datepicker("option", "minDate", "+1");
            $("#EnrollEndDate").val("@ViewBag.EndDate");

            $("#ActivityStratDate").datepicker("option", "minDate",  $("#EnrollEndDate").val());
            $("#ActivityStratDate").val("@ViewBag.StratDate");

            $("#btnSubmit").click(function () {


                if (ue.getContent().length == 0) {
                    JAlert({
                        Message: "正文不能为空！",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    return false;
                }
            });


            var Status = '@Model.Status'
            $("#Status").val(Status);

        });
    </script>

    <style>
    #ui-datepicker-div
    {
        z-index:100 !important;     
    }
    </style>
}
@model Poco.ActivityInfo
<div class="title">
        @Html.Partial("Menu3")
</div>
<div class="body">
    @using (Ajax.BeginForm("Edit", "ActivityInfo", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <fieldset style="font-size: 14px">
            <legend>创建活动</legend>
            <table class="tableForm" style="width: 100%">
                <tr>
                    <td class="tdTitle" style="width: 150px">
                        <span class="Identification">*</span> 活动标题
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Title, new { style = "width:300px" })
                    @Html.HiddenFor(a=>a.AccountMainID)
                    @Html.HiddenFor(a=>a.CreateDate)
                    @Html.HiddenFor(a=>a.ID)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Title)
                    </td>
                </tr>
                 <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 报名截止日期
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.EnrollEndDate, new { @readonly = "readonly" })
                    </td>
                     <td>@Html.ValidationMessageFor(a => a.EnrollEndDate)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 活动开始日期
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.ActivityStratDate, new { @readonly = "readonly" })
                    </td>
                     <td>@Html.ValidationMessageFor(a => a.ActivityStratDate)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 状态
                    </td>
                    <td>
                        <select id="Status" name="Status">
                            <option value="0">开启</option>
                            <option value="1">停用</option>
                        </select>
                    </td>
                </tr>
                <tr>
                  <td class="tdTitle">
                        <span class="Identification">*</span> 名额/最大报名人数
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.MaxCount)
                    </td>
                     <td>@Html.ValidationMessageFor(a => a.MaxCount)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle" valign="top">
                        <span class="Identification">*</span> 活动内容
                    </td>
                    <td class="tdField" colspan="2">
                        <script type="text/plain" id="editor" height="300px" name="Remarks">@Html.Raw(Model.Remarks)</script>
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
    }
</div>
<div style="clear: both">
</div>
