@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.ActivityInfo;
    var lotteryDishList = ViewBag.lotteryDishList as List<Poco.Lottery_dish>;
}
@section head{
    <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.all.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/timepicker/demos.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/timepicker/jquery-ui-timepicker-addon.css")" rel="stylesheet"
        type="text/css" />
    <script src="@Url.Content("~/Scripts/timepicker/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/timepicker/jquery-ui-timepicker-zh-CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/timepicker/jquery.ui.datepicker-zh-CN.js.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.css")" rel="stylesheet" type="text/css" />
    <script>
        var Cnt = 0;
        var UpImgUrl = '@Url.Action("UpImg", "Ajax", new { HostName = ViewBag.HostName })';
        $(function () {



            $("#file_upload").uploadify({
                height: 30,
                swf: '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
                uploader: UpImgUrl,
                width: 70,
                fileSizeLimit: '5MB',
                buttonText: '选择图片',
                multi: false,
                fileTypeExts: '*.jpg;*.jpge;*.gif;*.png;*.bmp',
                onUploadSuccess: function (file, data, response) {

                    if (data == "" || data == undefined || data == "false") {
                        JAlert({
                            Message: "上传失败请重新上传！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return;
                    }

                    if (Cnt > 0) {
                        jcrop_api.destroy();
                        $('#x1').val("0");
                        $('#y1').val("0");
                        $('#w').val("0");
                        $('#h').val("0");
                        $('#tw').val("0");
                        $('#th').val("0");
                    }
                    $("#imgSel").attr('src', data);
                    $("#imgLogo").attr('src', data);
                    $("#imgLogo2").attr('src', data);

                    $("#MainImagPath").val(data);

                    $('#imgSel').Jcrop({
                        onChange: updatePreview,
                        onSelect: updatePreview,
                        aspectRatio: 2
                    }, function () {
                        // Use the API to get the real image size
                        var bounds = this.getBounds();
                        boundx = bounds[0];
                        boundy = bounds[1];
                        // Store the API in the jcrop_api variable
                        jcrop_api = this;
                    });
                    Cnt = 1;
                }
            });
            
            var jcrop_api, boundx, boundy;

            function updatePreview(c) {
                if (parseInt(c.w) > 0) {
                    var rx2 = 200 / c.w;
                    var ry2 = 100 / c.h;
                    $('#imgLogo').css({
                        width: Math.round(rx2 * boundx) + 'px',
                        height: Math.round(ry2 * boundy) + 'px',
                        marginLeft: '-' + Math.round(rx2 * c.x) + 'px',
                        marginTop: '-' + Math.round(ry2 * c.y) + 'px'
                    });

                    var rx3 = 120 / c.w;
                    var ry3 = 60 / c.h;
                    $('#imgLogo2').css({
                        width: Math.round(rx3 * boundx) + 'px',
                        height: Math.round(ry3 * boundy) + 'px',
                        marginLeft: '-' + Math.round(rx3 * c.x) + 'px',
                        marginTop: '-' + Math.round(ry3 * c.y) + 'px'
                    });
                }
                $('#x1').val(c.x);
                $('#y1').val(c.y);
                $('#w').val(c.w);
                $('#h').val(c.h);
                //获取当前显示图片高宽
                $('#tw').val($("#imgSel").width());
                $('#th').val($("#imgSel").height());
            };

            window.UEDITOR_HOME_URL = "/ueditor/";
            //实例化编辑器
            var options = {
                initialFrameWidth: '100%',
                initialFrameHeight: 300,
                imageUrl: UEDITOR_HOME_URL + "net/imageUp_Advertorial.ashx",
                imagePath: "",
                imageManagerUrl: UEDITOR_HOME_URL + "net/imageManager_LibraryImageText.ashx",
                imageManagerPath: "",
                initialContent: ""
            };

            var ue = UE.getEditor('editor', options);

            var myDate = new Date();
            var date = myDate.getFullYear() + "-" + myDate.getMonth() + "-" + myDate.getDate();
            $("#EnrollEndDate").datepicker({
                changeMonth: true,
                changeYear: true,
                onSelect: function (selectedDate) {
                    $("#ActivityStratDate").datepicker("option", "minDate", selectedDate);
                }
            });

            $("#ActivityStratDate").datetimepicker({
                changeMonth: true,
                changeYear: true,
                timeFormat: "HH:mm",
                dateFormat: "yy-mm-dd"
            });

            $("#EnrollEndDate").datepicker("option", "minDate", "+1");
            $("#EnrollEndDate").val("@ViewBag.EndDate");

            $("#ActivityStratDate").datepicker("option", "minDate", $("#EnrollEndDate").val());
            $("#ActivityStratDate").val("@ViewBag.StratDate");

            $("#btnSubmit").click(function () {

                if (Cnt > 0) {
                    if ($("#w").val() == "0") {
                        JAlert({
                            Message: "请选择App列表展示区域！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return false;
                    }
                }

                if (ue.getContent().length == 0) {
                    JAlert({
                        Message: "正文不能为空！",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    return false;
                }
            });
            //显示抽奖活动
            $("#btnLotteryDish").click(function () {
                $("#dialogShow").dialog({
                    resizable: false,
                    height: 600,
                    width: 500,
                    modal: true,
                    buttons: {
                        "确定": function () {
                            var uids = "";
                            var name = "";
                            $.each($("#dialogShow").find(":checked"), function (i, n) {
                                uids = $(n).val();
                                name = $(n).attr("lname");
                            });
                            if (uids.length > 0) {
                                $("#Lottery_dishID").val(uids);
                                $("#btnLotteryDish").text(name);
                                $(this).dialog("close");
                            } else {
                                $("#Lottery_dishID").val("");
                                $("#btnLotteryDish").text("选择");
                                $(this).dialog("close");
                            }
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        },
                        "清空": function () {
                            $("#btnLotteryDish").text("选择");
                            $("#Lottery_dishID").val("");
                            $(":radio").attr("checked", false)
                            $(this).dialog("close");
                        }
                    }
                });
            });

            var Status = '@Model.Status'
            $("#Status").val(Status);

        });
    </script>
    <style>
        #ui-datepicker-div
        {
            z-index: 100 !important;
        }
        .middle-out
        {
            width: 320px;
            height: 320px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            border: 1px solid #d0d0d0;
        }
    </style>
}
@model Poco.ActivityInfo
<div class="title">
    @Html.Partial("Menu3")
</div>
<div class="body">
    @using (Ajax.BeginForm("Edit", "ActivityInfo", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {

        <fieldset style="font-size: 14px">
            <legend>展示图片</legend>
            <table style="line-height: 15px" width="100%">
                <tr>
                    <td style="width: 365px">
                        <div class="middle-out">
                            <div class="middle-in" style="margin: auto 0px">
                                @if (string.IsNullOrEmpty(Model.MainImagPath))
                                {
                                    <img id="imgSel"  src="@Url.Content("~/Images/ActivityInfo.jpg")"   style="max-height:320px; max-width:320px;" />
                                }
                                else
                                { 
                                    <img id="imgSel"  src="@Url.Content(Model.MainImagPath ?? "")"   style="max-height:320px; max-width:320px;" />
                                }
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                        <p>
                            App列表页展示图
                        </p>
                        <div style="width: 200px; height: 100px; overflow: hidden;">
                            @if (string.IsNullOrEmpty(Model.AppShowImagePath))
                            {
                                <img id="imgLogo" src="@Url.Content("~/Images/ActivityInfo.jpg")" style="width:200px; height:100px"/>
                            }
                            else
                            { 
                                <img id="imgLogo" src="@Url.Content(Model.AppShowImagePath ?? "")" style="width:200px; height:100px"/>
                            }
                        </div>
                        <span style="font-size: 12px; color: #979797">(320*160 缩略图)</span>
                        <div style="width: 120px; height: 60px; overflow: hidden; margin-top: 17px">
                            @if (string.IsNullOrEmpty(Model.MinImagePath))
                            {
                                <img id="imgLogo2" src="@Url.Content("~/Images/ActivityInfo.jpg")" style="width:120px; height:60px"/>
                            }
                            else
                            { 
                                <img id="imgLogo2" src="@Url.Content(Model.MinImagePath ?? "")" style="width:120px; height:60px"/>
                            }
                        </div>
                        <span style="font-size: 12px; color: #979797">(120*60 缩略图)</span>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div style="color: Red">
                            提示：请上传小于5MB的图片
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="file_upload" name="file_upload" type="file" multiple="false" />
                        @Html.TextBoxFor(a => a.MainImagPath, new { style = "width:0px;display:none" })
                        @Html.ValidationMessageFor(a => a.MainImagPath)
                        <div style="font-size: 12px; color: Red">
                            <div style="display: none">
                                X1
                                <input type="text" size="4" id="x1" name="x1" value="0" />
                                Y1
                                <input type="text" size="4" id="y1" name="y1" value="0" />
                                W
                                <input type="text" size="4" id="w" name="w" value="0" />
                                H
                                <input type="text" size="4" id="h" name="h" value="0" />
                                TW
                                <input type="text" size="4" id="tw" name="tw" value="0" />
                                TH
                                <input type="text" size="4" id="th" name="th" value="0" />
                            </div>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset style="font-size: 14px">
            <legend>创建活动</legend>
            <table style="width: 100%">
                <tr>
                    <td class="tdTitle" style="width: 150px">
                        <span class="Identification">*</span> 活动标题
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Title, new { style = "width:300px" })
                        @Html.HiddenFor(a => a.AccountMainID)
                        @Html.HiddenFor(a => a.CreateDate)
                        @Html.HiddenFor(a => a.ID)
                        @Html.HiddenFor(a => a.ISGenerateSaleAdvisory)
                        @Html.HiddenFor(a => a.ISGenerateUserAdvisory)
                        @Html.HiddenFor(a => a.AppShowImagePath)
                        @Html.HiddenFor(a => a.MinImagePath)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Title)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle" style="width: 150px">
                        <span class="Identification">*</span> 活动备注/描述
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.Remarks, new { style = "width:300px" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Remarks)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 报名截止日期
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.EnrollEndDate, new { @readonly = "readonly" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.EnrollEndDate)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 活动开始日期
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.ActivityStratDate, new { @readonly = "readonly" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.ActivityStratDate)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 状态
                    </td>
                    <td>
                        <select id="Status" name="Status">
                            <option value="0">开启</option>
                            <option value="1">停用</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 名额/最大报名人数
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.MaxCount)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.MaxCount)
                    </td>
                </tr>
                @if (ViewBag.HasLotteryDish)
                { 

                    <tr>
                        <td class="tdTitle" style="height: 30px;">
                            大转盘抽奖活动
                        </td>
                        <td>
                            @if (Model.Lottery_dishID.HasValue)
                            { 

                                <label style="color: #00A4BD" id="btnLotteryDish">
                                    @Model.Lottery_dish.Name</label>
                            }
                            else
                            { 

                                <label style="color: #00A4BD" id="btnLotteryDish">
                                    选择</label>}@Html.HiddenFor(a => a.Lottery_dishID)
                        </td>
                        <td>
                        </td>
                    </tr>
                }
                <tr style="height: 300px">
                    <td class="tdTitle" valign="top">
                        <span class="Identification">*</span> 活动内容
                    </td>
                    <td class="tdField" colspan="2" style="height: 300px">
                        <script type="text/plain" id="editor" height="300px" name="Content">@Html.Raw(Model.Content)</script>
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
    }
</div>
<div style="clear: both">
</div>
<div id="dialogShow" title="抽奖-大转盘" style="display: none; padding: 0px">
    <ul style="padding: 10px; margin: 5px 0px;">
        @if (lotteryDishList != null)
        {
            foreach (var item in lotteryDishList)
            {

            <li style="list-style-type: none">
                @if (Model.Lottery_dishID.HasValue && Model.Lottery_dishID.Value == item.ID)
                { 

                    <input type="radio" id="cb_@item.ID" value="@item.ID"
               name="radio_lottery_dish" lname="@item.Name" checked="checked" />}
                else
                { 

                    <input type="radio" id="cb_@item.ID" value="@item.ID"
               name="radio_lottery_dish" lname="@item.Name" />
                }
                <label for="cb_@item.ID">@item.Name</label>
            </li>
            }
        }
    </ul>
</div>
