@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    ViewBag.Menu2 = Poco.SystemConst.Menu.ActivityInfo;
}
@section head{

<script>

    $(function () {

        $("label[name=labCbFirst]").each(function () {
            $(this).tipTip({ activation: "hover", delay: 3, defaultPosition: "bottom" });
        });

    });
    //生成资讯
    function ShowAddress(id, client,text) {


        JAlert({
            Message: text,
            DialogType: "confirm",
            BtnOk: "确定",
            BtnOkClick: "SetAppAdver("+id+","+client+")",
            BtnCancel: "取消",
            BtnCancelClick: "$(this).dialog('close');"
        });
       

    }

    //显示调查详细
    function ShowPInfo(id) {
        var src = '@Url.Action("ShowRegistration", "ActivityInfo")';
        $("#iframeShowP").attr("src", src + "?AID=" + id);
        $("#dialogShowP").dialog({
            resizable: false,
            height: 710,
            width: 900,
            modal: true,
            draggable: false,
            close: function (event, ui) {
                $("#iframeShowP").attr("src", "");
            }
        });
    }

    //显示调查签到详细
    function ShowSignInInfo(id) {
        var src = '@Url.Action("ShowSignIn", "ActivityInfo")';
        $("#iframeShowSign").attr("src", src + "?AID=" + id);
        $("#dialogShowSign").dialog({
            resizable: false,
            height: 710,
            width: 850,
            modal: true,
            draggable: false,
            close: function (event, ui) {
                $("#iframeShowSign").attr("src", "");
            }
        });
    }

    

    //ajax 生成资讯
    function SetAppAdver(id,client) {
//        //client  EnumAdvertorialUType
//        var id = $("#AID").val();
        var Url = '@Url.Action("SetAppAdverTorial", "ActivityInfo")';
        $.post(Url, { id: id, client: client }, function (result) {

            if (result == "OK") {
                JAlert({
                    Message: "生成成功！",
                    DialogType: "Ok",
                    BtnOk: "确定",
                    BtnOkClick: "location.reload()"
                });
            } else if (result == "T") {
                JAlert({
                    Message: "已生成资讯",
                    DialogType: "Ok",
                    BtnOk: "确定",
                    BtnOkClick: "location.reload()"
                });
            }
            else {
                JAlert({
                    Message: "生成失败 请稍后再试！",
                    DialogType: "Ok",
                    BtnOk: "确定"
                });
            }
        });
    }
</script>
}
@model PagedList<Poco.ActivityInfo>
<div class="title">
    @Html.Partial("Menu3")
</div>
<div class="body">
    <div class="option">
        @Html.ActionLink("添加活动", "Add", "ActivityInfo", new { HostName = ViewBag.HostName }, null, true)
    </div>
    <table class="tableList" cellpadding="0" cellspacing="0" style="font-size: 14px">
        <tr>
            <th style=" width:80px">
            app展示图片
            </th>
            <th style="width: 180px">
                活动名称
            </th>
            <th style="width: 70px">
                报名人数
            </th>
             <th style="width: 70px">
                签到人数
            </th>
            <th style="width: 60px">
                名额
            </th>
            <th style="width: 100px;">
                报名截止日期
            </th>

            <th style="width: 50px;">
                状态
            </th>
            <th style="width:100px;">
                生成资讯
            </th>
            <th style="width: 70px;">
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (string.IsNullOrEmpty(item.AppShowImagePath))
                    {
                    <img style=" width:80px" src="@Url.Content("~/Images/ActivityInfo_MINI.jpg")" />
                    }
                    else
                    { 
                    <img style=" width:80px" src="@Url.Content(item.AppShowImagePath)" />
                    }
                </td>
                <td class="operation">
                    <div style="width: 180px; word-break: keep-all; white-space: nowrap; overflow: hidden;
                        text-overflow: ellipsis;">
                        <label name="labCbFirst" title="@item.Title">
                          @item.Title
                        </label>
                    </div>
                </td>
                <td class="operation">
                    <label name="labCbFirst" title="查看详细">
                        <a onclick="ShowPInfo(@item.ID)">@item.ActivityInfoParticipators.Count()<span>人</span></a>
                    </label>
                </td>
                  <td class="operation">
                    <label name="labCbFirst" title="查看详细">
                        <a onclick="ShowSignInInfo(@item.ID)">@item.ActivityInfoSignIn.Count()<span>人</span></a>
                    </label>
                </td>
                <td>
                     @item.MaxCount
                </td>
                <td>
                    @item.EnrollEndDate.ToString("yyyy-MM-dd")
                </td>

                <td class="operation">
                    @if (@item.Status == 0)
                    {
                        <label name="labCbFirst" title="点击关闭活动">
                            @Ajax.ActionLink("开启", "SetMainStatus", "ActivityInfo", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('“确定关闭活动?”！！！','" + Url.Action("SetMainStatus", "ActivityInfo", new { HostName = ViewBag.HostName, id = item.ID, Status = item.Status }) + "',null)" }, false)
                        </label>
                    }
                    else
                    {
                        <label name="labCbFirst" title="点击开启活动">
                            @Ajax.ActionLink("停止", "SetMainStatus", "ActivityInfo", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('“确定开启活动?”！！！','" + Url.Action("SetMainStatus", "ActivityInfo", new { HostName = ViewBag.HostName, id = item.ID, Status = item.Status }) + "',null)" }, false)
                        </label>
                    }
                </td>
                <td class="operation" >
                    @if (item.ISGenerateUserAdvisory == 0)
                    { 
                    <label name="labCbFirst" title="生成用户端咨讯">
                        <a onclick="ShowAddress(@item.ID,@((int)Poco.Enum.EnumAdvertorialUType.UserEnd),'是否要生成用户端资讯?')"  style=" font-size:12px">生成咨讯</a>
                    </label>
                    }
                    else
                    { 
                        <span style=" font-size:12px">生成咨讯</span>
                    }
                   @* <br />
                    @if (item.ISGenerateSaleAdvisory == 0)
                    { 
                    <label name="labCbFirst" title="生成销售端咨讯">
                        <a onclick="ShowAddress(@item.ID,@((int)Poco.Enum.EnumAdvertorialUType.AccountEnd),'是否要生成销售端资讯?')"  style=" font-size:12px">生成销售端咨讯</a>
                    </label>
                    }
                    else
                    { 
                        <span style=" font-size:12px">生成销售端咨讯</span>
                    }*@
                </td>
                <td class="operation" width="80px">
                  
                    @Html.ActionLink("修改", "Edit", "ActivityInfo", new { HostName = ViewBag.HostName, ActionId = item.ID }, new { style = "padding-right:5px" }, true)
                    @Ajax.ActionLink("删除", "Delete", "ActivityInfo", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('此操作会删除该活动下的所有报名人信息。<br/>“确定删除?”','" + Url.Action("Delete", "ActivityInfo", new { HostName = ViewBag.HostName, ActionId = item.ID }) + "',null)" }, true)
                    <br />
                  @Html.ActionLink("查看报表", "ActivityReport", "ActivityInfo", new { HostName = ViewBag.HostName, AID = item.ID.TokenEncrypt(true) }, new { target = "_blank" }, true)
                </td>
            </tr>
        }
    </table>
    <div class="pages">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
</div>
<div style="clear: both">
</div>

<div id="dialogShowP" title="报名列表" style="display: none; padding: 0px">
    <iframe id="iframeShowP" src="#" style="width: 900px; height: 650px; border: none;
        overflow: auto"></iframe>
</div>

<div id="dialogShowSign" title="签到列表" style="display: none; padding: 0px">
    <iframe id="iframeShowSign" src="#" style="width: 850px; height: 650px; border: none;
        overflow: auto"></iframe>
</div>
