@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    ViewBag.Menu2 = Poco.SystemConst.Menu.ActivityInfo;
}
@section head{

<script>

    $(function () {

        $("label[name=labCbFirst]").each(function () {
            $(this).tipTip({ activation: "hover", delay: 3, defaultPosition: "bottom" });
        });

    });
    //生成软文
    function ShowAddress(id, Name) {
        $("#AID").val(id);
        $("#dialogShowRW").dialog({
            resizable: false,
            height: 150,
            width: 300,
            modal: true,
            draggable: false,
            title: Name,
            close: function (event, ui) {
                $("#AID").val("");
            }
        });

    }

    //显示调查详细
    function ShowPInfo(id) {
        var src = '@Url.Action("ShowRegistration", "ActivityInfo")';
        $("#iframeShowP").attr("src", src + "?AID=" + id);
        $("#dialogShowP").dialog({
            resizable: false,
            height: 710,
            width: 760,
            modal: true,
            draggable: false,
            close: function (event, ui) {
                $("#iframeShowP").attr("src", "");
            }
        });
    }


    //ajax 生成软文
    function SetAppAdver(client) {
        //client  EnumAdvertorialUType
        var id = $("#AID").val();
        var Url = '@Url.Action("SetAppAdverTorial", "ActivityInfo")';
        $.post(Url, { id: id, client: client }, function (result) {

            if (result == "OK") {
                JAlert({
                    Message: "生成成功！",
                    DialogType: "Ok",
                    BtnOk: "确定"
                });
            }
            else {
                JAlert({
                    Message: "生成失败 请稍后再试！",
                    DialogType: "Ok",
                    BtnOk: "确定"
                });
            }
            $("#dialogShowRW").dialog("close");
        });
    }
</script>
}
@model PagedList<Poco.ActivityInfo>
<div class="title">
    @Html.Partial("Menu3")
</div>
<div class="body">
    <div class="option">
        @Html.ActionLink("添加活动", "Add", "ActivityInfo", new { HostName = ViewBag.HostName }, null, true)
    </div>
    <table class="tableList" cellpadding="0" cellspacing="0" style="font-size: 14px">
        <tr>
            <th style="width: 230px">
                活动名称
            </th>
            <th style="width: 70px">
                报名人数
            </th>
            <th style="width: 70px">
                名额
            </th>
            <th style="width: 110px;">
                报名截止日期
            </th>
            <th style="width: 110px;">
                活动开始日期
            </th>
            <th style="width: 60px;">
                状态
            </th>
            <th style="width: 70px;">
                生成资讯
            </th>
            <th style="width: 80px;">
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="operation">
                    <div style="width: 230px; word-break: keep-all; white-space: nowrap; overflow: hidden;
                        text-overflow: ellipsis;">
                        <label name="labCbFirst" title="@item.Title">
                          @item.Title
                        </label>
                    </div>
                </td>
                <td class="operation">
                    <label name="labCbFirst" title="查看详细">
                        <a onclick="ShowPInfo(@item.ID)">@item.ActivityInfoParticipators.Count()<span>人</span></a>
                    </label>
                </td>
                <td>
                     @item.MaxCount
                </td>
                <td>
                    @item.EnrollEndDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                     @item.ActivityStratDate.ToString("yyyy-MM-dd")
                </td>
                <td class="operation">
                    @if (@item.Status == 0)
                    {
                        <label name="labCbFirst" title="点击关闭活动">
                            @Ajax.ActionLink("开启", "SetMainStatus", "ActivityInfo", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('“确定关闭活动?”！！！','" + Url.Action("SetMainStatus", "ActivityInfo", new { HostName = ViewBag.HostName, id = item.ID, Status = item.Status }) + "',null)" }, false)
                        </label>
                    }
                    else
                    {
                        <label name="labCbFirst" title="点击开启活动">
                            @Ajax.ActionLink("停止", "SetMainStatus", "ActivityInfo", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('“确定开启活动?”！！！','" + Url.Action("SetMainStatus", "ActivityInfo", new { HostName = ViewBag.HostName, id = item.ID, Status = item.Status }) + "',null)" }, false)
                        </label>
                    }
                </td>
                <td class="operation">
                    <label name="labCbFirst" title="生成咨询">
                        <a onclick="ShowAddress(@item.ID,'@item.Title')">生成咨询</a>
                    </label>
                </td>
                <td class="operation">
                  
                    @Html.ActionLink("修改", "Edit", "ActivityInfo", new { HostName = ViewBag.HostName, ActionId = item.ID }, new { style = "padding-right:5px" }, true)
                    @Ajax.ActionLink("删除", "Delete", "ActivityInfo", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('此操作会删除该活动下的所有报名人信息。<br/>“确定删除?”！！！','" + Url.Action("Delete", "ActivityInfo", new { HostName = ViewBag.HostName, ActionId = item.ID }) + "',null)" }, true)
                </td>
            </tr>
        }
    </table>
    <div class="pages">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
</div>
<div style="clear: both">
</div>
<div id="dialogShowRW" title="生成软文" style="display: none; padding: 0px">
    <table align="center" style="width: 95%; height: 90px" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <input type="hidden" id="AID" />
                <input type="button" onclick="SetAppAdver(@((int)Poco.Enum.EnumAdvertorialUType.UserEnd))" id="btnSubmitU" value="生成用户端资讯" class="button" />
            </td>
            <td align="center">
                <input type="button" onclick="SetAppAdver(@((int)Poco.Enum.EnumAdvertorialUType.AccountEnd))"  id="btnSubmitA" value="生成销售端资讯" class="button" />
            </td>
        </tr>
    </table>
</div>
<div id="dialogShowP" title="报名列表" style="display: none; padding: 0px">
    <iframe id="iframeShowP" src="#" style="width: 760px; height: 650px; border: none;
        overflow: auto"></iframe>
</div>
