@{
    ViewBag.Title = "ShowRegistration";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
@section head{
    <style>
        body
        {
            background-color: #f6f6f6;
        }
        
        .MainTab
        {
            background-color: #ffffff;
            width: 95%;
            margin-top: 25px;
            border: 1px solid #dbdbdb;
        }
        
        
        .ListTab
        {
            width: 95%;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .ListTab th
        {
            font-size: 16px;
            font-weight: inherit;
            line-height: 35px;
            background-color: #f6f6f6;
        }
        .ListTab td
        {
            font-size: 14px;
            color: #6c6c6c;
            padding-top: 7px;
            padding-right: 10px;
            padding-left: 5px;
            padding-bottom: 7px;
            text-align: center;
            border-bottom:1px solid #ebebeb;
        }
    </style>
}
@model PagedList<Poco.ActivityInfoParticipator>
<table align="center" class="MainTab" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div class="pages" style="padding: 10px 10px 10px 10px;">
                @Html.Pager(Model, new PagerOptions
                {
                    PageIndexParameterName = "ID",
                    CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
                    NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
                    NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
                    CssClass = "manage_pages pages",
                    SeparatorHtml = "&nbsp;",
                    AutoHide = false,
                    /*LastPageText = "Last",
                    FirstPageText = "First",
                    PrevPageText = "Back",
                    NextPageText = "Next",*/
                    PageIndexOutOfRangeErrorMessage = "Page index out of range.",
                    ShowFirstLast = false
                })
            </div>
            <table align="center" class="ListTab" cellpadding="0" cellspacing="0">
                <tr>
                    <th style="width: 100px">
                        姓名
                    </th>
                    <th style="width: 100px">
                        电话
                    </th>
                    <th style="width: 150px">
                        报名日期
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Phone
                        </td>
                        <td>
                            @item.JoinDateTime
                        </td>
                    </tr>
                }
            </table>
            <div class="pages" style="padding: 10px 10px 10px 10px;">
                @Html.Pager(Model, new PagerOptions
                {
                    PageIndexParameterName = "ID",
                    CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
                    NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
                    NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
                    CssClass = "manage_pages pages",
                    SeparatorHtml = "&nbsp;",
                    AutoHide = false,
                    /*LastPageText = "Last",
                    FirstPageText = "First",
                    PrevPageText = "Back",
                    NextPageText = "Next",*/
                    PageIndexOutOfRangeErrorMessage = "Page index out of range.",
                    ShowFirstLast = false
                })
            </div>
        </td>
    </tr>
</table>
