@{
    ViewBag.Title = "ShowRegistration";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
    var activity = ViewBag.Activity as Poco.ActivityInfo;
}
@section head{
    <style>
        body
        {
            background-color: #f6f6f6;
        }
        
        .MainTab
        {
            background-color: #ffffff;
            width: 95%;
            margin-top: 25px;
            border: 1px solid #dbdbdb;
        }
        
        
        .ListTab
        {
            width: 95%;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .ListTab th
        {
            font-size: 16px;
            font-weight: inherit;
            line-height: 35px;
            background-color: #f6f6f6;
        }
        .ListTab td
        {
            font-size: 13px;
            color: #6c6c6c;
            padding-top: 7px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 7px;
            text-align: center;
            border-bottom: 1px solid #ebebeb;
        }
    </style>
}
@model PagedList<Poco.ActivityInfoParticipator>
<table align="center" class="MainTab" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div class="pages" style="padding: 10px 10px 10px 10px;">
                @Html.Pager(Model, new PagerOptions
           {
               PageIndexParameterName = "ID",
               CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
               NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
               NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
               CssClass = "manage_pages pages",
               SeparatorHtml = "&nbsp;",
               AutoHide = false,
               /*LastPageText = "Last",
               FirstPageText = "First",
               PrevPageText = "Back",
               NextPageText = "Next",*/
               PageIndexOutOfRangeErrorMessage = "Page index out of range.",
               ShowFirstLast = false
           })
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" class="ListTab" cellpadding="0" cellspacing="0" style="table-layout: fixed;
                word-break: break-all">
                <tr>
                    @if (activity.NameIsRequired)
                    { 
                        <th>
                            姓名
                        </th>
                    }
                    @if (activity.PhoneIsRequired)
                    { 
                        <th>
                            电话
                        </th>
                    }
                    @if (activity.EmailIsRequired)
                    { 
                        <th>
                            邮箱
                        </th>
                    }
                    @if (!string.IsNullOrEmpty(activity.Extension1))
                    { 
                        <th>
                            @activity.Extension1
                        </th>
                    }
                    @if (!string.IsNullOrEmpty(activity.Extension2))
                    {
                        <th>
                            @activity.Extension2
                        </th>
                    }
                    @if (!string.IsNullOrEmpty(activity.Extension3))
                    {
                        <th>
                            @activity.Extension3
                        </th>
                    }
                    @if (!string.IsNullOrEmpty(activity.Extension4))
                    {
                        <th>
                            @activity.Extension4
                        </th>
                    }
                    @if (!string.IsNullOrEmpty(activity.Extension5))
                    {
                        <th>
                            @activity.Extension5
                        </th>
                    }
                    <th style="width: 130px">
                        报名日期
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (activity.NameIsRequired)
                        { 
                            <td>
                                @item.Name
                            </td>
                        }
                        @if (activity.PhoneIsRequired)
                        { 
                            <td>
                                @item.Phone
                            </td>
                        }
                        @if (activity.EmailIsRequired)
                        { 
                            <td>
                                @item.Email
                            </td>
                        }
                        @if (!string.IsNullOrEmpty(activity.Extension1))
                        { 
                            <td>
                                @item.Extension1
                            </td>
                        }
                        @if (!string.IsNullOrEmpty(activity.Extension2))
                        {
                            <td>
                                @item.Extension2
                            </td>
                        }
                        @if (!string.IsNullOrEmpty(activity.Extension3))
                        {
                            <td>
                                @item.Extension3
                            </td>
                        }
                        @if (!string.IsNullOrEmpty(activity.Extension4))
                        {
                            <td>
                                @item.Extension4
                            </td>
                        }
                        @if (!string.IsNullOrEmpty(activity.Extension5))
                        {
                            <td>
                                @item.Extension5
                            </td>
                        }
                        <td>
                            @item.JoinDateTime.ToString("yyyy/MM/dd HH:mm")
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div class="pages" style="padding: 10px 10px 10px 10px;">
                @Html.Pager(Model, new PagerOptions
           {
               PageIndexParameterName = "ID",
               CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
               NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
               NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
               CssClass = "manage_pages pages",
               SeparatorHtml = "&nbsp;",
               AutoHide = false,
               /*LastPageText = "Last",
               FirstPageText = "First",
               PrevPageText = "Back",
               NextPageText = "Next",*/
               PageIndexOutOfRangeErrorMessage = "Page index out of range.",
               ShowFirstLast = false
           })
            </div>
        </td>
    </tr>
</table>
