@{
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    ViewBag.Menu = 6;
}

@section head{
    <script src="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.all.js")" type="text/javascript"></script>

    <script>
        var Cnt = 0;
        var UpImgUrl = '@Url.Action("UpImg", "Ajax", new { Area = "" })';
        $(function () {

            $("#file_upload").uploadify({
                height: 30,
                swf: '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
                uploader: UpImgUrl,
                width: 70,
                fileSizeLimit: '5MB',
                buttonText: '选择图片',
                multi: false,
                fileTypeExts: '*.jpg;*.jpge;*.gif;*.bmp',
                onUploadSuccess: function (file, data, response) {

                    if (data == "" || data == undefined || data == "false") {
                        JAlert({
                            Message: "上传失败请重新上传！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return;
                    }

                    if (Cnt > 0) {
                        jcrop_api.destroy();
                        $('#x1').val("0");
                        $('#y1').val("0");
                        $('#w').val("0");
                        $('#h').val("0");
                        $('#tw').val("0");
                        $('#th').val("0");
                    }
                    $("#imgSel").attr('src', data);
                    $("#imgLogo").attr('src', data);
                    $("#imgLogo2").attr('src', data);


                    $("#MainImage").val(data);


                    $('#imgSel').Jcrop({
                        onChange: updatePreview,
                        onSelect: updatePreview,
                        aspectRatio: 2,
                        setSelect: [0, 0, 200, 200]
                    }, function () {
                        // Use the API to get the real image size
                        var bounds = this.getBounds();
                        boundx = bounds[0];
                        boundy = bounds[1];
                        // Store the API in the jcrop_api variable
                        jcrop_api = this;
                        updatePreview(tempC);
                    });
                    Cnt = 1;


                }
            });

            var jcrop_api, boundx, boundy;
            var tempC;

            function updatePreview(c) {
                tempC = c;
                if (parseInt(c.w) > 0) {


                    var rx2 = 200 / c.w;
                    var ry2 = 100 / c.h;
                    $('#imgLogo').css({
                        width: Math.round(rx2 * boundx) + 'px',
                        height: Math.round(ry2 * boundy) + 'px',
                        marginLeft: '-' + Math.round(rx2 * c.x) + 'px',
                        marginTop: '-' + Math.round(ry2 * c.y) + 'px'
                    });

                    var rx3 = 120 / c.w;
                    var ry3 = 60 / c.h;
                    $('#imgLogo2').css({
                        width: Math.round(rx3 * boundx) + 'px',
                        height: Math.round(ry3 * boundy) + 'px',
                        marginLeft: '-' + Math.round(rx3 * c.x) + 'px',
                        marginTop: '-' + Math.round(ry3 * c.y) + 'px'
                    });
                }
                $('#x1').val(c.x);
                $('#y1').val(c.y);
                $('#w').val(c.w);
                $('#h').val(c.h);
                //获取当前显示图片高宽
                $('#tw').val($("#imgSel").width());
                $('#th').val($("#imgSel").height());
            };



            window.UEDITOR_HOME_URL = "/ueditor/";
            //实例化编辑器
            var options = {
                initialFrameWidth: '100%',
                initialFrameHeight: 300,
                imageUrl: UEDITOR_HOME_URL + "net/imageUp_Merchant.ashx",
                imagePath: "",
                imageManagerUrl: UEDITOR_HOME_URL + "net/imageManager_LibraryImageText.ashx",
                imageManagerPath: "",
                initialContent: ""
            };

            var ue = UE.getEditor('editor', options);

            $("#btnSubmit").click(function () {

                if (Cnt == 0) {
                    JMessage("请选择一张图片", true);
                    return false;
                }
                if ($("#w").val() == "0") {

                    JMessage("请选择App列表展示区域！", true);
                    return false;
                }
                var cids = GetCommunity();
                if (cids == undefined || cids.length == 0) {

                    JMessage("请选择小区！", true);
                    $("#hidCommunity").val("");
                    return false;
                } else {
                    $("#hidCommunity").val(cids);

                }

            });

            $("form").submit(function () {
                if ($(".validation-summary-errors").find("li[style!='display:none']").length == 0) {
                    ShowLayout_Later("请稍后", "请稍后，正在努力为您上传数据中...");
                } else {
                    $(".validation-summary-errors").find("li").remove();
                }
            });

            $("#PriceRemark").val("月");
        });
    </script>
        <style type="text/css">
        .middle-out
        {
            width: 320px;
            height: 320px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            border: 1px solid #d0d0d0;
        }
        .view p img
        {
            max-width: 100%;
        }
        .ui-front
        {
            z-index: 1000 !important;
        }
    </style>
}
@model Poco.MerchantPoco.M_EducationTrain
<div class="title">
    教育培训 - 创建信息
</div>
<div class="body">
    @using (Ajax.BeginForm("Add", "M_EducationTrain", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <fieldset style="font-size: 14px">
            <legend>展示图片</legend>
            <table style="line-height: 15px" width="100%">
                <tr>
                    <td style="width: 365px">
                        <div class="middle-out">
                            <div class="middle-in" style="margin: auto 0px">
                                <img id="imgSel"  src="@Url.Content("~/Images/SelImg.jpg")"   style="max-height:320px; max-width:320px;" />
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                        <p>
                            App列表页展示图
                        </p>
                        <div style="width: 200px; height: 100px; overflow: hidden;">
                            <img id="imgLogo" src="@Url.Content("~/Images/SelImg.jpg")" style="width:200px; height:100px"/>
                        </div>
                        <span style="font-size: 12px; color: #979797">(320*160 缩略图)</span>
                        <div style="width: 120px; height: 60px; overflow: hidden; margin-top: 17px">
                            <img id="imgLogo2" src="@Url.Content("~/Images/SelImg.jpg")" style="width:120px; height:60px"/>
                        </div>
                        <span style="font-size: 12px; color: #979797">(120*60 缩略图)</span>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div style="color: Red">
                            提示：请上传小于5MB的图片
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="file_upload" name="file_upload" type="file" multiple="false" />
                        @Html.TextBoxFor(a => a.MainImage, new { style = "width:0px;display:none" })
                        @Html.ValidationMessageFor(a => a.MainImage)
                          <div style=" ">@Html.ValidationSummary()</div>
                        <div style="display: none">
                            X1
                            <input type="text" size="4" id="x1" name="x1" value="0" />
                            Y1
                            <input type="text" size="4" id="y1" name="y1" value="0" />
                            W
                            <input type="text" size="4" id="w" name="w" value="0" />
                            H
                            <input type="text" size="4" id="h" name="h" value="0" />
                            TW
                            <input type="text" size="4" id="tw" name="tw" value="0" />
                            TH
                            <input type="text" size="4" id="th" name="th" value="0" />
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset style="font-size: 14px">
            <legend>基本信息</legend>
            <table style="width: 100%;">
                <tr>
                    <td class="tdTitle" style="width: 150px">
                        <span class="Identification">*</span> 标题
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Title, new { style = "width:300px" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Title)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle" style="width: 150px">
                        <span class="Identification">*</span> 备注/描述
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.Remark, new { style = "width:300px;height:50px" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Remark)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle" style="width: 150px">
                        <span class="Identification">*</span> 价格
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Price, new { style = "width:100px" })/@Html.TextBoxFor(a => a.PriceRemark, new { style = "width:50px"})
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Price)
                    @Html.ValidationMessageFor(a => a.PriceRemark)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 绑定小区
                    </td>
                    <td class="tdField" colspan="2">
                        @Html.Partial("Community")
                        <input type="hidden" name="hidCommunity" id="hidCommunity" />
                    </td>
                </tr>
                <tr style="height: 300px">
                    <td class="tdTitle" valign="top">
                        <span class="Identification">*</span> 内容简介
                    </td>
                    <td class="tdField" colspan="2">
                        <script type="text/plain" id="editor" height="300px" name="Content"></script>
                    </td>
                </tr>
            </table>
        </fieldset>
          <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
    }
</div>

