@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.LotteryDish;
    ViewBag.Menu3 = Poco.SystemConst.Menu.LotteryDish;
}
@section head{
    <script type="text/javascript">

        //奖品信息
        function LotteryItem() {
            var it = new Object;
            it.Name = "";
            it.Ratio = "";
            it.Image = "";
            it.Count = ""; 
            it.IsWinning = false;
            return it;
        }

        $(function () {
            $("#btnInsert").click(function () {
                $("#table_detail").append('<tr class="tr_item"><td>' +
                    '<input type="file" style="display: none" class="file_item" name="file_item" /><img class="btn_img"width="40px" height="40px" style="vertical-align: middle; cursor: pointer" /></td>' +
                    '<td><input type="text" style="width: 340px;" class="txtItemTitle" /></td>' +
                    '<td><input type="text" class="txtItemRatio" maxlength="5" style="width: 80px;" title="填写数字（格式：10 , 10.5）"/></td>' +
                    '<td><input type="text" style="width: 80px;" class="txtItemCount" title="填写整数" /></td>' +
                    '<td><input type="checkbox" class="cbIsWinning" /></td>' +
                    '<td><a class="btn_delete" style="color: #00aec8">删除</a></td></tr>');
                init();
            });
            $(".btn_img").live("click", function () {
                $(this).prev(":file").click();
            });

            $(".file_item").live("change", function () {
                var obj = $(this);
                var fileName = obj.val();
                if (fileName.length == 0) { return false; }
                var suffix = fileName.substring(fileName.lastIndexOf('.')).toLowerCase();
                switch (suffix) {
                    case ".jpg":
                    case ".jpeg":
                    case ".gif":
                    case ".bmp":
                        break;
                    default:
                        JAlert({
                            Message: "格式限制：jpg, jpge, gif, bmp",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return false;
                        break;
                }
                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        obj.next(".btn_img").attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
                return false;
            });

            $(".btn_delete").live("click", function () {
                var count = $(".tr_item").length;
                if (count <= 2) {
                    JAlert({
                        Message: "至少需要2项奖品。",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    return;
                } else {
                    console.log($(this).parent().parent("tr"));
                    $(this).parent().parent("tr").remove();
                }
            });


            $(".txtItemRatio").live("keyup blur", function () {
                var value = $(this).val().trim();
                if (value.length > 0) {
                    var regex = /(^(100)$)|(^\d{1,2}((\.)|(\.\d{1,2}))?$)/;
                    if (!regex.test(value)) {
                        $(this).addClass("input-validation-error").focus();

                    } else {
                        $(this).removeClass("input-validation-error");
                    }
                }
            });

            $(".txtItemCount").live("keyup blur", function () {
                var value = $(this).val().trim();
                if (value.length > 0) {
                    var regex = /^\d+$/;
                    if (!regex.test(value)) {
                        $(this).addClass("input-validation-error").focus();
                    } else {
                        $(this).removeClass("input-validation-error");
                    }
                } else {
                    $(this).addClass("input-validation-error").focus();
                }
            });


            $("#btnSubmit").click(function () {
                var hasError = false;
                $(".txtItemTitle,.txtItemRatio,.txtItemCount").each(function (i, n) {
                    if ($(n).val().trim().length == 0) {
                        JAlert({
                            Message: "请填写完整的奖品信息。",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        hasError = true;
                        return;
                    }
                    var ratioSum = 0;
                    $(".txtItemRatio").each(function (i, n) {
                        ratioSum += parseInt($(n).val().trim());
                    });
                    if (ratioSum != 100) {
                        JAlert({
                            Message: "各奖品中奖率和要等于100。",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        hasError = true;
                        return;
                    }
                });
                if ($(".input-validation-error").length > 0) {
                    JAlert({
                        Message: "请检查奖品信息中的错误。",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    hasError = true;
                }
                if (hasError) {
                    return false;
                } else {
                    //获取奖品信息
                    var items = [];
                    $(".tr_item").each(function (i, n) {
                        var li = new LotteryItem();
                        li.Name = $(n).find(".txtItemTitle").val().trim();
                        li.Ratio = $(n).find(".txtItemRatio").val().trim();
                        li.Image = $(n).find(".file_item").val().trim();
                        li.Count = $(n).find(".txtItemCount").val().trim();
                        li.IsWinning = $(n).find(".cbIsWinning").attr("checked") == undefined ? false : ($(n).find(".cbIsWinning").attr("checked") == "checked" ? true : false);
                        items.push(li);
                    });
                    $("#hidItems").val(JSON.stringify(items));
                    return true;
                }
            });
            init();
        });

        function init() {
            $(".txtItemRatio").tipTip({ activation: "hover,focus", delay: 3, defaultPosition: "top" });
            $(".txtItemCount").tipTip({ activation: "hover,focus", delay: 3, defaultPosition: "top" });
        }
    </script>
}
@model Poco.Lottery_dish
<div class="title">
    @Html.Partial("SitePath")
</div>
<div class="body">
    @using (Html.BeginForm("Add", "LotteryDish", new { HostName = ViewBag.HostName }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>基本信息</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 标题
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Name)<input id="hidItems" name="hidItems" type="hidden" />
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Name)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 描述
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.Description)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Description)
                    </td>
                </tr>
            </table>
        </fieldset>
        <br />
        <div>
            奖品信息（至少2件奖品）&nbsp;&nbsp;<a style="float: right; color: #00aec8" id="btnInsert">点击新增奖品</a></div>
        <table id="table_detail" class="tableList" cellpadding="0" cellspacing="0">
            <tr>
                <th style="width: 80px">
                    图片
                </th>
                <th style="width: 350px">
                    奖品名称
                </th>
                <th style="width: 100px">
                    中奖率(%)
                </th>
                <th style="width: 100px">
                    奖品数量
                </th>
                <th style="width: 70px">
                   是否中奖
               </th>
               <th style="width: 70px">
                    操作
                </th>
            </tr>
            <tr class="tr_item">
                <td>
                    <input type="file" style="display: none" class="file_item" name="file_item" /><img class="btn_img"
                        width="40px" height="40px" style="vertical-align: middle; cursor: pointer" />
                </td>
                <td>
                    <input type="text" style="width: 340px;" class="txtItemTitle" />
                </td>
                <td>
                    <input type="text" class="txtItemRatio" maxlength="5" style="width: 80px;" title="填写数字（格式：10 , 10.5）" />
                </td>
                <td>
                    <input type="text" style="width: 80px;" class="txtItemCount" title="填写整数" />
                </td>
                <td>
                   <input type="checkbox" class="cbIsWinning" />
               </td>
                <td>
                    <a class="btn_delete" style="color: #00aec8">删除</a>
                </td>
            </tr>
            <tr class="tr_item">
                <td>
                    <input type="file" style="display: none" class="file_item" name="file_item" /><img class="btn_img"
                        width="40px" height="40px" style="vertical-align: middle; cursor: pointer" />
                </td>
                <td>
                    <input type="text" style="width: 340px;" class="txtItemTitle" />
                </td>
                <td>
                    <input type="text" class="txtItemRatio" maxlength="5" style="width: 80px;" title="填写数字（格式：10 , 10.5）" />
                </td>
                <td>
                    <input type="text" style="width: 80px;" class="txtItemCount" title="填写整数"  />
                </td>
                <td>
                   <input type="checkbox" class="cbIsWinning" />
               </td>
                <td>
                    <a class="btn_delete" style="color: #00aec8">删除</a>
                </td>
            </tr>
        </table>
     
        <div class="action">
            <input type="submit" id="btnSubmit" class="button" value="保存" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
    }
</div>
