@{

    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.UserManage;
}
@section head{
    <link href="@Url.Content("~/Scripts/MediaElement/mediaelementplayer.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/MediaElement/mediaelement-and-player.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var CanCommit = true;
        var checkMessageUrl = '@Url.Action("CheckMessage", "SingleChat")';
        var GetImgTextMessage = '@Url.Action("GetImgTextMessage", "SingleChat")';
        $(function () {

            //更改main 宽度
            var main = $('.main');
            main.attr("style", "width:770px")

            //输入文字字数校验
            $("#tabs").tabs();
            $("#Content").keyup(function () {
                var length = 500 - $("#Content").val().trim().length;
                $("#divTextInfo").html(length);
            });
            $("#Content").keyup();


            //验证文本是否输入
            $("#btnSubmit").click(function () {
                if (CanCommit) {
                    CanCommit = false;
                    var length = $.trim($("#Content").val()).length;
                    if (length == 0) {
                        alert("请输入数据！");
                        CanCommit = true;
                        return false;
                    }
                    else if (length > 500) {
                        CanCommit = true;
                        alert("只能输入500字！");
                        return false;
                    }
                    else {
                        var regex = /^((?!<!).)*/g;
                        var tempValue = $.trim($("#Content").val()).match(regex)[0];
                        if (tempValue.length != length) {
                            JAlert({
                                Message: "不能输入非法字符。",
                                DialogType: "Ok",
                                BtnOk: "确定"
                            });
                            return false;
                        }
                        return true;
                    }
                }
                else {
                    return false;
                }
            });

            //验证是否选择图片
            $("#btnImgSubmit").click(function () {
                if (CanCommit) {
                    CanCommit = false;
                    var length = $.trim($("#TypeImgPath").val()).length;
                    if (length == 0) {
                        alert("请选择一个图片！");
                        CanCommit = true;
                        return false;
                    }
                    else {
                        return true;
                    }
                }
                else {
                    return false
                }
            });


            //验证是否选择语音
            $("#btnYYSubmit").click(function () {
                if (CanCommit) {
                    CanCommit = false;
                    var length = $.trim($("#TypeVoicePath").val()).length;
                    if (length == 0) {
                        alert("请选择一个语音素材！");
                        CanCommit = true;
                        return false;
                    }
                    else {
                        return true;
                    }
                }
                else {
                    return false
                }
            });


            //验证是否选择视频
            $("#btnSPSubmit").click(function () {
                if (CanCommit) {
                    CanCommit = false;
                    var length = $.trim($("#TypeVideoPath").val()).length;
                    if (length == 0) {
                        alert("请选择一个视频素材！");
                        CanCommit = true;
                        return false;
                    }
                    else {
                        return true;
                    }
                }
                else {
                    return false
                }
            });


            //验证是否选择图文
            $("#btnTWSubmit").click(function () {
                if (CanCommit) {
                    CanCommit = false;
                    var length = $.trim($("#imgtextID").val()).length;
                    if (length == 0) {
                        alert("请选择一个图文素材！");
                        CanCommit = true;
                        return false;
                    }
                    else {
                        return true;
                    }
                }
                else {
                    return false
                }
            });


            //选择本地图片
            $("#TypeImagePathFile").change(function () {
                var fileName = $("#TypeImagePathFile").val();
                $("#TypeImgPath").val(fileName);
                var suffix = fileName.substring(fileName.lastIndexOf('.')).toLowerCase();
                $("span[data-valmsg-for='TypeImagePath']").empty().attr("class", "field-validation-valid");
                switch (suffix) {
                    case ".jpg":
                    case ".jpeg":
                    case ".png":
                    case ".gif":
                    case ".bmp":
                        break;
                    default:
                        $("span[data-valmsg-for='HouseTypeImagePath']").text("支持下列图片格式：.jpg|.jpeg|.png|.gif|.bmp").attr("class", "field-validation-error");
                        break;
                }
                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#imgType").attr('src', e.target.result);
                        $("#MesIMGAddress").val("1");
                    };
                    reader.readAsDataURL(input.files[0]);
                }
                else {
                    $("#imgType").attr('src', "#");
                    $("#TypeImgPath").val("");
                }
                return false;
            });

            //素材图片
            $("#btnImgSC").click(function () {
                var src = $("#iframeLibrary").attr("src");
                $("#iframeLibrary").attr("src", src);
                $("#dialogFile").dialog({
                    resizable: false,
                    height: 650,
                    width: 829,
                    modal: true,
                    draggable: false,
                    buttons: {
                        "确定": function () {
                            var subDocument = $(window.frames["iframeLibrary"].document);
                            var sel = subDocument.find("#tabs-img").find(":checked")
                            if (sel.length <= 0) {
                                JAlert({
                                    Message: "请选择一个素材。",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                                return;
                            }
                            var title = sel.parent().find("label").text();
                            var hidObj = sel.parent().find(":hidden")
                            var url = hidObj.val();
                            var id = hidObj.attr("fileID");
                            var type = hidObj.attr("fileType")
                            $("#imgType").attr('src', url);
                            $("#TypeImgPath").val("~" + url);
                            $("#MesIMGAddress").val("2");
                            $(this).dialog("close");
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            //语音素材
            $("#btnVoiceSC").click(function () {
                var src = $("#iframeVoiceLibrary").attr("src");
                $("#iframeVoiceLibrary").attr("src", src);
                $("#dialogVoiceVFile").dialog({
                    resizable: false,
                    height: 650,
                    width: 829,
                    modal: true,
                    draggable: false,
                    buttons: {
                        "确定": function () {
                            var subDocument = $(window.frames["iframeVoiceLibrary"].document);
                            var sel = subDocument.find("#tabs-Voice").find(":checked")
                            if (sel.length <= 0) {
                                JAlert({
                                    Message: "请选择一个素材。",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                                return;
                            }
                            var title = sel.parent().find("label").text();
                            var hidObj = sel.parent().find(":hidden")
                            var url = hidObj.val();
                            var id = hidObj.attr("fileID");
                            var type = hidObj.attr("fileType");
                            var mp3url =hidObj.attr("mp3value");
                            var FlieLength=hidObj.attr("lengthvalue"); 
                            
                            $("#VoiceFileLength").val(FlieLength);
                            $("#VoiceName").text(title);
                            $("#VoiceYL").attr("style", "display:");
                            $("#VoiceYL").click(function () { ShowMessage("2", mp3url, $(this)); })
                            $("#TypeVoicePath").val("~" + url);
                            $(this).dialog("close");
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });

            //视频素材
            $("#btnVideoSC").click(function () {
                var src = $("#iframeVideoLibrary").attr("src");
                $("#iframeVideoLibrary").attr("src", src);
                $("#dialogVideoFile").dialog({
                    resizable: false,
                    height: 650,
                    width: 829,
                    modal: true,
                    draggable: false,
                    buttons: {
                        "确定": function () {
                            var subDocument = $(window.frames["iframeVideoLibrary"].document);
                            var sel = subDocument.find("#tabs-Video").find(":checked")
                            if (sel.length <= 0) {
                                JAlert({
                                    Message: "请选择一个素材。",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                                return;
                            }
                            var title = sel.parent().find("label").text();
                            var hidObj = sel.parent().find(":hidden")
                            var url = hidObj.val();
                            var id = hidObj.attr("fileID");
                            var type = hidObj.attr("fileType")
                            var FlieLength=hidObj.attr("lengthvalue"); 
                            
                            $("#VideoFileLength").val(FlieLength);
                            $("#VideoName").text(title);
                            $("#VideoYL").attr("style", "display:");
                            $("#VideoYL").click(function () { ShowMessage("3", url, $(this)); })
                            $("#TypeVideoPath").val("~" + url);
                            $(this).dialog("close");
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });

            //图文素材
            $("#btnImgTextSC").click(function () {
                var src = $("#iframeImgTextLibrary").attr("src");
                $("#iframeImgTextLibrary").attr("src", src);
                $("#dialogImgTextFile").dialog({
                    resizable: false,
                    height: 650,
                    width: 829,
                    modal: true,
                    draggable: false,
                    buttons: {
                        "确定": function () {
                            var subDocument = $(window.frames["iframeImgTextLibrary"].document);
                            var sel = subDocument.find("#tabs-ImgText").find(":checked")
                            if (sel.length <= 0) {
                                JAlert({
                                    Message: "请选择一个素材。",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                                return;
                            }
                            var title = sel.parent().find("label").text();
                            var hidObj = sel.parent().find(":hidden")
                            var url = hidObj.val();
                            var id = hidObj.attr("fileID");
                            var type = hidObj.attr("fileType")

                            $("#ImgTextName").text(title);
                            $("#ImgTextYL").attr("style", "display:");
                            $("#imgtextID").val(id);

                            $("#ImgTextYL").click(function () { ShowMessage("4", id, $(this)); })

                            $(this).dialog("close");
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });




        });

        //读取数据
        function ReadMessage() {
            //            $.get(checkMessageUrl, {}, function (data) {
            //                if (data && data == "1") {
            $("#btnSelData").click();
            //                }
            //            });
        }

        //定时器
        setInterval(ReadMessage, "5000");

        //发送完执行的js
        function EmptyContent() {

            $("#Content").val("");
            $("#Content").keyup();
            CanCommit = true;

        }

        //显示图片视频语音图文
        function ShowMessage(Type, MesURL, obj) {
            //图片
            if (Type == "1") {
                $("#trImg").attr("style", "display:");
                $("#trVoice").attr("style", "display:none");
                $("#trVideo").attr("style", "display:none");
                $("#trImgText").attr("style", "display:none");


                $("#ShowImg").attr("src", MesURL);
                $("#dialogShowMessage").dialog({
                    resizable: false,
                    height: "auto",
                    width: "auto",
                    modal: true,
                    draggable: false,
                    title: "图片",
                    position: "center",
                    buttons: {
                        "关闭浏览": function () {
                            $(this).dialog("close");
                        }
                    }
                });
                
            }
            //语音
            else if (Type == "2") {
                $("#trImg").attr("style", "display:none");
                $("#trVoice").attr("style", "display:");
                $("#trVideo").attr("style", "display:none");
                $("#trImgText").attr("style", "display:none");

                $("#playerVoice").attr("src", MesURL);
                $("#dialogShowMessage").dialog({
                    resizable: false,
                    height: "170",
                    width: "550",
                    modal: true,
                    title:"语音",
                    position:"center",
                    draggable: false,
                    beforeClose: function (event, ui) {
                        new MediaElement("playerVoice", {
                            enableKeyboard: false,
                            success: function (mediaElement, domObject) {
                                mediaElement.stop();
                            },
                            error: function () {

                            }
                        });
                    },
                    buttons: {
                        "关闭浏览": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                new MediaElement("playerVoice", {
                    enableKeyboard: false,
                    success: function (mediaElement, domObject) {
                        mediaElement.play();
                    },
                    error: function () {

                    }
                });

            }
            //视频
            else if (Type == "3") {
                $("#trImg").attr("style", "display:none");
                $("#trVoice").attr("style", "display:none");
                $("#trVideo").attr("style", "display:");
                $("#trImgText").attr("style", "display:none");

                $("#playerVideo").attr("src", MesURL);
                $("#dialogShowMessage").dialog({
                    resizable: false,
                    height: "430",
                    width: "570",
                    modal: true,
                    title:"视频",
                    position:"center",
                    draggable: false,
                    beforeClose: function (event, ui) {
                        new MediaElement("playerVideo", {
                            enableKeyboard: false,
                            success: function (mediaElement, domObject) {
                                mediaElement.stop();
                            },
                            error: function () {

                            }
                        });
                    },
                    buttons: {
                        "关闭浏览": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                new MediaElement("playerVideo", {
                    enableKeyboard: false,
                    success: function (mediaElement, domObject) {
                        mediaElement.play();
                    },
                    error: function () {

                    }
                });
            }
            //图文
            else if (Type == "4") {
                $("#trImg").attr("style", "display:none");
                $("#trVoice").attr("style", "display:none");
                $("#trVideo").attr("style", "display:none");
                $("#trImgText").attr("style", "display:");


                 var src = "@Url.Action("ShowImagetext", "LibraryImageText", new { HostName = ViewBag.HostName })"+"?ImageTextID="+MesURL;
                $("#iframeShowImgText").attr("src", src);

                $("#dialogShowMessage").dialog({
                    resizable: false,
                    height: "660",
                    width: "560",
                    modal: true,
                    title:"图文",
                    position:"center",
                    draggable: false,
                    buttons: {
                        "关闭浏览": function () {
                            $(this).dialog("close");
                        }
                    }
                });
                //MesURL==ID 
               
               
               

            }


        }

       
    </script>
    <style>
        .div_item
        {
            border-bottom: 1px solid #E7E7E7;
            font-family: @@微软雅黑;
            padding: 15px 0px 25px 0px;
        }
        .div_item:hover
        {
            background-color: #f1f1f1;
        }
        
        .tabOver
        {
            background-color: #f1f1f1;
        }
        
        .ImgTab
        {
            width: 100%;
            height: 103px;
            border-left: 1px solid #E7E7E7;
            border-bottom: 1px solid #E7E7E7;
        }
        .ImgTab td
        {
            border-right: 1px solid #E7E7E7;
            padding-left: 5px;
        }
    </style>
}
<div class="title">
    与 "@ViewBag.UName" 的聊天
</div>
<div class="body">
    <div class="tableList" id="tabs" style="width: 725px; height: 220px">
        <ul>
            <li><a href="#tabs-1">文字</a></li>
            <li><a href="#tabs-2">语音</a></li>
            <li><a href="#tabs-3">图片</a></li>
            <li><a href="#tabs-4">视频</a></li>
            <li><a href="#tabs-5">图文消息</a></li>
        </ul>
        <div id="tabs-1">
            @using (Ajax.BeginForm("SendMessage", "SingleChat", new { HostName = ViewBag.HostName, id = ViewBag.ID, userID = ViewBag.UserID, SID = ViewBag.ConverID }, new AjaxOptions() { UpdateTargetId = "div_data", OnSuccess = "EmptyContent()" }))
            {
                <input type="hidden" value="0" id="MesType0" name="MesType" />
                <textarea id="Content" name="Content" rows="8" style="width: 100%; height: 80px"></textarea>
                <div style="float: left">
                </div>
                <div style="float: right;">
                    还可以输入 <span id="divTextInfo" style="font-weight: bold; font-size: 16px">500</span>
                    字
                </div>
                <div style="clear: both">
                </div>
                    
                <input type="submit" id="btnSubmit" value="发送" class="button" style="margin-top: 10px;" />
            }
        </div>
        <div id="tabs-2">
            @using (Html.BeginForm("SendMessage", "SingleChat", new { HostName = ViewBag.HostName, id = ViewBag.ID, userID = ViewBag.UserID, SID = ViewBag.ConverID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" value="3" id="MesType3" name="MesType" />
                <input type="hidden" id="TypeVoicePath" name="TypePath" />
                <input type="hidden" id="VoiceFileLength" name="FileLength" />
                <table cellpadding="0" cellspacing="0" class="ImgTab">
                    <tr>
                        <td align="left" colspan="2">
                            <button type="button" id="btnVoiceSC" class="button">
                                语音素材</button>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="width: 35px; border-right: 0px">
                           
                           <span  id="VoiceYL" class="ico-music"  title="点击预览"  style="vertical-align: middle;cursor: pointer;
                                display: none"></span>
                            
                        </td>
                        <td align="left" style="border-left: 0px">
                            <label id="VoiceName" />
                        </td>
                    </tr>
                </table>
                <input type="submit" id="btnYYSubmit" value="发送" class="button" style="margin-top: 12px;" />
            }
        </div>
        <div id="tabs-3">
            @using (Html.BeginForm("SendMessage", "SingleChat", new { HostName = ViewBag.HostName, id = ViewBag.ID, userID = ViewBag.UserID, SID = ViewBag.ConverID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" value="1" id="MesType1" name="MesType" />
                <input type="hidden" value="-1" id="MesIMGAddress" name="MesAddress" />
                <table cellpadding="0" cellspacing="0" class="ImgTab">
                    <tr>
                        <td align="left">
                            本地图片：
                            <input type="button" value="上传" onclick="$('#TypeImagePathFile').click()" class="button" />
                            <input type="file" id="TypeImagePathFile" name="TypeImagePathFile" style="display: none" />
                            <input type="hidden" id="TypeImgPath" name="TypePath" />
                        </td>
                        <td width="235px" rowspan="2" style="border-left: 0px">
                            <img id="imgType" style="max-width: 230px; max-height: 100px; float: left" />
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <button type="button" id="btnImgSC" class="button">
                                图片素材</button>
                        </td>
                    </tr>
                </table>
                <div style="clear: both">
                </div>
                <input type="submit" id="btnImgSubmit" value="发送" class="button" style="margin-top: 12px" />
            }
        </div>
        <div id="tabs-4">
            @using (Html.BeginForm("SendMessage", "SingleChat", new { HostName = ViewBag.HostName, id = ViewBag.ID, userID = ViewBag.UserID, SID = ViewBag.ConverID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" value="2" id="MesType2" name="MesType" />
                <input type="hidden" id="TypeVideoPath" name="TypePath" />
                <input type="hidden" id="VideoFileLength" name="FileLength" />
                <table cellpadding="0" cellspacing="0" class="ImgTab">
                    <tr>
                        <td align="left" colspan="2">
                            <button type="button" id="btnVideoSC" class="button">
                                视频素材</button>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="width: 35px; border-right: 0px">
                        <span  id="VideoYL" class="ico-facetime-video" title="点击预览" style="vertical-align: middle;cursor: pointer;
                                display: none" ></span>
                          
                        </td>
                        <td align="left" style="border-left: 0px">
                            <label id="VideoName" />
                        </td>
                    </tr>
                </table>
                <input type="submit" id="btnSPSubmit" value="发送" class="button" style="margin-top: 12px;" />
            }
        </div>
        <div id="tabs-5">
            @using (Html.BeginForm("SendMessage", "SingleChat", new { HostName = ViewBag.HostName, id = ViewBag.ID, userID = ViewBag.UserID, SID = ViewBag.ConverID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" value="4" id="MesType4" name="MesType" />
                <input type="hidden" id="imgtextID" name="imgtextID" />
                <table cellpadding="0" cellspacing="0" class="ImgTab">
                    <tr>
                        <td align="left" colspan="2">
                            <button type="button" id="btnImgTextSC" class="button">
                                图文素材</button>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="width: 35px; border-right: 0px">
                            <img id="ImgTextYL" width="32px" src="~/Images/Start.png" title="点击预览" style="cursor: pointer;
                                display: none" />
                        </td>
                        <td align="left" style="border-left: 0px">
                            <label id="ImgTextName" />
                        </td>
                    </tr>
                </table>
             

                <input type="submit" id="btnTWSubmit" value="发送" class="button" style="margin-top: 12px;" />
             
                
            }
        </div>
    </div>
    @using (Ajax.BeginForm("ReadMessage", "SingleChat", new { HostName = ViewBag.HostName, id = ViewBag.ID, userID = ViewBag.UserID, SID = ViewBag.ConverID }, new AjaxOptions() { UpdateTargetId = "div_data" }))
    { 
        <input type="submit" id="btnSelData" style="visibility: hidden" />
    }
    <div id="div_data" style="padding: 0px 0px 25px 0px; margin-top: -40px">
        @{Html.RenderAction("ChatPartialView", new { id = ViewBag.ID, userID = ViewBag.UserID, SID = ViewBag.ConverID });}
    </div>
</div>
<div id="dialogFile" title="选择图片素材" style="display: none">
    <iframe id="iframeLibrary" src="@Url.Action("ImageManage", "Library", new { HostName = ViewBag.HostName })" style="width:800px;height:530px;border:none;overflow:hidden">
    </iframe>
</div>
<div id="dialogVoiceVFile" title="选择语音素材" style="display: none">
    <iframe id="iframeVoiceLibrary" src="@Url.Action("VoiceManage", "Library", new { HostName = ViewBag.HostName })" style="width:800px;height:530px;border:none;overflow:hidden">
    </iframe>
</div>
<div id="dialogVideoFile" title="选择视频素材" style="display: none">
    <iframe id="iframeVideoLibrary" src="@Url.Action("VideoManage", "Library", new { HostName = ViewBag.HostName })" style="width:800px;height:530px;border:none;overflow:hidden">
    </iframe>
</div>
<div id="dialogImgTextFile" title="选择图文素材" style="display: none">
    <iframe id="iframeImgTextLibrary" src="@Url.Action("ImgTextManager", "Library", new { HostName = ViewBag.HostName })" style="width:800px;height:530px;border:none;overflow:hidden">
    </iframe>
</div>
<div id="dialogShowMessage" title="" style="display: none">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr id="trImg" align="center" style="">
            <td>
                <img id="ShowImg" style="max-width: 1024px; max-height: 620px" src="" />
            </td>
        </tr>
        <tr id="trVoice">
            <td style="padding-top: 15px">
                <audio style="width: 100%" id="playerVoice" src="" controls="controls"></audio>
            </td>
        </tr>
        <tr id="trVideo">
            <td>
                <video width="550px" id="playerVideo" src="" controls="controls"></video>
            </td>
        </tr>
        <tr id="trImgText">
            <td>
                <iframe id="iframeShowImgText" src="#" style="width: 540px; height: 530px; border: none;
                    overflow:auto"></iframe>
            </td>
        </tr>
    </table>
</div>
<div style="clear: both">
</div>
