@{
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
@section head{
    <script src="@Url.Content("/ueditor/ueditor.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("/ueditor/ueditor.all.js")" type="text/javascript"></script>
    <script>

        var ue;
        var url = '@Url.Action("Detail", "M_TakeOut", new { Area = "Merchant", id = ViewBag.ID })';
        var id=@ViewBag.ID;

        function Item() {
            var it = new Object;
            it.Title = "";
            it.Price = 0;
            return it;
        }

        $(function () {

            window.UEDITOR_HOME_URL = "/ueditor/";
            //实例化编辑器
            var options = {
                initialFrameWidth: '100%',
                initialFrameHeight: 200,
                imageUrl: UEDITOR_HOME_URL + "net/imageUp_Advertorial.ashx",
                imagePath: "",
                imageManagerUrl: UEDITOR_HOME_URL + "net/imageManager_LibraryImageText.ashx",
                imageManagerPath: "",
                initialContent: ""
            };

            ue = UE.getEditor('editor1', options);

            $("#btnInsert").click(function () {
                $("#div_content").append('<div style="height: 30px; line-height: 30px;" class="div_item"><label>商品名称&nbsp;&nbsp;</label><input type="text" value="" class="txtTitle" style="width:200px" /> <label>价格(元)&nbsp;&nbsp;</label><input type="text" value="" style="width:40px; margin-right:20px;" class="txtPrice" /><a style="float: right" class="btn_delete_item">删除该项</a></div>');
            });

            $(".btn_delete_item").live("click", function () {
                var l = $(".btn_delete_item").length;
                if (l == 1) {
                    alert("至少添加一条商品信息。");
                } else {
                    $(this).parent().remove();
                }
            });

            $("#btnSubmit").click(function () {
               JAlert({
                   Message: "修改后需要重新提交审核，是否确定修改？",
                   DialogType: "confirm",
                   BtnOk: "确定",
                   BtnOkClick: "$(this).dialog('close'); postData();",
                   BtnCancel: "取消",
                   BtnCancelClick: "$(this).dialog('close');return false;"
               });
           });
       });

       function postData() {
          var isOk = true;
                $(":text").each(function (i, n) {
                    if ($(n).val().length == 0) {
                        isOk = false;
                        return;
                    }
                });
                if (isOk == false) {
                    alert("请检查信息是否完整。");
                    return false;
                }
                //验证价格
                var regex = /^\d+(\.\d{1,2})?$/;
                var itemList = [];
                $(".div_item").each(function (i, n) {
                    var item = new Item();
                    item.Title = $(n).find(".txtTitle").val();
                    var p = $(n).find(".txtPrice");
                    item.Price = p.val();
                    if (!regex.test(item.Price)) {
                        p.addClass("input-validation-error").focus();
                        isOk = false;
                        return;
                    } else {
                        p.removeClass("input-validation-error");
                    }
                    itemList.push(item);
                });
                if (isOk == false) {
                    alert("价格值不正确。");
                    return false;
                } else {
                    var item_value = JSON.stringify(itemList);
                    var content=ue.getContent();
                    ShowLayout_Later("请稍后", "请稍后，正在努力为您上传数据中...");
                    $.post(url,{hidId:id,hidItems:item_value,Content:content},function(result){
                        CloseLayout_Later();
                        if(result!=undefined){
                            if(result.HasError){
                            
                                JMessage(result.Error,true);
                            }else{
                                JMessage("保存成功。");
                            }
                        }
                    },"json");
                }
                }
    </script>
}
@model List<Poco.MerchantPoco.M_TakeOutDetail>
<div class="title">
    @ViewBag.Title
</div>
<div class="body">
    <div style="height: 30px; margin-top: 10px">
        <a class="button" id="btnInsert">新增商品</a>
    </div>
    <div style="border: 1px solid #d1d1d1; padding: 10px;" id="div_content">
        @foreach (var item in Model)
        {
            <div style="height: 30px; line-height: 30px;" class="div_item">
                <label>
                    商品名称&nbsp;&nbsp;</label><input type="text" style="width: 200px" class="txtTitle" value="@item.Title" />
                <label>
                    价格(元)&nbsp;&nbsp;</label><input type="text"  value="@item.Price" class="txtPrice" style="width: 40px;
                        margin-right: 20px;" /><a style="float: right" class="btn_delete_item">删除该项</a></div>
        }
    </div>
    <div style="margin: 15px 0px 10px 0px;">
        商品描述
    </div>
    <script type="text/plain" id="editor1" height="200px" width="100%" name="Content">@Html.Raw(ViewBag.Content)</script>
    <div class="action">
        <input type="button" id="btnSubmit" class="button" value="保存" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
    </div>
</div>
