@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var ckTypeList = ViewBag.Building as List<Poco.LookupOption>;
    var ckDicList = ViewBag.Decoration as List<Poco.LookupOption>; 
    ViewBag.Menu = Poco.SystemConst.Menu.HousesMange;
}
@section head{
    <script type="text/javascript">
    $(function () {
        $("#HOpeningDate").datepicker({
            changeMonth: true,
            changeYear: true,
            onSelect: function (selectedDate) {
                $("#HCheckInDate").datepicker("option", "minDate", selectedDate);
            }
        });

        $("#HCheckInDate").datepicker({
            changeMonth: true,
            changeYear: true,
            onSelect: function (selectedDate) {
                $("#HOpeningDate").datepicker("option", "maxDate", selectedDate);
                $("#HCompletedDate").datepicker("option", "maxDate", selectedDate);
            }
        });

        $("#HCompletedDate").datepicker({
            changeMonth: true,
            changeYear: true,
//            onSelect: function (selectedDate) {
//                $("#HCheckInDate").datepicker("option", "maxDate", selectedDate);
//            }
        });


    });
    </script>
}
@model Poco.AccountMainHouses
<div class="title">
    添加项目
</div>
<div class="body">
    @using (Ajax.BeginForm("Add", "HousesMange", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <fieldset>
            <legend>基本信息</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        项目名称
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HName)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HName)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        建筑类别
                    </td>
                    <td class="tdField">
                        @foreach (var item in ckTypeList)
                        {
                            <input style="width:auto" type="checkbox" id="cb_@item.ID" name="BuildingType" value="@item.ID"  /><label for="cb_@item.ID">@item.Value</label>
                        }
                    </td>
                    <td>
                        @Html.ValidationMessageFor(a => a.BuildingType)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        装修情况
                    </td>
                    <td class="tdField">  @foreach (var item in ckDicList)
                        {
                            <input style="width:auto" type="checkbox" id="cb_@item.ID" name="Decoration" value="@item.ID"  /><label for="cb_@item.ID">@item.Value</label>
                        }
                    </td>
                      
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        项目地址
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.HAddress)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HAddress)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        交通状况
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.Traffic)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Traffic)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        物业公司
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.ProPertyCom)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.ProPertyCom)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        物业费
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.PropetyFee)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.PropetyFee)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        项目介绍
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.HIntroduce)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HIntroduce)
                    </td>
                </tr>
                 <tr>
                    <td class="tdTitle">
                        开发商
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.HBuildCompany)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HBuildCompany)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        投资商
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.HInvestor)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HInvestor)
                    </td>
                </tr>
            </table>
        </fieldset>
     
        <fieldset style=" margin-top: 15px;">
            <legend>销售信息</legend>
            <table class="tableForm">
               <tr>
                    <td class="tdTitle">
                        售楼电话
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.TelSales)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.TelSales)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        预售证
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.PreSalePermit)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.PreSalePermit)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        销售状况
                    </td>
                    <td class="tdField">
                    <select name="SalesState">
                        <option value="true">在售</option>
                        <option value="false">已售完</option>
                    </select>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset style=" margin-top: 15px;">
            <legend>详细信息</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        栋数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HHouseCount)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HHouseCount)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        总户数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HHouseholdsCount)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HHouseholdsCount)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        车位数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HParkingCount)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HParkingCount)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        开盘时间
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HOpeningDate, new { @readonly = "readonly" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HOpeningDate)
                    </td>
                </tr>
                
                <tr>
                    <td class="tdTitle">
                        竣工时间
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HCompletedDate, new { @readonly = "readonly" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HCompletedDate)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        入住时间
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HCheckInDate, new { @readonly = "readonly" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HCheckInDate)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        产权年限
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.PropertyRight)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.PropertyRight)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        占用面积
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HOccupyArea)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HOccupyArea)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        建筑面积
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HBuildingArea)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HBuildingArea)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        绿化面积
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HGreeningArea)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HGreeningArea)
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
    }
</div>
