@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var ckTypeList = ViewBag.Building as List<Poco.LookupOption>;
    var ckDicList = ViewBag.Decoration as List<Poco.LookupOption>;
    string [] ckTypeS = Model.BuildingType.Split(',');
    string [] ckDicS = Model.Decoration.Split(',');
    ViewBag.Menu = Poco.SystemConst.Menu.HousesMange;
}
@section head{
    <script type="text/javascript">

          
    $(function () {


        $("#SalesState").val("@ViewBag.zt");

        $("#HOpeningDate").datepicker({
            changeMonth: true,
            changeYear: true,
            onSelect: function (selectedDate) {
                $("#HCheckInDate").datepicker("option", "minDate", selectedDate);
            }
        });

        $("#HCheckInDate").datepicker({
            changeMonth: true,
            changeYear: true,
            onSelect: function (selectedDate) {
                $("#HOpeningDate").datepicker("option", "maxDate", selectedDate);
                $("#HCompletedDate").datepicker("option", "maxDate", selectedDate);
            }
        });

        $("#HCompletedDate").datepicker({
            changeMonth: true,
            changeYear: true,
//            onSelect: function (selectedDate) {
//                $("#HCheckInDate").datepicker("option", "maxDate", selectedDate);
//            }
        });


         //唯一验证
        $("#HName").blur(function(){
             var values = $("#HName").val();
             var AccountMainID = @ViewBag.AccountMainID;
             var ID =  $("#ID").val();
             if(values!="" &&values!=undefined)
             {
                 var YZUrl =  '@Url.Action("OnlyValidationAccount", "Ajax", new { Area="",HostName="" })';
                 $.post(YZUrl,{AccountMainID:AccountMainID,tableName:"AccountMainHouses",field:"HName",value:values,id:ID},function(result){
                    
                    if(result=="True")
                    {
                        isTrue= true;
                    }
                    else
                    {
                        isTrue= false;
                        JAlert({
                            Message: "该项目名称已存在！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                         });
                    }
                 });
             }

        });
        
        $("#btnSubmit").click(function(){
            if(!isTrue)
            {
                JAlert({
                    Message: "该项目名称已存在！",
                    DialogType: "Ok",
                    BtnOk: "确定"
                });
            }
            return isTrue;
        });
        




    });
    </script>
}
@model Poco.AccountMainHouses
<div class="title">
    修改项目
</div>
<div class="body">

    @using (Ajax.BeginForm("Edit", "HousesMange", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <fieldset>
            <legend>基本信息</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 项目名称
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HName) @Html.HiddenFor(a => a.ID)@Html.HiddenFor(a => a.AccountMainID)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HName)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 建筑类别
                    </td>
                    <td class="tdField">
                        @foreach (var item in ckTypeList)
                        {

                            if (ckTypeS.Contains(item.ID.ToString()))
                            {
                                    <input style="width:auto" type="checkbox" id="cb_@item.ID" checked="checked" name="BuildingType" value="@item.ID"  /><label for="cb_@item.ID">@item.Value</label>
                            }
                            else
                            { 
                            <input style="width:auto" type="checkbox" id="cb_@item.ID" name="BuildingType" value="@item.ID"  /><label for="cb_@item.ID">@item.Value</label>
                            }
                        }
                    </td>
                    <td>
                        @Html.ValidationMessageFor(a => a.BuildingType)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 装修情况
                    </td>
                    <td class="tdField">
                        @foreach (var item in ckDicList)
                        {
                            if (ckDicS.Contains(item.ID.ToString()))
                            {
                                <input style="width:auto" type="checkbox" id="cb_@item.ID" checked="checked" name="Decoration" value="@item.ID"  /><label for="cb_@item.ID">@item.Value</label>
                            }
                            else
                            {
                                <input style="width:auto" type="checkbox" id="cb_@item.ID" name="Decoration" value="@item.ID"  /><label for="cb_@item.ID">@item.Value</label>
                            }

                        }
                    </td>
                    <td>
                        @Html.ValidationMessageFor(a => a.Decoration)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 项目地址
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.HAddress)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HAddress)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 交通状况
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.Traffic)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Traffic)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 物业公司
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.ProPertyCom)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.ProPertyCom)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 物业费
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.PropetyFee)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.PropetyFee)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span>&nbsp;&nbsp;</span> 项目介绍
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.HIntroduce)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HIntroduce)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 开发商
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.HBuildCompany)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HBuildCompany)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 投资商
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.HInvestor)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HInvestor)
                    </td>
                </tr>
            </table>
        </fieldset>
     
        <fieldset style="margin-top: 15px;">
            <legend>销售信息</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 售楼电话
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.TelSales)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.TelSales)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 预售证
                    </td>
                    <td class="tdField">@Html.TextAreaFor(a => a.PreSalePermit)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.PreSalePermit)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 销售状况
                    </td>
                    <td class="tdField">
                        <select id="SalesState" name="SalesState">
                            <option value="True">在售</option>
                            <option value="False">已售完</option>
                        </select>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset style="margin-top: 15px;">
            <legend>详细信息</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 栋数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HHouseCount)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HHouseCount)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span>&nbsp;&nbsp;</span> 总户数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HHouseholdsCount)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HHouseholdsCount)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span>&nbsp;&nbsp;</span> 车位数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HParkingCount)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HParkingCount)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 开盘时间
                    </td>
                    <td class="tdField">@Html.TextBox("HOpeningDate", Model.HOpeningDate.ToString("yyyy-MM-dd"), new { @readonly = "readonly" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HOpeningDate)
                    </td>
                </tr>
                
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 竣工时间
                    </td>
                    <td class="tdField">@Html.TextBox("HCompletedDate", Model.HCompletedDate.ToString("yyyy-MM-dd"), new { @readonly = "readonly" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HCompletedDate)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 入住时间
                    </td>
                    <td class="tdField">@Html.TextBox("HCheckInDate", Model.HCheckInDate.ToString("yyyy-MM-dd"), new { @readonly = "readonly" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HCheckInDate)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 产权年限
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.PropertyRight)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.PropertyRight)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span>&nbsp;&nbsp;</span> 占用面积
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HOccupyArea)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HOccupyArea)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span>&nbsp;&nbsp;</span> 建筑面积
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HBuildingArea)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HBuildingArea)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span>&nbsp;&nbsp;</span> 绿化面积
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.HGreeningArea)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HGreeningArea)
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
    }
</div>


