@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.HousesMange;
    ViewBag.Menu3 = Poco.SystemConst.Menu.HouseInfo;
}
@model Poco.AccountMainHouseInfo
<div class="title">
    @Html.Partial("SitePath")
</div>

<div class="body">
 @using (Ajax.BeginForm("Edit", "HouseInfo", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
 {
    <fieldset>
            <legend>基本信息</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 栋数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Building) @Html.HiddenFor(a => a.AccountMainHousessID) @Html.HiddenFor(a=>a.ID)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Building)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 单元
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Cell)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Cell)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 层数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.NumberOfLayers)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.NumberOfLayers)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 电梯数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.NumberOfTheElevator)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.NumberOfTheElevator)
                    </td>
                </tr>
                
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 户数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.NumberOfFamily)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.NumberOfFamily)
                    </td>
                </tr>
            </table>
    </fieldset>
     
     
      <div class="action">
            <input type="submit" id="btnSubmit"  class="button" value="保存" style=" margin-right:20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
       </div>
 }
</div>