@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.HousesMange;
}
@model Poco.AccountMainHouseInfo
<div class="title">
    @ViewBag.HostTitle->修改单元
</div>

<div class="body">
 @using (Ajax.BeginForm("Edit", "HouseInfo", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
 {
    <fieldset style="border: 1px solid #d3d3d3;">
            <legend>基本信息</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        栋数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Building) @Html.HiddenFor(a => a.AccountMainHousessID) @Html.HiddenFor(a=>a.ID)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Building)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        单元
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Cell)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Cell)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        层数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.NumberOfLayers)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.NumberOfLayers)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        电梯数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.NumberOfTheElevator)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.NumberOfTheElevator)
                    </td>
                </tr>
                
                <tr>
                    <td class="tdTitle">
                        户数
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.NumberOfFamily)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.NumberOfFamily)
                    </td>
                </tr>
            </table>
    </fieldset>
     
     
      <div class="action">
            <input type="submit" id="btnSubmit"  class="button" value="保存" style=" margin-right:20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
       </div>
 }
</div>