@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Set;
}
@section head{
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
            $("#Content").keyup(function () {
                var length = 500 - $("#Content").val().trim().length;
                $("#divTextInfo").html("还可以输入" + length + "字");
            });
            $("#Content").keyup();
            $("#btnSubmit").click(function () {
                var length = $.trim($("#Content").val()).length;
                if (length == 0) {
                    alert("请录入数据！");
                    return false;
                }
                else {
                    return true;
                }
            });

        });
    </script>
    <style>
        .ulUser
        {
            padding: 0px;
            margin: 5px 0px;
        }
        .ulUser li
        {
            list-style-type: none;
        }
        .ulUserTitle
        {
            height: 30px;
            line-height: 30px;
        }
        .ulUserList
        {
            min-height: 30px;
            border-bottom: 1px solid #E7E7E7;
        }
    </style>
}
@model Poco.AutoMessage_Add
<div class="title">
    设置</div>
<div class="bodyLeft">
    <ul class="ulList">
        <li>@Html.ActionLink("个人信息", "Index", "Set", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("基础设置", "Index", "BasisSet", new { HostName = ViewBag.HostName }, null, true)</li>
        <li class="select">@Html.ActionLink("安装App自动回复", "Index", "InstallAppReply", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("关键词自动回复", "Index", "KeywordMessage", new { HostName = ViewBag.HostName }, null, true)</li>
    </ul>
</div>
<div class="bodyRight">
    @using (Ajax.BeginForm("AddOrUpd", "InstallAppReply", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <div class="option" style="font-weight: bold; border-bottom: 1px solid #E7E7E7; padding-bottom: 10px">
            安装App自动回复
        </div>
        <div class="tableList" id="tabs">
            <ul>
                <li><a href="#tabs-1">文字</a></li>
                <li style="display: none"><a href="#tabs-2">语音</a></li>
                <li style="display: none"><a href="#tabs-3">图片</a></li>
                <li style="display: none"><a href="#tabs-4">视频</a></li>
                <li style="display: none"><a href="#tabs-5">图片消息</a></li>
            </ul>
            <div id="tabs-1">
                @Html.TextAreaFor(a => a.Content, new { style = "width: 99%", rows = "12" })
                <div style="float: left">@Html.ValidationMessageFor(a => a.Content)</div>
                <div style="float: right" id="divTextInfo">
                    还可以输入500字</div>
                <div style="clear: both">
                </div>
            </div>
            <div id="tabs-2">
                <p>
                    Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra
                    massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget
                    luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean
                    aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent
                    in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat
                    nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque
                    convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod
                    felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
            </div>
            <div id="tabs-3">
                <p>
                    Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
                    pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
                    Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
                    pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
                    enim, pretium nec, feugiat nec, luctus a, lacus.</p>
            </div>
            <div id="tabs-4">
                <p>
                    Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
                    pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
                    Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
                    pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
                    enim, pretium nec, feugiat nec, luctus a, lacus.</p>
            </div>
            <div id="tabs-5">
                <p>
                    Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
                    pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
                    Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
                    pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
                    enim, pretium nec, feugiat nec, luctus a, lacus.</p>
            </div>
        </div>
 
        <input type="submit" id="btnSubmit" value="保存" class="button" style="margin-right: 20px" /> <input type="button" id="btnDelete"  onclick="location.href='@Url.Action("Delete", "InstallAppReply", new { HostName = ViewBag.HostName, id = @Model.ID })'" class="button" value="删除"   />
    }
</div>
