@{
    ViewBag.Title = "ViewAccountMain";
    Layout = "~/Views/Shared/_LayoutSystemUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.AccountMainManage;
}
@section head{
    <script type="text/javascript">
        $(function () {
            $("#ProvinceID").Province({ value: '@Model.ProvinceID' });
            $("#CityID").City({ parent: "ProvinceID", value: '@Model.CityID' });
            $("#DistrictID").District({ parent: "CityID", value: '@Model.DistrictID' });

            $("#AccountMainExpandInfo_OpeningDate").datepicker({
                changeMonth: true,
                changeYear: true,
                onSelect: function (selectedDate) {
                    $("#AccountMainExpandInfo_CheckInDate").datepicker("option", "minDate", selectedDate);
                    $("#AccountMainExpandInfo_CompletedDate").datepicker("option", "minDate", selectedDate);
                }
            });

            $("#AccountMainExpandInfo_CompletedDate").datepicker({
                changeMonth: true,
                changeYear: true,
                onSelect: function (selectedDate) {
                    $("#AccountMainExpandInfo_OpeningDate").datepicker("option", "maxDate", selectedDate);
                }
            });

            $("#AccountMainExpandInfo_CheckInDate").datepicker({
                changeMonth: true,
                changeYear: true,
                onSelect: function (selectedDate) {
                    $("#AccountMainExpandInfo_OpeningDate").datepicker("option", "maxDate", selectedDate);
                }
            });
            $("#LogoImagePathFile").change(function () {
                var fileName = $("#LogoImagePathFile").val();
                $("#LogoImagePath").val(fileName);
                var suffix = fileName.substring(fileName.lastIndexOf('.')).toLowerCase();
                $("span[data-valmsg-for='LogoImagePath']").empty().attr("class", "field-validation-valid");
                switch (suffix) {
                    case ".jpg":
                    case ".jpeg":
                    case ".png":
                    case ".gif":
                    case ".bmp":
                        break;
                    default:
                        $("span[data-valmsg-for='LogoImagePath']").text("支持下列图片格式：.jpg|.jpeg|.png|.gif|.bmp").attr("class", "field-validation-error");
                        break;
                }
                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#imgLogo").attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
                return false;
            });
        });
    </script>
}
@model Poco.AccountMain
<div class="title">
    查看售楼部信息</div>
<div class="body">
    <fieldset>
        <legend>基本信息</legend>
        <table class="tableForm">
            <tr>
                <td class="tdTitle">
                    项目名称
                </td>
                <td class="tdField">@Model.Name
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td class="tdTitle">
                    二级域名或<br />
                        目录名称
                </td>
                <td class="tdField">@Model.HostName
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    状态
                </td>
                <td class="tdField">@Model.AccountStatus.Value
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    电话
                </td>
                <td>@Model.Phone
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    省份
                </td>
                <td>@Model.Province.Name
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    城市
                </td>
                <td>@Model.City.Name
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    地区
                </td>
                <td>@Model.District.Name
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    Logo
                </td>
                <td>
                    <img id="imgLogo" style="max-width:80px;max-height:80px; float: left" src="@Url.Content(@Model.LogoImagePath)" />
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    素材库容量
                </td>
                <td>
                    <div class="border" style="width: 200px; height: 15px;position: relative">
                        <div class="bgcolor" style="width: @(ViewBag.StyleWidth)px; height: 100%; float: left; filter: alpha(opacity=50);
                                -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5;">
                        </div>
                        <div style="font-size: 9px; position: absolute; text-align: center; width: 100%;">
                            @ViewBag.AvailableCapacity G 可用 , 共 @Model.FileLimit.ToString("f2") G
                        </div>
                    </div>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </fieldset>
    <div class="action">
        <input type="button" value="返回" onclick="location.href='@ViewBag.RawUrl'" class="button" />
    </div>
</div>
