@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.PropertyFeeInfo;
    ViewBag.Menu3 = Poco.SystemConst.Menu.PropertyFeeInfo;
}
@section head{
    <script src="@Url.Content("~/Scripts/timepicker/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/timepicker/jquery-ui-timepicker-zh-CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/timepicker/jquery.ui.datepicker-zh-CN.js.js")" type="text/javascript"></script>
    <script>
        $(function () {
            //            $("label[name=labCbFirst]").each(function () {
            //                $(this).tipTip({ activation: "hover", delay: 3, defaultPosition: "bottom" });
            //            });
            $("#Date").val('@ViewBag.Date');
            $("#Unit").val('@ViewBag.Unit');
            $("#RoomNumber").val('@ViewBag.RoomNumber');
            $("#OwnerName").val('@ViewBag.OwnerName');
            $("#OwnerPhone").val('@ViewBag.OwnerPhone');

            $("#Date").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm'
            });

            //导入状态 1出错 2成功
            var IsErro = '@ViewBag.IsError';
            var ErrorStr = '@ViewBag.ErrorStr';
            if (IsErro == 1) {
                JAlert({
                    Message: ErrorStr,
                    DialogType: "Ok",
                    BtnOk: "确定"
                });
            }
            else if (IsErro == 2) {
                JAlert({
                    Message: "导入成功！",
                    DialogType: "Ok",
                    BtnOk: "确定"
                    //                    BtnOkClick: "location.reload()" ,
                    //                    BtnCancelClick: "$(this).dialog('close');"
                });
            }
            else if (IsErro == 3) {
                JAlert({
                    Message: ErrorStr,
                    DialogType: "Ok",
                    BtnOk: "确定"
                    //                    BtnOkClick: "location.reload()" ,
                    //                    BtnCancelClick: "$(this).dialog('close');"
                });
            }

            //选择事件
            $("#ckbAll").change(function () {
                if ($(this).attr("checked") == "checked") {
                    $("input[name=ckbOK]").attr("checked", $(this).attr("checked"));
                }
                else {
                    $("input[name=ckbOK]").removeAttr("checked");
                }

            });


            $("#btnclear").click(function () {
                var cnt = $("input[name='ckbOK']:checked").length;
                if (cnt > 0) {
                    if (confirm("你确定删除吗?")) {
                        $("#dell").click();
                    }
                }
                else {
                    JMessage("请至少选择一项！", true);
                }
            });

        });


        //导入窗体
        function Showimport() {
            $("#dialogimport").dialog({
                resizable: false,
                height: 200,
                width: 450,
                modal: true,
                draggable: false,
                close: function (event, ui) {

                }
            });
        }

        function CheckImport() {
            var ImExcel = $("#ImExcel").val();
            var month = $("#Month").val();

            if (ImExcel != null && ImExcel != undefined) {
                if (ImExcel.length <= 0) {
                    JMessage("请选择文件", true)
                    return false;
                }
            }
            else {
                JMessage("请选择文件", true)
                return false
            }
            if (month == 0) {
                JMessage("请选择月份", true)
                return false;
            }
        }

        

    </script>
    <style>
        .main
        {
            width: 1300px !important;
        }
    </style>
}
@model PagedList<Poco.PropertyFeeInfo>
<div class="title" style="width: 1088px">
    <div style="float: right">
        <a href="@Url.Content("~/Download/Property/物业费导入模板.xlsx")" target="_blank" style=" color:#00aec8">
            下载物业费导入模板</a></div>
    @Html.Partial("Menu3")
    <div style="clear: both">
    </div>
</div>
<div class="body" style="width: 1088px">
    @using (Html.BeginForm("Index", "PropertyFeeInfo", new { HostName = ViewBag.HostName }, FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
        <table style="width: 900px">
            <tr>
                <td>
                    费用月份：
                </td>
                <td>
                    <input type="text" id="Date" name="Date" />
                </td>
                <td>
                    单元：
                </td>
                <td>
                    <input type="text" id="Unit" name="Unit" />
                </td>
                <td>
                    房号:
                </td>
                <td>
                    <input type="text" id="RoomNumber" name="RoomNumber" />
                </td>
            </tr>
            <tr>
                <td>
                    业主姓名：
                </td>
                <td>
                    <input type="text" id="OwnerName" name="OwnerName" />
                </td>
                <td>
                    业主电话：
                </td>
                <td>
                    <input type="text" id="OwnerPhone" name="OwnerPhone" />
                </td>
                <td>
                </td>
                <td>
                    <input type="submit" id="btnSubmit" value="查询" class="button" style="" />
                </td>
            </tr>
        </table>
    }
    <table style="width: 900px">
        <tr>
            <td class="option">
               @Html.ActionLink("添加", "Add", "PropertyFeeInfo", new { HostName = ViewBag.HostName }, null, true)
                <input type="button" id="btnImport" value="导入" onclick="Showimport()" class="button"
                    style="margin-left: 20px" />
                <input type="button" id="btnclear" value="批量删除" class="button" style="margin-left: 20px" />
            </td>
        </tr>
    </table>
    @using (Html.BeginForm("DellInfo", "PropertyFeeInfo", new { HostName = ViewBag.HostName}, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="submit" id="dell" name="dell" style=" display:none" />
        <table class="tableList" cellpadding="0" cellspacing="0" style="font-size: 14px">
            <tr>
                <th width="50px">
                    选择
                    <input type="checkbox" id="ckbAll" name="ckbAll" />
                </th>
                <th>
                    业主姓名
                </th>
                <th>
                    业主电话
                </th>
                <th>
                    楼号
                </th>
                <th>
                    单元
                </th>
                <th>
                    房号
                </th>
                <th>
                    费用月份
                </th>
                <th>
                    物业管理费
                </th>
                <th>
                    电梯费
                </th>
                <th>
                    水费
                </th>
                <th>
                    卫生费
                </th>
                <th>
                    其他费用
                </th>
                <th>
                    合计
                </th>
                <th>
                    是否已缴费
                </th>
                <th style="width: 200px">
                    备注
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.PropertyOrderDetail.FirstOrDefault() != null)
                        {
                            if (item.PropertyOrderDetail.FirstOrDefault().PropertyOrder.status != (int)Poco.Enum.EnumOrderStatus.Revoke && item.PropertyOrderDetail.FirstOrDefault().PropertyOrder.status != (int)Poco.Enum.EnumOrderStatus.Cancel)
                            { 
                             <input type="checkbox" id="ckbOK2" name="ckbOK2"  disabled="disabled"/>
                            }
                            else
                            { 
                                <input type="checkbox" id="ckbOK" name="ckbOK" value="@item.ID" />
                            }
                        }
                        else
                        { 
                            <input type="checkbox" id="ckbOK" name="ckbOK" value="@item.ID" />
                        }
                        
                    </td>
                    <td>
                        @item.OwnerName
                    </td>
                    <td>
                        @item.OwnerPhone
                    </td>
                    <td>
                        @item.BuildingNum
                    </td>
                    <td>
                        @item.Unit
                    </td>
                    <td>
                        @item.RoomNumber
                    </td>
                    <td>
                        @item.PayDate
                    </td>
                    <td>
                        @item.ManagerFee
                    </td>
                    <td>
                        @item.ElevatorFee
                    </td>
                    <td>
                        @item.WaterFee
                    </td>
                    <td>
                        @item.HealthFee
                    </td>
                    <td>
                        @item.OrterFee
                    </td>
                    <td>
                        @item.Total
                    </td>
                    <td>
                        @if (item.IsPay)
                        { 
                            @:已缴费
                    }
                        else
                        {
                            <span style="color: Red">未缴费</span>
                        }
                    </td>
                    <td>
                        <div style="width: 195px; word-break: keep-all;">
                            @item.Remarks
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    <div class="pages" style="margin-bottom: 5px;">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
</div>
<div id="dialogimport" title="报名列表" style="display: none; padding: 0px">
    @using (Html.BeginForm("ImportExcel", "PropertyFeeInfo", new { HostName = ViewBag.HostName, id = ViewBag.pageid }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table width="100%" style="margin-top: 30px; line-height: 30px">
            <tr>
                <td width="80px">
                    请选择模板：
                </td>
                <td>
                    <input type="file" id="ImExcel" name="ImExcel" />
                </td>
            </tr>
            <tr>
                <td width="80px">
                    导入月份：
                </td>
                <td>
                    <select id="Month" name="Month">
                        <option value="0">请选择...</option>
                        <option value="1">1月份</option>
                        <option value="2">2月份</option>
                        <option value="3">3月份</option>
                        <option value="4">4月份</option>
                        <option value="5">5月份</option>
                        <option value="6">6月份</option>
                        <option value="7">7月份</option>
                        <option value="8">8月份</option>
                        <option value="9">9月份</option>
                        <option value="10">10月份</option>
                        <option value="11">11月份</option>
                        <option value="12">12月份</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" id="btnImportSubmit" onclick="return CheckImport()" value="导入"
                        class="button" style="" />
                </td>
            </tr>
        </table>
    }
</div>
