@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var libraryType = ViewBag.LibraryType as List<Poco.LibraryType>;
}
@section head{
    <script type="text/javascript">
    </script>
    <style>
        #ulGroup li
        {
            position: relative;
        }
        .span_option
        {
            font-size: 13px;
            float: right;
            display: none;
            position: absolute;
            top: 0px;
            right: 0px;
        }
        .span_option span
        {
            margin: 0px 3px 0px 0px;
            cursor: pointer;
        }
        
        .tableList div
        {
            width: 500px;
            text-overflow: ellipsis;
            text-align:left;
            overflow: hidden;
            word-break: break-all;
            -o-text-overflow: ellipsis; /* for Opera */
            text-overflow: ellipsis; /* for IE */
        }
        .tableList div:after
        {
            /* for Firefox */
            content: "...";
        }
    </style>
}
@model PagedList<Poco.LibraryText>
<div class="title">
    素材管理</div>
<div class="bodyLeft">
    <ul class="ulList" id="ulGroup">
        @foreach (var item in libraryType)
        {
            if (item.ID == (int)Poco.Enum.EnumMessageType.Text)
            { 
            <li class="select"><a href="@Url.Action("Text", "Library", new { HostName = ViewBag.HostName })">@item.Name&nbsp;(0)</a>
            </li>
            }
            else
            {  
            <li><a href="@Url.Action("Text", "Library", new { HostName = ViewBag.HostName })">@item.Name&nbsp;(0)</a>
            </li>
            }
        }
    </ul>
</div>
<div class="bodyRight">
    <div class="option">
        @Html.ActionLink("添加", "AddText", "Library", new { HostName = ViewBag.HostName }, null, true)
    </div>
    <table class="tableList" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width: 120px;">
                标题
            </th>
            <th style="width: 480px;">
                内容
            </th>
            <th>
                操作
            </th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
            <tr style="max-height: 100px;">
                <td>
                    @item.Title
                </td>
                <td>
                    <div title="@item.Content">
                        @item.Content</div>
                </td>
                <td class="operation">
                    @Html.ActionLink("修改", "EditText", "Library", new { HostName = ViewBag.HostName, id = item.ID }, null, true)
                    @Ajax.ActionLink("删除", "DeleteText", "Library", new { HostName = ViewBag.HostName, id = item.ID },
                       new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('确定删除?','" + Url.Action("DeleteText", "Library", new { HostName = ViewBag.HostName, id = item.ID }) + "',null)" }, true)
                </td>
            </tr>
            }
        }
    </table>
    <div class="pages">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
</div>
<div style="clear: both">
</div>
