@{
    ViewBag.Title = "Index";
    Layout = null;
    List<Poco.LibraryVoice> voiceList = ViewBag.VoiceList as List<Poco.LibraryVoice>;
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui-1.10.2.custom.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~//Content/Style.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
<style>
    .item
    {
        margin-bottom: 10px;
    }
    .tabdiv
    {
        height: 465px;
        overflow-y: auto;
    }
</style>
<div id="tabs" style="width: 793px; height: 523px;">
   <div id="tabs-Voice" class="tabdiv">
            @foreach (var item in voiceList)
            {
                <div class="item">
                    <input type="hidden" fileID="@item.ID" fileType="LibraryVoice" value="@Url.Content(item.FilePath)" /><input
                        type="radio" name="radioImg" />&nbsp;&nbsp;<label>@item.FileName</label>
                </div>        
            }
        </div>
</div>
