@{

    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var groupList = ViewBag.GroupList as List<Poco.Group>;
    ViewBag.Menu2 = Poco.SystemConst.Menu.Message;
    ViewBag.Menu3 = Poco.SystemConst.Menu.Message;
    ViewBag.Menu3Action = Poco.SystemConst.Menu.Index;
}
@section head{
    <script type="text/javascript">
        $(function () {
            var urlText = "@Url.Action("SendText", "Message")";
            var fileImageUrl='@Url.Action("ImageManage", "Library", new { HostName = ViewBag.HostName })';
            var fileVoiceUrl='@Url.Action("VoiceManage", "Library", new { HostName = ViewBag.HostName })';
            var fileVideoUrl='@Url.Action("VideoManage", "Library", new { HostName = ViewBag.HostName })';
            var fileImageTextUrl='@Url.Action("ImgTextManager", "Library", new { HostName = ViewBag.HostName })';
            $("#tabs_o").tabs();
            $("#selectUser").change(function () {
                var value = $(this).val();
                switch (value) {
                    case "all":
                        break;
                    case "user":
                        $("#dialogUser").dialog({
                            resizable: false,
                            height: 700,
                            width: 800,
                            modal: true,
                            buttons: {
                                "确定": function () {
                                    var hids=$("#hidHIDs").val();
                                    if(hids.length>0){
                                        $(this).dialog("close");
                                    }else{
                                        JAlert({
                                            Message: "未指定用户",
                                            DialogType: "Ok",
                                            BtnOk: "确定"
                                        }); 
                                    }
                                },
                                "取消": function () {
                                    $("#hidHIDs").val("");
                                    $("#selectUser").val("all");
                                    $(this).dialog("close");
                                }
                            }
                        });
                        break;
                }
            });
            $("#txtText").keyup(function () {
                var length = 500 - $("#txtText").val().trim().length;
                $("#divTextInfo").html("还可以输入" + length + "字");
            });
            $("#btnSend").click(function () {
                var su= $("#selectUser").val();
                if(su=="user"){
                    var hids=$("#hidHIDs").val();
                    if(hids.length<=0){
                        JAlert({
                            Message: "未指定用户",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        }); 
                        return false;
                    }
                }
                var active = $("#tabs_o").tabs("option", "active");
                switch (active) {
                    case 0:
                        var content=$("#txtText").val().trim();
                        if(content.length<=0){
                           JAlert({
                                    Message: "请输入文字信息",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                }); 
                           return false;
                        }
                        $("#btnSend").attr("disabled","disabled");
                        $.ajax({
                            type: "post",
                            data: { libraryID:0,url:"",content: content,type:"text",sendType:su,hids:hids},
                            url: urlText,
                            success: function (result) {
                                if (result != undefined && result != null && result.length > 0) {
                                    eval(result);
                                }
                                $("#btnSend").removeAttr("disabled");
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                JAlert({
                                    Message: "Internal Server Error.",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                                $("#btnSend").removeAttr("disabled");
                            }
                        });
                        break;
                    case 1:
                        if($("#hidImage").val().trim().length<=0){
                            JAlert({
                                    Message: "请选择图片库",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                }); 
                           return false;
                        }
                        $("#btnSend").attr("disabled","disabled");
                        var url= $("#hidImage").attr("url");
                        var libraryID= $("#hidImage").val();
                        var title=$("#hidImage").attr("title");
                        $.ajax({
                            type: "post",
                            data: { libraryID:libraryID,url:url,content: title,type:"image",sendType:su,hids:hids},
                            url: urlText,
                            success: function (result) {
                                if (result != undefined && result != null && result.length > 0) {
                                    eval(result);
                                }
                                $("#btnSend").removeAttr("disabled");
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                JAlert({
                                    Message: "Internal Server Error.",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                                $("#btnSend").removeAttr("disabled");
                            }
                        });
                        break;
                    case 2:
                     if($("#hidVoice").val().trim().length<=0){
                            JAlert({
                                    Message: "请选择图片库",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                }); 
                           return false;
                        }
                        $("#btnSend").attr("disabled","disabled");
                        var url= $("#hidVoice").attr("url");
                        var libraryID= $("#hidVoice").val();
                        var title=$("#hidVoice").attr("title");
                        $.ajax({
                            type: "post",
                            data: { libraryID:libraryID,url:url,content: title,type:"voice",sendType:su,hids:hids},
                            url: urlText,
                            success: function (result) {
                                if (result != undefined && result != null && result.length > 0) {
                                    eval(result);
                                }
                                $("#btnSend").removeAttr("disabled");
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                JAlert({
                                    Message: "Internal Server Error.",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                                $("#btnSend").removeAttr("disabled");
                            }
                        });
                        break;
                    case 3:
                    if($("#hidVideo").val().trim().length<=0){
                            JAlert({
                                    Message: "请选择图片库",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                }); 
                           return false;
                        }
                        $("#btnSend").attr("disabled","disabled");
                        var url= $("#hidVideo").attr("url");
                        var libraryID= $("#hidVideo").val();
                        var title=$("#hidVideo").attr("title");
                        $.ajax({
                            type: "post",
                            data: { libraryID:libraryID,url:url,content: title,type:"video",sendType:su,hids:hids},
                            url: urlText,
                            success: function (result) {
                                if (result != undefined && result != null && result.length > 0) {
                                    eval(result);
                                }
                                $("#btnSend").removeAttr("disabled");
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                JAlert({
                                    Message: "Internal Server Error.",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                                $("#btnSend").removeAttr("disabled");
                            }
                        });
                        break;
                    case 4:
                    if($("#hidImageText").val().trim().length<=0){
                            JAlert({
                                    Message: "请选择图片库",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                }); 
                           return false;
                        }
                        $("#btnSend").attr("disabled","disabled");
                        var url= $("#hidImageText").attr("url");
                        var libraryID= $("#hidImageText").val();
                        var title=$("#hidImageText").attr("title");
                        $.ajax({
                            type: "post",
                            data: { libraryID:libraryID,url:url,content: title,type:"imagetext",sendType:su,hids:hids},
                            url: urlText,
                            success: function (result) {
                                if (result != undefined && result != null && result.length > 0) {
                                    eval(result);
                                }
                                $("#btnSend").removeAttr("disabled");
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                JAlert({
                                    Message: "Internal Server Error.",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                                $("#btnSend").removeAttr("disabled");
                            }
                        });
                        break;
                }
            });
             //素材
            $(".btnLibrary").click(function () {
                var clickType=$(this).attr("type");
                switch (clickType) {                
                    case "LibraryImage":
                        $("#iframeLibrary").attr("src", fileImageUrl);
                        break;   
                    case "LibraryVoice":
                        $("#iframeLibrary").attr("src", fileVoiceUrl);
                        break;
                    case "LibraryVideo":
                        $("#iframeLibrary").attr("src", fileVideoUrl);
                        break;
                    case "LibraryImageText":
                        $("#iframeLibrary").attr("src", fileImageTextUrl);
                        break;
                }
                $("#dialogFile").dialog({
                    resizable: false,
                    height: 650,
                    width: 829,
                    modal: true,
                    draggable: false,
                    buttons: {
                        "确定": function () {
                            var subDocument = $(window.frames["iframeLibrary"].document);
                            var sel = subDocument.find(".tabdiv").find(":checked")
                            if (sel.length <= 0) {
                                JAlert({
                                    Message: "请选择一个素材。",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                                return;
                            }
                            var title = sel.parent().find("label").text();
                            var hidObj = sel.parent().find(":hidden");
                            var url = hidObj.val();
                            var id = hidObj.attr("fileID");
                            var type = hidObj.attr("fileType");
                            $("#tabs_o-2,#tabs_o-3,#tabs_o-4,#tabs_o-5").empty();
                            switch(type){
                                case "LibraryImage":
                                    $("#tabs_o-2").append('<img style="max-width: 230px; max-height: 100px;vertical-align:middle" src="'+url+'" />&nbsp;<input type="hidden" id="hidImage" url="'+url+'" fileType="'+type+'" title="'+title+'" value="'+id+'"/>');
                                    break;
                                case "LibraryVoice":
                                    $("#tabs_o-3").append('<span class="ico-music" style="vertical-align: middle;"></span><input type="hidden" id="hidVoice" url="'+url+'" fileType="'+type+'" title="'+title+'" value="'+id+'"/><label class="msgText">' + title + '</label>');
                                    break;
                                case "LibraryVideo":
                                    $("#tabs_o-4").append('<span class="ico-facetime-video" style="vertical-align: middle;"></span><input type="hidden" id="hidVideo" url="'+url+'" fileType="'+type+'" title="'+title+'" value="'+id+'"/><label class="msgText">' + title + '</label>');
                                    break;
                                case "LibraryImageText":
                                    $("#tabs_o-5").append('<img style="max-width: 230px; max-height: 100px;vertical-align:middle" src="'+url+'" />&nbsp;<input type="hidden" id="hidImageText" url="'+url+'" fileType="'+type+'" title="'+title+'" value="'+id+'"/>');
                                    break;
                            }
                            $(this).dialog("close");
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        });
    </script>
    <style>
        .ulUser
        {
            padding: 0px;
            margin: 5px 0px;
        }
        .ulUser li
        {
            list-style-type: none;
        }
        .ulUserTitle
        {
            height: 30px;
            line-height: 30px;
        }
        .ulUserList
        {
            min-height: 30px;
            border-bottom: 1px solid #E7E7E7;
        }
        .tab
        {
            min-height: 220px;
        }
        /* .ui-widget-content
        {
            border: none !important;
            background:none;
            }*/
    </style>
}
<div class="title">
    @Html.Partial("Menu3")
</div>
<div class="body">
    <div class="option">
        发送对象：<select id="selectUser">
            <option value="all">全部用户</option>
            <option value="user">指定用户</option>
        </select>
    </div>
    <div class="tableList" id="tabs_o">
        <ul style="padding: 0px;">
            <li><a href="#tabs_o-1">文字</a></li>
            <li><a class="btnLibrary" type="LibraryImage" href="#tabs_o-2">图片</a></li>
            <li><a class="btnLibrary" type="LibraryVoice" href="#tabs_o-3">语音</a></li>
            <li><a class="btnLibrary" type="LibraryVideo" href="#tabs_o-4">视频</a></li>
            <li><a class="btnLibrary" type="LibraryImageText" href="#tabs_o-5">图片消息</a></li>
        </ul>
        <div class="tab" id="tabs_o-1">
            <textarea style="width: 99%" rows="12" id="txtText"></textarea>
            <div style="float: right" id="divTextInfo">
                还可以输入500字</div>
            <div style="clear: both">
            </div>
        </div>
        <div class="tab" id="tabs_o-2">
        </div>
        <div class="tab" id="tabs_o-3">
        </div>
        <div class="tab" id="tabs_o-4">
        </div>
        <div class="tab" id="tabs_o-5">
        </div>
    </div>
    <input type="button" value="发送消息" id="btnSend" class="button" />
</div>
<div style="clear: both">
</div>
<div id="dialogUser" title="选择用户" style="display: none">
    @* <li>
                <div class="ulUserTitle">@item.GroupName</div>
                <div class="ulUserList">
                    @foreach (var user in item.Account_Users)
                    {
                        <input type="checkbox" id="cb_@user.UserID" value="@user.UserID" /><label for="cb_@user.UserID">@user.User.Name</label>
                    }
                </div>
            </li>*@
    <iframe id="iframeHouse" src="@Url.Action("_Index", "PropertyHouse")" style="width:750px;height:680px;border:none;overflow-x:hidden;">
    
    </iframe>    
    <input type="hidden" id="hidHIDs" />
</div>
<div id="dialogFile" title="选择素材" style="display: none">
    <iframe id="iframeLibrary" src="" style="width: 800px; height: 530px; border: none;
        overflow: hidden"></iframe>
</div>
