@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var status = ViewData["Stutas"] as List<SelectListItem>;
    ViewBag.Menu2 = Poco.SystemConst.Menu.MicroOrder;
    ViewBag.Menu3 = Poco.SystemConst.Menu.MicroOrder;
}
@functions{
    public IQueryable<Poco.OrderDetail> GetOrderDetail(int OrderID)
    {
        var orderDetail = Injection.Factory.Get<Interface.IOrderDetailModel>(Poco.SystemConst.IOC_Model.OrderDetailModel);

        return orderDetail.GetOrderDetailByOrderID(OrderID);
    }
}
@section head{
    <script>

        $(function () {

            $("label[name=labCbFirst]").each(function () {
                $(this).tipTip({ activation: "hover", delay: 3, defaultPosition: "bottom" });
            });

            $("#daybyday").val('@ViewBag.daybyday');
            $("#orderNum").val('@ViewBag.orderNum');
            $("#PhoneNum").val('@ViewBag.PhoneNum');
            $("#Ostatus").val('@ViewBag.Ostatus');
            $("#UserName").val('@ViewBag.UserName');
            $("#Pname").val('@ViewBag.Pname');
        });

        function LookInfo(ID) {

            var YZUrl = '@Url.Action("OrderInfo", "MicroOrder")' + "?id=" + ID;
            $("#iframeshow").attr("src", YZUrl);
            $("#showOrderInfo").dialog({
                resizable: false,
                height: 650,
                width: 590,
                modal: true,
                draggable: false,
                close: function (event, ui) {
                    $("#iframeshow").attr("src", "");
                },
                buttons: {
                    "关闭": function () {
                        $(this).dialog("close");
                        $("#iframeshow").attr("src", "");
                    }
                }
            });
        }

        function SetOrderType(OrdID) {
            var stypeID = $("#select_setType_" + OrdID).val();
            var stypeName = $("#select_setType_" + OrdID).find("option:selected").text();
            if (stypeID == '@((int)Poco.Enum.EnumOrderStatus.Cancel)' || stypeID == '@((int)Poco.Enum.EnumOrderStatus.Complete)' || stypeID == '@((int)Poco.Enum.EnumOrderStatus.Revoke)') {
                $("#select_setType_" + OrdID).attr("style", "display:none");
            }
            $("#span_type_" + OrdID).text(stypeName);
            var PUrl = '@Url.Action("SetOrderStatus", "MicroOrder")';
            $.post(PUrl, { OrderID: OrdID, Status: stypeID }, function (result) {
                JAlert({
                    Message: result,
                    DialogType: "Ok",
                    BtnOk: "确定"
                });
            });
            $("#select_setType_" + OrdID).val("-1");
        }

    </script>
    <style>
        .ortabList
        {
            text-align: center;
            margin-top: 15px;
            width: 100%;
            border-top: 1px solid #ebebeb;
            border-left: 1px solid #ebebeb;
            line-height: 16px;
        }
        .ortabList th
        {
            font-weight: normal;
            font-size: 14px;
            height: 40px;
            border-bottom: 1px solid #ebebeb;
            border-right: 1px solid #ebebeb;
        }
        .ortabList td
        {
            height: 30px;
            font-size: 12px;
            border-bottom: 1px solid #ebebeb;
            border-right: 1px solid #ebebeb;
            background-color: #fff;
        }
        #MinTab td
        {
            border-right: 0px;
            padding-top: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #ebebeb;
        }
        
        #MinTab tr:last-child td
        {
            border: 0px;
        }
        
        .SelTab
        {
            font-size: 12px;
        }
        .SelTab input
        {
            font-size: 12px;
            widht: 100%;
        }
    </style>
}
@model PagedList<Poco.Order>
<div class="title">
    @Html.Partial("Menu3")</div>
<div class="body">
    @using (Html.BeginForm("Index", "MicroOrder", new { HostName = ViewBag.HostName }, FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
        <table class="SelTab" style="width: 100%">
            <tr>
                <td>
                    时间段：
                </td>
                <td>
                    <select id="daybyday" name="daybyday">
                        <option value="7">最近7天</option>
                        <option value="30">最近30天</option>
                        <option value="365">最近一年</option>
                        <option value="0">所有</option>
                    </select>
                </td>
                <td>
                    订单状态：
                </td>
                <td>
                    <select id="Ostatus" name="Ostatus">
                        @foreach (var item in status)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </td>
                <td>
                    订单编号：
                </td>
                <td>
                    <input type="text" id="orderNum" name="orderNum" />
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    产品名称：
                </td>
                <td>
                    <input type="text" id="Pname" name="Pname" />
                </td>
                <td>
                    客户姓名：
                </td>
                <td>
                    <input type="text" id="UserName" name="UserName" />
                </td>
                <td>
                    手机号码：
                </td>
                <td>
                    <input type="text" id="PhoneNum" name="PhoneNum" />
                </td>
                <td width="100px">
                    <input type="submit" id="btnSubmit" value="查询" class="button" style="margin-left: 20px" />
                </td>
            </tr>
        </table>
               
    }
    <div class="pages" style="margin-bottom: 5px; margin-top: 10px;">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
    <table class="ortabList" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width: 280px">
                商品
            </th>
            <th style="width: 90px">
                单价
            </th>
            <th style="width: 90px">
                数量
            </th>
            <th style="">
                付款金额
            </th>
            <th style="">
                状态
            </th>
            <th style="">
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            var orderdetail = GetOrderDetail(item.ID);
            <tr>
                <td colspan="7" style="height: 5px;">
                </td>
            </tr>
            <tr>
                <td style="height: 30px; padding-left: 15px; background-color: #E8F2FF; border-right: 0px"
                    colspan="5" align="left">
                    订单编号：@item.OrderNum &nbsp;&nbsp;&nbsp;&nbsp; 下单日期：@item.OrderDate.ToString("yyyy-MM-dd hh:mm")&nbsp;&nbsp;&nbsp;&nbsp;
                    联系电话：@item.OrderUserInfo.RPhone
                </td>
                <td class="operation" style="background-color: #E8F2FF">
                    <a onclick="LookInfo(@item.ID)" style="font-size: 14px">查看详细</a>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding-left: 10px;">
                    <table id="MinTab" cellpadding="0" cellspacing="0">
                        @foreach (var item2 in orderdetail)
                        {
                           
                            <tr>
                                <td valign="top" style="border-right: 0px" widht="80px">
                                    <label name="labCbFirst" title="查看详细">
                                        <a href="@Url.Action("SelectProduct", "Product", new { ID = item2.ProductID })"  target="_blank">
                                            <img src="@Url.Content(item2.ProductImg, true)" style="max-width: 60px; border:1px solid #deedde" /></a>
                                    </label>
                                </td>
                                <td valign="top" align="left" style="font-size: 12px; border-right: 0px; word-wrap: break-word;
                                    padding-left: 10px; word-break: break-all" width="200px;" class="operation">
                                    <label name="labCbFirst" title="查看详细">
                                        <a href="@Url.Action("SelectProduct", "Product", new { ID = item2.ProductID })"  target="_blank">@item2.ProductName</a>
                                    </label>
                                </td>
                                <td width="90px" style="border-right: 0px">
                                    @item2.Price.ToString("C")
                                </td>
                                <td width="90px" style="border-right: 0px">
                                    @item2.Count
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                <td style="font-weight: bold">
                    @item.Price.ToString("C")
                </td>
                <td>
                    @switch (item.status)
                    {
                        case (int)Poco.Enum.EnumOrderStatus.Cancel:
                        <span style="color: #808080" id="span_type_@item.ID">交易关闭</span>
                                                              break;
                        case (int)Poco.Enum.EnumOrderStatus.Complete:
                        <span style="color: #066601" id="span_type_@item.ID">已完成</span>
                                                              break;
                        case (int)Poco.Enum.EnumOrderStatus.Payment:
                        <span style="color: #00aec8" id="span_type_@item.ID">对方已付款</span>
                                                              break;
                        case (int)Poco.Enum.EnumOrderStatus.Shipped:
                        <span style="color: #EEA11C" id="span_type_@item.ID">已发货</span>
                                                              break;
                        case (int)Poco.Enum.EnumOrderStatus.WaitPayMent:
                        <span style="color: #000" id="span_type_@item.ID">等待付款</span>
                                                           break;
                        case (int)Poco.Enum.EnumOrderStatus.WaitDistribution:
                        <span style="color:Red" id="span_type_@item.ID">待配送</span>
                                                         break;
                        case (int)Poco.Enum.EnumOrderStatus.Proceed:
                        <span style="color: #000" id="span_type_@item.ID">配送中</span>
                                                           break;
                        case (int)Poco.Enum.EnumOrderStatus.Revoke:
                        <span style="color: #000" id="span_type_@item.ID">已撤销</span>
                                                           break;

                    }
                </td>
                <td class="operation">
                    @if (item.status == (int)Poco.Enum.EnumOrderStatus.Cancel)
                    {

                    }
                    else if (item.status == (int)Poco.Enum.EnumOrderStatus.Complete)
                    {

                    }
                    else if (item.status == (int)Poco.Enum.EnumOrderStatus.Revoke)
                    {

                    }
                    else
                    {
                        <select onchange="SetOrderType(@item.ID)" id="select_setType_@item.ID">
                            <option value="-1">更改订单状态</option>
                            <option value="@((int)Poco.Enum.EnumOrderStatus.Complete)">已完成</option>
                            <option value="@((int)Poco.Enum.EnumOrderStatus.Proceed)">配送中</option>
                            <option value="@((int)Poco.Enum.EnumOrderStatus.WaitDistribution)">待配送</option>
                            <option value="@((int)Poco.Enum.EnumOrderStatus.Cancel)">交易关闭</option>
                        </select>
                    }
                </td>
            </tr>
        }
    </table>
    <div class="pages" style="margin-bottom: 5px; margin-top: 10px;">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
</div>
<div id="showOrderInfo" title="订单详细" style="display: none; overflow: hidden">
    <iframe id="iframeshow" src="" style="width: 570px; height: 540px; border: none;
        overflow: hidden"></iframe>
</div>
<div style="clear: both">
</div>
