@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.PropertyHouse;
    ViewBag.Menu3 = Poco.SystemConst.Menu.PropertyHouse;

}
@section head{
    <script type="text/javascript">
        $(function () {
            $(".cbHID").change(function () {
                var currentValue = $(this).val();
                var hids = $("#hidHIDs", parent.document).val();
                if ($(this).attr("checked") == "checked") {
                    hids += currentValue + ",";
                } else {
                    re = new RegExp(currentValue + ",", "g");
                    hids = hids.replace(re, "");
                }
                $("#hidHIDs", parent.document).val(hids);
            });
        });
    </script>
}
@model PagedList<Poco.Property_House>
<div class="body">
    @* <div class="option">
        @using (Html.BeginForm("Index", "PropertyHouse", new { HostName = ViewBag.HostName }, FormMethod.Get))
        {
            <table style="width: 100%">
                <tr>
                    <td>
                        房号缩写：
                        <input type="text" id="houseShortNo" name="houseShortNo" />
                    </td>
                    <td style="text-align: right">
                        <input type="submit" id="btnSubmit" value="查询" class="button" style="" />
                    </td>
                </tr>
            </table>
        }
    </div>*@
    <div style="margin-top: 10px;">
        <div class="pages" style="margin-bottom: 10px; float: right">
            @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
        </div>
    </div>
    <table class="tableList" cellpadding="0" cellspacing="0" style="font-size: 14px">
        <tr>
            <th style="width: 50px;">
                选择
            </th>
            <th style="width: 50px;">
                楼号
            </th>
            <th style="width: 50px;">
                单元
            </th>
            <th style="width: 50px;">
                房号
            </th>
            <th style="width: 50px;">
                缩写
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" value="@item.ID" class="cbHID" />
                </td>
                <td>
                    @item.BuildingNum
                </td>
                <td>
                    @item.CellNum
                </td>
                <td>
                    @item.RoomNumber
                </td>
                <td>
                    @item.BuildingNum-@item.CellNum-@item.RoomNumber
                </td>
            </tr>
        }
    </table>
    <div class="pages">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
</div>
