@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.PropertyHouse;
    ViewBag.Menu3 = Poco.SystemConst.Menu.PropertyHouse;
}
@section head{
    <script>
        $(function () {
            $("#BuildingNum,#CellNum,#RoomNumber").keyup(function () {
                var BuildingNum = $("#BuildingNum").val();
                var CellNum = $("#CellNum").val();
                var RoomNumber = $("#RoomNumber").val();
                $("#txtShortNo").val(BuildingNum + "-" + CellNum + "-" + RoomNumber);
            });
        });
    </script>
}
@model Poco.Property_House
<div class="title">
    @Html.Partial("SitePath")
</div>
<div class="body">
    @using (Ajax.BeginForm("Edit", "PropertyHouse", new { HostName = ViewBag.HostName }, new AjaxOptions { UpdateTargetId = "alert" }))
    {
        <fieldset>
            <legend>房屋信息</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 楼号
                    </td>
                    <td class="tdField">
                        @Html.TextBoxFor(a => a.BuildingNum)
                        @Html.HiddenFor(a => a.ID)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.BuildingNum)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 单元
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.CellNum)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.CellNum)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 房号
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.RoomNumber)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.RoomNumber)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 缩写
                    </td>
                    <td class="tdField">
                        <input type="text" id="txtShortNo" readonly="readonly" disabled="disabled" value="@Model.BuildingNum-@Model.CellNum-@Model.RoomNumber" />
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" class="button" value="保存" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
    }
</div>
