@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.PropertyHouse;
    ViewBag.Menu3 = Poco.SystemConst.Menu.PropertyHouse;

}
@section head{
    <script type="text/javascript">
        var msg = '@ViewBag.Msg';
        var hasError = '@ViewBag.HasError';
        $(function () {
            $("#fileUpload").change(function () {
                var path = $(this).val();
                if (path.length > 0) {
                    $("#formFileUpload").submit();
                }
            });
            $("#btnUpload").click(function () {
                $("#fileUpload").click();
            });
            if (hasError == "1" && msg.length > 0) {
                JMessage(msg, true);
            } else if (hasError == "0") {
                //JMessage("保存成功。");
            }
        });
    </script>
}
@model PagedList<Poco.PropertyComplexEntity>
<div class="title">
    @Html.Partial("Menu3")
</div>
<div class="body">
    <div class="option">
        @Html.ActionLink("添加", "Add", "PropertyHouse", new { HostName = ViewBag.HostName }, null, true)
        <a href="#" id="btnUpload" class="button">导入</a>
    </div>
    <table class="tableList" cellpadding="0" cellspacing="0" style="font-size: 14px">
        <tr>
            <th style="width: 100px;">
                楼号
            </th>
            <th style="width: 100px;">
                单元
            </th>
            <th style="width: 100px;">
                房号
            </th>
            <th>
                业主名称
            </th>
            <th style="width: 160px;">
                电话
            </th>
            <th style="width: 150px;">
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.BuildingNum
                </td>
                <td>
                    @item.CellNum
                </td>
                <td>
                    @item.HouseNum
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.UserPhone
                </td>
                <td class="operation">
                    @Html.ActionLink("修改", "Edit", "LotteryDish", new { HostName = ViewBag.HostName, id = item.ID }, null, true)
                    @Ajax.ActionLink("删除", "Delete", "LotteryDish", new { HostName = ViewBag.HostName, id = item.ID }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('确定删除?删除此项将会删除其关联的所有数据！','" + Url.Action("Delete", "LotteryDish", new { HostName = ViewBag.HostName, id = item.ID }) + "',null)" }, true)
                </td>
            </tr>
        }
    </table>
    <div class="pages">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
    @using (Html.BeginForm("Upload", "PropertyHouse", new { HostName = ViewBag.HostName }, FormMethod.Post, new { enctype = "multipart/form-data", id = "formFileUpload" }))
    {  
        <input type="file" style="visibility: hidden" id="fileUpload" name="file" />
    }
</div>
