@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Set;
}
@model Poco.AppWaitImg
@section head{
    <script src="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/Jcrop/jquery.Jcrop.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var Cnt = 0;
        var UpImgUrl = '@Url.Action("UpImg", "AppWaitImg", new { HostName = ViewBag.HostName })';
        $(function () {

            //img Updateload



            $("#file_upload").uploadify({
                height: 30,
                swf: '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
                uploader: UpImgUrl,
                width: 64,
                fileSizeLimit: '5MB',
                uploadLimit: 1,
                fileTypeExts: '*.jpg;*.jpge;*.gif;*.png;*.bmp',
                onUploadSuccess: function (file, data, response) {

                    if (data == "" || data == undefined || data == "false") {
                        JAlert({
                            Message: "上传失败请重新上传！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return;
                    }



                    if (Cnt > 0) {
                        jcrop_api.destroy();
                        $('#x1').val("0");
                        $('#y1').val("0");
                        $('#w').val("0");
                        $('#h').val("0");
                        $('#tw').val("0");
                        $('#th').val("0");
                    }

                    $("#imgSel").attr('src', data);
                    $("#imgSet").attr('src', data);


                    $("#ImgPath").val(data);


                    $('#imgSel').Jcrop({
                        onChange: updatePreview,
                        onSelect: updatePreview,
                        aspectRatio: 0.66666
                    }, function () {
                        // Use the API to get the real image size
                        var bounds = this.getBounds();
                        boundx = bounds[0];
                        boundy = bounds[1];
                        // Store the API in the jcrop_api variable
                        jcrop_api = this;
                    });

                    Cnt = 1;

                }
            });




            var jcrop_api, boundx, boundy;

            function updatePreview(c) {
                if (parseInt(c.w) > 0) {
                    var rx = 200 / c.w;
                    var ry = 300 / c.h;

                    $('#imgSet').css({
                        width: Math.round(rx * boundx) + 'px',
                        height: Math.round(ry * boundy) + 'px',
                        marginLeft: '-' + Math.round(rx * c.x) + 'px',
                        marginTop: '-' + Math.round(ry * c.y) + 'px'
                    });


                }
                $('#x1').val(c.x);
                $('#y1').val(c.y);
                $('#w').val(c.w);
                $('#h').val(c.h);
                //获取当前显示图片高宽
                $('#tw').val($("#imgSel").width());
                $('#th').val($("#imgSel").height());
            };









        });



       
    </script>

        <style type="text/css">
        .middle-out
        {
            width: 320px;
            height: 460px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            border: 1px solid #d0d0d0;
        }
    </style>
}
<div class="title">
    设置</div>
<div class="bodyLeft">
    <ul class="ulList">
        <li>@Html.ActionLink("个人信息", "Index", "Set", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("基础设置", "Index", "BasisSet", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("App动态软文", "Index", "AppAdvertorial", new { HostName = ViewBag.HostName }, null, true)</li>
        <li class="select">@Html.ActionLink("App等待画面", "Index", "AppWaitImg", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("关键词自动回复", "Index", "KeywordMessage", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("安装App自动回复", "Index", "InstallAppReply", new { HostName = ViewBag.HostName }, null, true)</li>
    </ul>
</div>
<div class="bodyRight">
    @using (Html.BeginForm("index", "AppWaitImg", new { HostName = ViewBag.HostName }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
     
        <fieldset style="font-size: 14px">
            <legend>App等待画面</legend>
            
            <table style="line-height: 15px" width="100%">
                <tr>
                    <td style="width: 350px">
                        <div class="middle-out">
                            <div class="middle-in" style="margin: auto 0px">
                                
                                <img id="imgSel"  src="@Url.Content("~/Images/AppDefault.png")"   style="max-height:460px; max-width:320px;" />
                                    
                            </div>
                         
                            <div style="display: none">
                                X1
                                <input type="text" size="4" id="x1" name="x1" value="0" />
                                Y1
                                <input type="text" size="4" id="y1" name="y1" value="0" />
                                W
                                <input type="text" size="4" id="w" name="w" value="0" />
                                H
                                <input type="text" size="4" id="h" name="h" value="0" />
                                TW
                                <input type="text" size="4" id="tw" name="tw" value="0" />
                                TH
                                <input type="text" size="4" id="th" name="th" value="0" />
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                        预览<br /><br />
                        <div style="width: 200px; height:300px; overflow: hidden;">
                            
                            @if (Model != null)
                            {
                                if (Model.ImgPath != "")
                                {
                                <img id="imgSet"  src="@Url.Content(Model.ImgPath)"   style="height:300px; width:200px;" />
                                }
                                else
                                { 
                                <img id="imgSet"  src="@Url.Content("~/Images/AppDefault.png")"   style="height:300px; width:200px;" />
                                }
                            }
                            else
                            {   
                                <img id="imgSet"  src="@Url.Content("~/Images/AppDefault.png")"    style="height:300px; width:200px;"/>
                            }
                        </div>
                        <br />
                        <div style=" color:Red">
                            提示：请上传小于5MB的图片
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="file_upload" name="file_upload" type="file" multiple="false"  />
                        @Html.TextBoxFor(a => a.ImgPath, new { style = "width:0px;display:none" })
                    </td>
                </tr>
            </table>
            <div class="action">
                <input type="submit" id="btnSubmit" onclick=" ShowLayout_Later('请稍后','请稍后，正在努力为您上传数据...');" class="button" value="保存" style="margin-right: 20px" />
                <input type="button" id="btnDelete"  onclick="location.href='@Url.Action("Delete", "AppWaitImg", new { HostName = ViewBag.HostName })'" class="button" value="删除"   />
            </div>
        </fieldset>
    }
</div>


<div style="clear: both">
</div>
