@{
    var account = Session[Poco.SystemConst.Session.LoginAccount] as Poco.Account;
}
<style>
    .homeMenu
    {
        float: left;
        margin-left: 20px;
        color: #222;
        text-align: center;
        line-height: 71px;
        font-size: 20px;
    }
    .homeMenuItem
    {
        width: 200px;
        float: left;
        height: 67.5px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        cursor: pointer;
    }
    .homeMenuItem a
    {
        display: block;
    }
    .homeMenuItem:hover
    {
        background-color: #fbfbfb;
    }
    .hmselect
    {
        background-color: #fbfbfb;
        border-bottom: 3.5px solid #00aec8;
    }
</style>
<div class="head">
    <div id="logo" style="width: 1002px; margin: 0px auto 0px auto;">
        <div class="logo" style="margin-top: 6px;">
            @if (account != null && account.LogoPath != null && account.LogoPath.Length > 0)
            { 
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content(account.LogoThumbnailPath, "/Images/logo.png")" style=" height:58px" /></a>
            }
            else
            { 
                <a href="@Url.Action("Index", "Home")">
                    <img alt="" src="@Url.Content("/Images/logo.png")" /></a>
            }
        </div>
        @*<div class="homeMenu">
            @if (ViewBag.HomeSelect == "1")
            { 
                <div class="homeMenuItem hmselect">
                    <a href="@Url.Action("Index", "Login")">首页</a>
                </div>
            }
            else
            {
                <div class="homeMenuItem">
                    <a href="@Url.Action("Index", "Login")">首页</a>
                </div>
            }
            @if (ViewBag.HomeSelect == "2")
            { 
                <div class="homeMenuItem hmselect">
                    <a href="@Url.Action("UserLogin", "Login")">公众平台</a>
                </div>
            }
            else
            { 
                <div class="homeMenuItem">
                    <a href="@Url.Action("UserLogin", "Login")">公众平台</a>
                </div>
            }
            <div class="homeMenuItem">
                帮助中心
            </div>
        </div>*@
        <div style="float: right; margin-top: 20px; font-size: 14px;">
            @if (account != null)
            {   
                <a href="@Url.Action("index", "Set")" style="display: inline-block;margin-right:14px">
                    @if (account.HeadImagePath != null && account.HeadImagePath.Length > 0)
                    {<img src="@Url.Content(account.HeadImagePath)" style="width:38px;height:38px;margin-right:7px;margin-bottom:-5px;" />}
                    else
                    { 
                        <img src="@Url.Content("/Images/default_Avatar.png")" style="width:38px;height:38px;margin-right:7px;margin-bottom:-5px;" />
                    }
                    <label>@account.Name</label></a>
                <a id="btnLogOut" type="user" style="display: inline-block; padding-left: 14px; box-shadow: inset 1px 0 0 0 #fff;
                    -moz-box-shadow: inset 1px 0 0 0 #fff; -webkit-box-shadow: inset 1px 0 0 0 #fff;
                    border-left: 1px solid #adadad;">退出</a>
            }
        </div>
        <div style="clear: both;">
        </div>
        <div class="DivSendSuccess">
            发送成功
        </div>
    </div>
</div>
