<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/themes/base/jquery-ui-1.10.2.custom.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Icon/Icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/ToolTip/tipTip.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.ui.core.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.ui.widget.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.ui.datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/i18n/jquery.ui.datepicker-zh-CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ToolTip/jquery.tipTip.minified.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
