<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/themes/base/jquery-ui-1.10.2.custom.min.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.ui.core.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.ui.widget.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.ui.datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/i18n/jquery.ui.datepicker-zh-CN.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var provinceUrl = '@Url.Action("ProvinceSelectList", "Ajax", new { Area = "" })';
        var cityUrl = '@Url.Action("CitySelectList", "Ajax", new { Area = "" })';
        var districtUrl = '@Url.Action("DistrictSelectList", "Ajax", new { Area = "" })';
        var checkIsUniqueUrl = '@Url.Action("CheckIsUnique", "Ajax", new { Area = "" })';
        var exitUrl = '@Url.Action("Index", "Exit", new { Area = "" })';
        //logout
        $(function () {
            $("#btnLogOut").click(function () {
                var type = $("#btnLogOut").attr("type");
                var newExitUrl = exitUrl + "?type=" + type;
                console.log(newExitUrl);
                JAlert({
                    Message: "你确定要退出吗?",
                    DialogType: "confirm",
                    BtnOk: "确定",
                    BtnOkClick: "window.location.href = '" + newExitUrl + "'",
                    BtnCancel: "取消",
                    BtnCancelClick: "$(this).dialog('close');"
                });
            });
        });
    </script>
    <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
    @RenderSection("head", required: false)
    <style type="text/css">
        body
        {
            margin: 0px;
            background-color: #FFFFFF;
            font-family: "Microsoft YaHei" , Helvetica, Verdana, Arial, Tahoma;
            line-height: 16px;
            font-size: 16px;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            color:inherit;
        }
        
        .main20
        {
            padding: 20px;
        }
        .main
        {
            width: 960px;
            margin: 10px auto 20px auto;
            box-shadow: 0 3px 3px #dddddd;
            -moz-box-shadow: 0 3px 3px #dddddd;
            -webkit-box-shadow: 0 3px 3px #dddddd;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            min-height: 700px;
            background-color: #fafafa;
            border: 1px solid #d3d3d3;
        }
        .menu
        {
            margin: 0 auto;
            padding: 0;
            display: inline;
        }
        .menu li
        {
            width: 140px;
            float: left;
            list-style-type: none;
            display: block;
            line-height: 40px;
            font-size: 16px;
            height:40px'
        }
        .menu li a
        {
            display: block;
            cursor: pointer;
            text-align: center;
        }
        .title
        {
            border-bottom: 1px solid #d3d3d3;
            height: 35px;
            line-height: 35px;
            padding: 0px 20px;
            background-color: #F0F0F0;
        }
        .body
        {
            padding: 15px 20px;
            line-height: 16px;
            font-size: 14px;
        }
        .option
        {
            min-height: 20px;
            line-height: 20px;
        }
        .tableList
        {
            border: 1px solid #d3d3d3;
            margin: 10px auto 15px auto;
        }
        .tableList th
        {
            height: 30px;
            border-left: 1px solid #d3d3d3;
            font-weight: normal;
        }
        .tableList th:first-child
        {
            border-left: none;
        }
        .tableList td
        {
            border-left: 1px solid #d3d3d3;
            border-top: 1px solid #d3d3d3;
            height: 40px;
            padding:2px;
        }
        .tableList td:first-child
        {
            border-left: none;
        }
        .pages
        {
            float: right;
        }
        .action
        {
            margin-top: 15px;
        }
        .bodyLeft, .bodyRight
        {
            float: left;
            height: 100%;
            min-height: 664px;
        }
        .bodyLeft
        {
            width: 200px;
            border-right: 1px solid #d3d3d3;
            padding-bottom: 30px;
        }
        .bodyRight
        {
            width: 716px;
            padding: 15px 20px;
        }
        .ulList
        {
            margin: 0 auto;
            padding: 0;
        }
        .ulList li
        {
            width: 200px;
            list-style-type: none;
            display: block;
            line-height: 35px;
            font-size: 16px;
            height: 35px;
        }
        .ulList li a
        {
            display: block;
            cursor: pointer;
            padding-left: 15px;
        }
        .ulList li.select
        {
            background-color:#459935;
            }
        .tdField
        {
            width: 330px;
        }
        .tdTitle
        {
            width:90px;
            }
        .tableForm input, .tableForm textarea, .tableForm select
        {
            width: 200px;
        }
        .tableForm textarea
        {
            width: 300px;
            height: 90px;
        }
        .tableForm td
        {
            height:26px;
        }
    </style>
</head>
<body>
    @RenderBody()
    <div style="background-color: #727171; height: 100px">
    </div>
    <div id="dialog">
    </div>
    <div id="alert">
    </div>
</body>
</html>
