@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model Poco.UserDeliveryAddress
<div style="margin: 10px; text-align: center">
    <table style="width: 100%">
        <tr>
            <td>
                <input name="Receiver" id="address_name" placeholder="收货人姓名" tabindex="1" data-mini="true" />
            </td>
        </tr>
        <tr>
            <td style="text-align: left">
                <div style="width: 32%; float: left">
                    <select name="ProvinceID" id="address_ProvinceID" data-mini="true" tabindex="2">
                    </select></div>
                <div style="width: 32%; float: left; margin-left: 4px; display: none;" id="address_div_city">
                    <select name="CityID" id="address_CityID" data-mini="true" tabindex="3">
                    </select>
                </div>
                <div style="width: 32%; float: left; margin-left: 4px; display: none;" id="address_div_district">
                    <select name="DistrictID" id="address_DistrictID" data-mini="true" tabindex="4">
                        @if (Model.District != null) { 
                            <option value="0">@Model.District.Name</option>
                        }
                        <option value="0">选择区</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <input name="Address" id="address_ads" placeholder="详细地址" data-mini="true" tabindex="5" />
            </td>
        </tr>
        <tr>
            <td>
                <input name="RPhone" id="address_phone" placeholder="联系电话（移动电话）" data-mini="true"
                    tabindex="6" type="tel" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="保存收货信息" id="reg_btnSubmit" data-mini="true" tabindex="7" />
            </td>
        </tr>
    </table>
</div>
<script>
    var provinceUrl = '@Url.Action("ProvinceSelectList", "Ajax", new { Area = "" })';
    var cityUrl = '@Url.Action("CitySelectList", "Ajax", new { Area = "" })';
    var districtUrl = '@Url.Action("DistrictSelectList", "Ajax", new { Area = "" })';
    var edit_url = '@Url.Action("Edit", "MicroUserDeliveryAddress")';
    var index_url = '@Html.Raw(Url.Action("Index", "MicroUserDeliveryAddress", new { amid = ViewBag.AMID, userID = ViewBag.UserID }))';
    $(function () {
        $("#address_ProvinceID").Province({ value: '@Model.ProvinceID' }, function (id) {
            if (id == 0) {
                $("#address_div_city").hide();
            } else {
                $("#address_div_city").show();
            }
        });
        $("#address_CityID").City({ parent: "address_ProvinceID", value: '@Model.CityID' }, function (id) {
            if (id == 0) {
                $("#address_div_district").hide();
            } else {
                $("#address_div_district").show();
            }
        });
        $("#address_DistrictID").District({ parent: "address_CityID", value: '@Model.DistrictID'  });
        $("#reg_btnSubmit").click(function () {
            var address_name = $("#address_name").val().trim();
            var address_ProvinceID = $("#address_ProvinceID").val();
            var address_CityID = $("#address_CityID").val();
            var address_DistrictID = $("#address_DistrictID").val();
            var address_ads = $("#address_ads").val().trim();
            var address_phone = $("#address_phone").val().trim();
            if (address_name.length == 0) {
                showError("请填写收货人的姓名。");
                return false;
            };
            if (address_ProvinceID == 0) {
                showError("请选择省份。");
                return false;
            };
            var cityCount = $("#address_CityID").find("option").length;
            if (cityCount > 1 && address_CityID == 0) {
                showError("请选择城市。");
                return false;
            };
            var disCount = $("#address_DistrictID").find("option").length;
            if (disCount > 1 && address_DistrictID == 0) {
                showError("请选择地区。");
                return false;
            };
            if (address_ads.length == 0) {
                showError("请填写收件人的详细地址。");
                return false;
            };
            if (address_phone.length == 0) {
                showError("请填写收货人的联系电话。");
                return false;
            } else {
                var reg = /(1[3,5,8][0-9])\d{8}/;
                if (reg.test(address_phone) == false) {
                    showError("联系电话格式不正确。");
                    return false;
                }
            };
            $.post(edit_url, { amid: '@ViewBag.AMID',userID:'@ViewBag.UserID' , Receiver: address_name, ProvinceID: address_ProvinceID,CityID:address_CityID,DistrictID:address_DistrictID,Address:address_ads,RPhone:address_phone }, function (result) {
                if (result.HasError) {
                    showError(result.Error);
                } else {
                    showError("添加成功。", function () {
                        window.location.href = index_url;
                    });
                }
            }, "json");
        });
    });
    function showError(error, fun) {
        $('<div>').simpledialog2({
            mode: 'button',
            headerText: '消息',
            headerClose: false,
            buttonPrompt: error,
            buttons: {
                '确定': {
                    click: function () {
                        if (fun != undefined) {
                            fun();
                        }
                    }
                }
            }
        });
    }
</script>
