@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.AppAdvertorial;
    string Address = ViewBag.UrlAddress;
    string activityURL = "http://" + Address + "/default/News?id_token=";
}
@model PagedList<Poco.AppAdvertorial>
@section head{
    <script>


        $(function () {


            $("label[name=labCbFirst]").each(function () {
                $(this).tipTip({ activation: "hover", delay: 3, defaultPosition: "bottom" });
            });


            $("#btnYL").click(function () {
                var src = '@Url.Action("Preview", "AppAdvertorial")';
                $("#iframeShow").attr("src", src);
                $("#dialogShow").dialog({
                    resizable: false,
                    height: 570,
                    width: 350,
                    modal: true,
                    draggable: false
                });
            });


        });


        function clickInfo(id) {
            var src = '@Url.Action("Advertorial", "Default")';
            $("#iframeShowInfo").attr("src", src + "/" + id);
            $("#dialogShowInfo").dialog({
                resizable: false,
                height: 530,
                width: 320,
                modal: true,
                draggable: false
            });
        }

        function clickInfoUrl(src) {
            $("#iframeShowInfo").attr("src", src);
            $("#dialogShowInfo").dialog({
                resizable: false,
                height: 530,
                width: 320,
                modal: true,
                draggable: false
            });
        }

        function clickaddress(shortURL, ActivityID, URLType) {

            $("#divactivitySigin").hide();
            $("#urlAddress").text(shortURL);
            if (URLType != null && URLType != undefined && URLType != "") {
                var types = "@((int)Poco.Enum.EnumAdverURLType.Activities)";
                if (URLType == types) {
                    var signUrl = "http://" + '@Address' + "/default/ActivitySignIn?ActivityID=" + ActivityID;
                    $("#divactivitySigin").show();
                    $("#urlSignInAddress").text(signUrl);

                }
            }
            $("#dialogShowUrl").dialog({
                resizable: false,
                height: 150,
                width: 450,
                modal: true,
                draggable: false
            });
        }


        function clickSelectInfo(id) {
            var src = '@Url.Action("SelecInfo", "AppAdvertorial")';
            $("#iframeShowSelectInfo").attr("src", src + "?AID=" + id + "&AMID=" + "@ViewBag.AMID");
            $("#dialogShowSelectInfo").dialog({
                resizable: false,
                height: 580,
                width: 600,
                modal: true,
                draggable: false
            });
        }

        function clickStick(ID, ckb, Sort) {
            $("#AdvertorialID_stick").val(ID);
            if (ckb.checked) {

                var Url = '@Url.Action("chickStick", "AppAdvertorial")';
                $.post(Url, { ID: ID }, function (result) {
                    if (result == "No") {
                        JAlert({
                            Message: "修改失败 最多允许“5”篇资讯置顶！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });

                        ckb.checked = !ckb.checked;
                        return;
                    }
                    else {
                        $("#isok").val("1"); //置顶
                        $("#Sort").val(Sort);
                        $("#btnStick").click();
                    }
                });

            }
            else {
                $("#isok").val("0"); //取消置顶
                $("#Sort").val(Sort);
                $("#btnStick").click();
            }
        }

        function clickSort(ID, Sort, Type) {
            $("#AdvertorialID_sort").val(ID);
            $("#Sort_sort").val(Sort);
            $("#Sort_stye").val(Type);
            $("#btnSort").click();
        }
    </script>
}
<div class="title">
    @Html.Partial("Menu3")</div>
<div class="body">
    <div class="option">
        @Html.ActionLink("添加", "Add", "AppAdvertorial", new { HostName = ViewBag.HostName }, null, true)
        <input type="button" id="btnYL" class="button" style="margin-left: 10px; height: 30px"
            value="App预览" />
    </div>
    <table class="tableList" cellpadding="0" cellspacing="0" style="font-size: 14px">
        <tr>
            <th style="width: 50px">
                置顶
            </th>
            <th style="width: 160px">
                展示图片
            </th>
            <th style="width: 230px; word-wrap: break-word; word-break: normal;">
                资讯标题
            </th>
            <th>
                发布日期
            </th>
            <th>
                资讯类型
            </th>
            <th>
                浏览次数
            </th>
            <th style="width: 50px;">
                排序
            </th>
            <th style="width: 80px;">
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.stick == 1)
                    {
                        <input type="checkbox" onclick="clickStick(@item.ID,this,@item.Sort)" id="ckbzd" name="ckbzd" checked="checked" title="最多只能有5篇短文置顶" />
                    }
                    else
                    {
                        <input type="checkbox" onclick="clickStick(@item.ID,this,@item.Sort)" id="ckbzd" name="ckbzd"  title="最多只能有5篇短文置顶"  />
                    }
                </td>
                @if (item.EnumAdverTorialType == (int)Poco.Enum.EnumAdverTorialType.txt)
                { 
                    <td>
                        <img style="width: 150px; margin-top:5px;  cursor:pointer "  onclick="clickInfo(@item.ID)" src="@Url.Content(item.AppShowImagePath ?? "")" />
                    </td>
                    <td style="font-size: 14px" class="operation">
                        <label name="labCbFirst" title="@item.Depict" onclick="clickInfo(@item.ID)" style=" cursor:pointer">
                            <a>@item.Title</a>
                        </label>
                    </td>
                }
                else
                {

                    if (item.EnumAdverURLType == (int)Poco.Enum.EnumAdverURLType.Survey)
                    {
                    <td>
                        <a href="@Url.Action("TroubleStatistics", "SurveyMain", new { id_token = item.UrlID.Value.TokenEncrypt(true)  })" target="_blank">
                            <img style="width: 150px; border:0; margin-top:5px
                            ;cursor:pointer " src="@Url.Content(item.AppShowImagePath ?? "")" /></a>
                    </td>
                    <td style="font-size: 14px" class="operation">
                        <label
                            name="labCbFirst" title="@item.Depict" style=" cursor:pointer">
                            <a href="@Url.Action("TroubleStatistics", "SurveyMain", new { id_token =item.UrlID.Value.TokenEncrypt(true) })" target="_blank">
                                @item.Title
                            </a>
                        </label>
                    </td>
                    }
                    else if (item.EnumAdverURLType == (int)Poco.Enum.EnumAdverURLType.Activities)
                    {
                    <td>
                        <img style="width: 150px; margin-top:5px;  cursor:pointer "  onclick="clickInfoUrl('@item.ContentURL')" src="@Url.Content(item.AppShowImagePath ?? "")" />
                    </td>
                    <td style="font-size: 14px" class="operation">
                        <label name="labCbFirst" title="@item.Depict" onclick="clickInfoUrl('@item.ContentURL')" style=" cursor:pointer">
                            <a>@item.Title</a>
                        </label>
                    </td>
                    }
                    else
                    { 
                    <td>
                        <a href="@item.ContentURL" target="_blank">
                            <img style="width: 150px; margin-top:5px; border:0;cursor:pointer " src="@Url.Content(item.AppShowImagePath ?? "")" /></a>
                    </td>
                    <td style="font-size: 14px" class="operation">
                        <a href="@item.ContentURL" target="_blank">
                            <label  name="labCbFirst" title="@item.Depict" style=" cursor:pointer">
                                @item.Title
                            </label>
                        </a>
                    </td>
                    }

                }
                <td style="font-size: 12px; color: #696969">
                    @item.IssueDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @if (item.EnumAdverTorialType == (int)Poco.Enum.EnumAdverTorialType.txt)
                    { 
                        @:资讯
                    }
                    else if (item.EnumAdverTorialType == (int)Poco.Enum.EnumAdverTorialType.url)
                    {
                        if (item.EnumAdverURLType == (int)Poco.Enum.EnumAdverURLType.Activities)
                        { 
                        @:活动
                        }
                        else if (item.EnumAdverURLType == (int)Poco.Enum.EnumAdverURLType.Ordinary)
                        {
                        @:URL链接
                        }
                        else if (item.EnumAdverURLType == (int)Poco.Enum.EnumAdverURLType.Survey)
                        {
                        @:调查问卷
                                                                                                                                                }
                    }
                </td>
                <td>
                    @item.BrowseCnt
                </td>
                <td>
                    @if (item.stick == 1)
                    { 
                        <label name="labCbFirst" title="上移">
                            <img onclick="clickSort(@item.ID,@item.Sort,1) " style=" cursor:pointer" src="@Url.Content("~/Images/up.png")"/>
                        </label>
                        <label name="labCbFirst" title="下移">
                            <img onclick="clickSort(@item.ID,@item.Sort,0) " style=" cursor:pointer" src="@Url.Content("~/Images/down.png")"  />
                        </label>
                    }
                    else
                    { 
                        @:无
                                                                                                                                                                                                                                                                                                             }
                </td>
                <td class="operation" align="center">
                    @if (item.EnumAdverURLType == (int)Poco.Enum.EnumAdverURLType.Survey || item.EnumAdverURLType == (int)Poco.Enum.EnumAdverURLType.Activities)
                    {
                    }
                    else
                    { 
                        @Html.ActionLink("修改", "Edit", "AppAdvertorial", new { HostName = ViewBag.HostName, id = item.ID }, new { style = "padding-right:10px" }, true)
                    }
                    @Ajax.ActionLink("删除", "Delete", "AppAdvertorial", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('确定删除?！','" + Url.Action("Delete", "AppAdvertorial", new { HostName = ViewBag.HostName, id = item.ID }) + "',null)" }, true)
                    <br />
                    <a onclick="clickSelectInfo('@item.ID')" style=" width:56px">&nbsp;查看详细</a>
                    <br />
                    <a onclick="clickaddress('@item.ContentURL','@item.UrlID','@item.EnumAdverURLType')" style=" width:56px">
                        查看地址 </a>
                </td>
            </tr>
        }
    </table>
    <div class="pages">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       /*LastPageText = "Last",
       FirstPageText = "First",
       PrevPageText = "Back",
       NextPageText = "Next",*/
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
</div>
<div style="clear: both">
</div>
@using (Html.BeginForm("Stick", "AppAdvertorial", new { HostName = ViewBag.HostName }, FormMethod.Post))
{
    <input type="hidden" id="AdvertorialID_stick" name="AdvertorialID" />
    <input type="hidden" id="isok" name="isok" />
    <input type="hidden" id="Sort" name="Sort" />
    <input type="submit" id="btnStick" style="visibility: hidden" />
}
@using (Html.BeginForm("Sort", "AppAdvertorial", new { HostName = ViewBag.HostName }, FormMethod.Post))
{
    <input type="hidden" id="AdvertorialID_sort" name="AdvertorialID" />
    <input type="hidden" id="Sort_sort" name="Sort" />
    <input type="hidden" id="Sort_stye" name="Type" />
    <input type="submit" id="btnSort" style="visibility: hidden" />
}
<div id="dialogShow" title="App预览" style="display: none; padding: 0px">
    <iframe id="iframeShow" src="#" style="width: 350px; height: 520px; border: none;
        overflow: auto"></iframe>
</div>
<div id="dialogShowInfo" title="App详细预览" style="display: none; padding: 0px">
    <iframe id="iframeShowInfo" src="#" style="width: 320px; height: 480px; border: none;
        overflow: auto"></iframe>
</div>
<div id="dialogShowUrl" title="资讯地址" style="display: none; padding: 0px; text-align: center">
    <div style="padding-top: 20px;">
        资讯地址：<span id="urlAddress" style="font-weight: bold"></span>
        <div id="divactivitySigin" style="display: none">
            <br />
            签到地址：<span id="urlSignInAddress" style="font-weight: bold"></span>
        </div>
    </div>
</div>
<div id="dialogShowSelectInfo" title="资讯详细" style="display: none; padding: 0px">
    <iframe id="iframeShowSelectInfo" src="#" style="width: 100%; height: 530px; border: none;
        overflow: auto"></iframe>
</div>
