@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    ViewBag.Menu = Poco.SystemConst.Menu.VipMessage;
}

@model Poco.VIPInfo
@section head{

<script>
    $(function () {
        $("#phoneNum").val('.');
    });
</script>

}
<div class="title">
    添加项目
</div>
<div class="bodyLeft">
    <ul class="ulList">
        <li class="select">@Html.ActionLink("会员管理", "Index", "VipMessage", new { HostName = ViewBag.HostName }, null, true)</li>
    </ul>
</div>
<div class="bodyRight" style="font-size: 14px">
    @using (Ajax.BeginForm("Edit", "VipMessage", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <fieldset>
            <legend>基本信息</legend>
        <table class="tableForm">
            <tr>
                <td class="tdTitle">
                    <span class="Identification">*</span> 卡号
                </td>
                <td class="tdField">@Html.TextBoxFor(a => a.CardNumber) 
                @Html.HiddenFor(a=>a.AccountMainID)
                @Html.HiddenFor(a=>a.CreateDate)
                @Html.HiddenFor(a=>a.score)
                @Html.HiddenFor(a=>a.Status)
                @Html.HiddenFor(a=>a.UserID)
                @Html.HiddenFor(a => a.VIPType)
                </td>
                <td>@Html.ValidationMessageFor(a => a.CardNumber)
                </td>
            </tr>
            <tr>
                <td class="tdTitle">
                    <span class="Identification">*</span> 电话
                </td>
                <td class="tdField">
                    @Html.TextBoxFor(a => a.User.UserLoginInfo.Phone)
                </td>
                <td>
                </td>
            </tr>
               <tr>
                <td class="tdTitle">
                    <span class="Identification">*</span> 金额
                </td>
                <td class="tdField">@Html.LabelFor(a => a.Balance)
                </td>
                <td>
                </td>
            </tr>
        </table>
         </fieldset>
        
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
        
    }
    
</div>
<div style="clear: both">
</div>

