@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.VipMessage;
}
@model PagedList<Poco.VIPInfo>
@section head{
    
    <script>
        $(function () {
            $("#cardNum").val('@ViewBag.cardNum');
            $("#phoneNum").val('@ViewBag.phoneNum');
        
        });
    
    
    </script>



}
<div class="title">
    会员管理</div>
<div class="bodyLeft">
    <ul class="ulList">
        <li class="select">@Html.ActionLink("会员管理", "Index", "VipMessage", new { HostName = ViewBag.HostName }, null, true)</li>
    </ul>
</div>
<div class="bodyRight" style="font-size: 14px">
    <div class="option">@Html.ActionLink("添加", "Add", "VipMessage", new { HostName = ViewBag.HostName, id = ViewBag.HID }, null, true)</div>
    @using (Html.BeginForm("Index", "VipMessage", new { HostName = ViewBag.HostName }, FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
        <table>
            <tr>
                <td>
                    卡号：
                </td>
                <td>
                    <input type="text" id="cardNum" name="cardNum" />
                </td>
                <td>
                    手机号码：
                </td>
                <td>
                    <input type="text" id="phoneNum" name="phoneNum" />
                </td>
                <td width="100px">
                    <input type="submit" id="btnSubmit" value="查询" class="button" style="margin-left: 20px" />
                </td>
            </tr>
        </table>
               
    }
    <table class="tableList" cellpadding="0" cellspacing="0">
        <tr>
            <th>
                会员名称
            </th>
            <th>
                会员卡号
            </th>
            <th>
                电话号码
            </th>
            <th>
                余额
            </th>
            <th style="width: 120px;">
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User.UserLoginInfo.Name</td>
                <td>@item.CardNumber</td>
                <td>@item.User.UserLoginInfo.Phone</td>
                <td>@item.Balance</td>
                  <td class="operation">

                    @Html.ActionLink("修改", "Edit", "VipMessage", new { HostName = ViewBag.HostName, id = item.ID }, new { style = "padding-right:15px" }, true)
                   
                    @Ajax.ActionLink("删除", "Delete", "VipMessage", new { HostName = ViewBag.HostName, id = item.ID }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('确定删除?删除此项将会删除其关联的所有数据！','" + Url.Action("Delete", "HousesMange", new { HostName = ViewBag.HostName, id = item.ID }) + "',null)" }, true)
                    
                </td>
            </tr>
        }
    </table>
    <div class="pages">
        @Html.Pager(Model, new PagerOptions
   {
       PageIndexParameterName = "ID",
       CurrentPagerItemWrapperFormatString = "<span class=\"pagenum_selected\"><a>{0}</a></span>",
       NumericPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       NavigationPagerItemWrapperFormatString = "<span class=\"pagenum\">{0}</span>",
       CssClass = "manage_pages pages",
       SeparatorHtml = "&nbsp;",
       AutoHide = false,
       PageIndexOutOfRangeErrorMessage = "Page index out of range.",
       ShowFirstLast = false
   })
    </div>
</div>
<div style="clear: both">
</div>
