@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model List<Poco.AutoMessage_Keyword>
@section head{
    <link href="@Url.Content("~/Scripts/treeview/jquery.treeview.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/treeview/jquery.treeview.js")"></script>
    <style>
        .keyLeft
        {
            width: 350px;
            border: 1px solid #d3d3d3;
            float: left;
            min-height: 600px;
            overflow-x: auto;
        }
        .keyRigth
        {
            width: 545px;
            border: 1px solid #d3d3d3;
            float: left;
            margin-left: 20px;
            min-height: 600px;
        }
        #div_addKeyrule
        {
            width: 100%;
            min-height: 430px;
            background-color: White;
            display: none;
        }
        .keyTitle
        {
            height: 30px;
            background-color: #F0F0F0;
            line-height: 30px;
            padding: 0px 5px;
            border-bottom: 1px solid #d3d3d3;
        }
        .keyRight
        {
            border: 1px solid #d3d3d3;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            min-height: 250px;
        }
        .keyMessageItem
        {
            border-bottom: 1px solid #d3d3d3;
            height: 30px;
            line-height: 30px;
            padding: 0px 5px 0px 5px;
        }
        .newAddBtn
        {
            cursor: pointer;
        }
        .keyLiTitle
        {
            text-overflow: ellipsis;
            text-align: left;
            overflow: hidden;
            word-break: break-all;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    </style>
    <script type="text/javascript">
        var addUrl = '@Url.Action("Add", "KeywordMessage")';
        var editUrl = '@Url.Action("Edit", "KeywordMessage")';
        var getRuleNoUrl = '@Url.Action("GetRuleNoString", "KeywordMessage")';
        var getEntityUrl = '@Url.Action("Get", "KeywordMessage")';
        var deleteUrl = '@Url.Action("Delete", "KeywordMessage")';
        $(function () {
            $("#browser").treeview({
                toggle: function () {
                },
                collapsed: true,
            });

            $("#btnAddText").click(function () {
                $("#dialogText").dialog({
                    resizable: false,
                    height: 219,
                    width: 579,
                    modal: true,
                    draggable: false,
                    buttons: {
                        "确定": function () {
                            var txtMsgText = $("#txtMsgText").val().trim();
                            if (txtMsgText.length == 0) {
                                JAlert({
                                    Message: "内容不能为空。",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                            } else {
                                $("#msgContent").append('<div class="keyMessageItem"><label class="msgText">' + txtMsgText + '</label><span style="float: right;cursor: pointer;" onclick="delText(this)">删除</span></div>');
                                $("#txtMsgText").val("");
                                $(this).dialog("close");
                            }

                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $("#btnAddRule").click(function () {
                $("#div_addKeyrule").show();
                $("#AccountMainHousesID").focus();
                clearText();
                $.ajax({
                    type: "get",
                    data: { fullRuleNo: null },
                    url: getRuleNoUrl,
                    success: function (result) {
                        if (result != undefined && result != null && result.length > 0) {
                            $("#txtRuleNo").val(result);
                            $("#hidRuleNo").val(result);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        JAlert({
                            Message: "Internal Server Error.",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                    }
                });
            });

            $(".btnEdit").click(function () {
                clearText();
                $("#div_addKeyrule").show();
                $("#labTitlt").text("修改规则");
                var keyId = $(this).attr("keyID");
                $.get(getEntityUrl, { id: keyId }, function (result) {
                    $("#txtRuleName").val(result.RuleName);
                    $("#txtRuleNo").val(result.FullRuleNo);
                    $("#txtKey").val(result.Keywords);
                    $("#hidKeyID").val(keyId);
                    var content = "";
                    var textReplysJSON = JSON.parse(result.TextReplys).TextReplys;
                    $.each(textReplysJSON, function (i, n) {
                        content += '<div class="keyMessageItem"><label class="msgText">' + n + '</label><span style="float: right;cursor: pointer;" onclick="delText(this)">删除</span></div>';
                    });
                    $("#msgContent").append(content);
                }, "json");
            });

            $(".btnAddSub").click(function () {
                clearText();
                $("#div_addKeyrule").show();
                var fullRuleNo = $(this).attr("fullRuleNo");
                var ruleNo = $(this).attr("ruleNo");
                var parentID = $(this).attr("parentID");
                $("#hidRuleNo").val(ruleNo);
                $("#hidParentID").val(parentID);
                $.ajax({
                    type: "get",
                    data: { fullRuleNo: fullRuleNo },
                    url: getRuleNoUrl,
                    success: function (result) {
                        if (result != undefined && result != null && result.length > 0) {
                            $("#txtRuleNo").val(result);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        JAlert({
                            Message: "Internal Server Error.",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                    }
                });
            });

            $("#btnSaveRule").click(function () {
                var ruleName = $("#txtRuleName").val().trim();
                var hidRuleNo = $("#hidRuleNo").val().trim();
                var fullRuleNo = $("#txtRuleNo").val().trim();
                var parentID = $("#hidParentID").val().trim();
                if (parentID.length == 0) {
                    parentID = null;
                }
                if (ruleName.length == 0) {
                    $("#txtRuleName").focus();
                    JAlert({
                        Message: "请输入规则名称。",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    return false;
                }
                var key = $("#txtKey").val().trim();
                if (key.length == 0) {
                    $("#txtKey").focus();
                    JAlert({
                        Message: "请输入关键字。",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    return false;
                }
                var messageCount = $(".keyMessageItem").length;
                if (messageCount <= 1) {
                    JAlert({
                        Message: "请添加回复消息。",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    return false;
                }
                var msgTexts = "";
                $.each($(".msgText"), function (i, n) {
                    msgTexts += $(n).text() + "|";
                });
                var keyId = $("#hidKeyID").val().trim();
                if (keyId.length > 0) {
                    $.ajax({
                        type: "post",
                        data: { keyID: keyId, ruleName: ruleName, keys: key, messageTexts: msgTexts, messageFileIDs: null, messageImageTextIDs: null },
                        url: editUrl,
                        success: function (result) {
                            if (result != undefined && result != null && result.length > 0) {
                                eval(result);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            JAlert({
                                Message: "Internal Server Error.",
                                DialogType: "Ok",
                                BtnOk: "确定"
                            });
                        }
                    });
                } else {
                    $.ajax({
                        type: "post",
                        data: { ruleName: ruleName, ruleNo: hidRuleNo, fullRuleNo: fullRuleNo, parentID: parentID, keys: key, messageTexts: msgTexts, messageFileIDs: null, messageImageTextIDs: null },
                        url: addUrl,
                        success: function (result) {
                            if (result != undefined && result != null && result.length > 0) {
                                eval(result);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            JAlert({
                                Message: "Internal Server Error.",
                                DialogType: "Ok",
                                BtnOk: "确定"
                            });
                        }
                    });
                }
            });


            $("#btnCancel").click(function () {
                $("#div_addKeyrule").hide();
            });
        });
        function clearText() {
            $("#labTitlt").text("新规则");
            $("#txtRuleNo").val("");
            $("#hidRuleNo").val("");
            $("#hidParentID").val("");
            $("#hidKeyID").val("");

            $("#txtRuleName").val("");
            $("#txtRuleNo").val("");
            $("#txtKey").val("");
            $("#msgContent").empty();
        }
        function delText(obj) {
            $(obj).parent().remove();
        }
        function deleteItem(id){
            return AppDelete('确定删除?',deleteUrl+"/"+id);
        }
    </script>
}
<div class="title">
    关键词自动回复</div>
<div class="body">
    <div class="option">
        <a id="btnAddRule">添加规则</a>
    </div>
    <div class="keyLeft">
        @Html.Raw(ViewBag.Tree)
    </div>
    <div class="keyRigth">
        <div id="div_addKeyrule">
            <div class="keyTitle">
                <label id="labTitlt">
                    新规则</label>
            </div>
            <div style="padding: 10px 5px 0px 10px;">
                <div>
                    <div style="width: 58px; text-align: right; float: left">
                        项目：</div>
                    @Html.DropDownList("AccountMainHousesID", ViewData["Project"] as List<SelectListItem>, new { })
                    </div>
                <div>
                    <div style="width: 58px; text-align: right; float: left">
                        规则名：</div>
                    <input id="txtRuleName" type="text" />&nbsp;(规则名最多30个字)</div>
                <div>
                    <div style="width: 58px; text-align: right; float: left">
                        编号：</div>
                    <input type="text" id="txtRuleNo" readonly="readonly" /><input type="hidden" id="hidRuleNo" /><input
                        type="hidden" id="hidParentID" /><input type="hidden" id="hidKeyID" /></div>
                <div>
                    <div style="width: 58px; text-align: right; float: left">
                        关键字：</div>
                    <textarea id="txtKey" rows="3" cols="70"></textarea>
                </div>
            </div>
            <div style="padding: 5px 5px 0px 10px;">
                <div class="keyRight">
                    <div class="keyTitle">
                        回复<div style="float: right">
                            文字(0)&nbsp;&nbsp;文件(0)&nbsp;&nbsp;图文(0)</div>
                    </div>
                    <div id="msgContent">
                    </div>
                    <div class="keyMessageItem" style="margin-bottom: 60px;">
                        新增回复&nbsp;>&nbsp;&nbsp;<span class="newAddBtn" id="btnAddText">文字</span>&nbsp;&nbsp;<span
                            class="newAddBtn">文件</span>&nbsp;&nbsp;<span class="newAddBtn">图文</span></div>
                </div>
            </div>
            <div style="padding: 10px 5px 10px 10px; float: right; width: 180px">
                <input class="button" value="保存" type="button" id="btnSaveRule" />&nbsp;&nbsp;<input
                    class="button" type="button" value="取消" id="btnCancel" />
            </div>
            <div style="clear: both">
            </div>
        </div>
    </div>
    <div style="clear: both">
    </div>
    <div id="dialogText" title="添加回复文字" style="display: none">
        <textarea cols="75" rows="6" id="txtMsgText"></textarea>
    </div>
</div>
