@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Set;
}
@model List<Poco.AutoMessage_Keyword>
@section head{
    <link href="@Url.Content("~/Scripts/treeview/jquery.treeview.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/tabControl/tabControl.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/treeview/jquery.treeview.js")"></script>
    <script src="@Url.Content("/Scripts/tabControl/tabControl.js")" type="text/javascript"></script>
    <style>
        .keyLeft
        {
            width: 350px;
            border: 1px solid #E7E7E7;
            float: left;
            min-height: 600px;
            overflow-x: auto;
        }
        .keyRigth
        {
            width: 545px;
            border: 1px solid #E7E7E7;
            float: left;
            margin-left: 20px;
            min-height: 600px;
        }
        #div_addKeyrule
        {
            width: 100%;
            min-height: 430px;
            background-color: White;
            display: none;
        }
        .keyTitle
        {
            height: 30px;
            background-color: #F4F4F4;
            line-height: 30px;
            padding: 0px 5px;
            border-bottom: 1px solid #E7E7E7;
        }
        .keyRight
        {
            border: 1px solid #E7E7E7;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            min-height: 250px;
        }
        .keyMessageItem
        {
            border-bottom: 1px solid #E7E7E7;
            max-height: 80px;
            line-height: 30px;
            padding: 3px 5px 3px 5px;
        }
        .newAddBtn
        {
            cursor: pointer;
        }
        .keyLiTitle
        {
            text-overflow: ellipsis;
            text-align: left;
            overflow: hidden;
            word-break: break-all;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
        .keyItem
        {
            min-height: 30px;
            line-height: 30px;
        }
    </style>
    <script type="text/javascript">
        var addUrl = '@Url.Action("Add", "KeywordMessage")';
        var editUrl = '@Url.Action("Edit", "KeywordMessage")';
        var getRuleNoUrl = '@Url.Action("GetRuleNoString", "KeywordMessage")';
        var getEntityUrl = '@Url.Action("Get", "KeywordMessage")';
        var deleteUrl = '@Url.Action("Delete", "KeywordMessage")';
        $(function () {
            
		    $("#txtKey").tabControl({maxTabCount:10,tabW:80},"");

            
            $("#labCbFirst").attr("title", "选中后，该问题会在用户App中默认显示，以作为引导问题。").tipTip({ activation: "hover", delay: 3, defaultPosition: "right" });
            $(".tabinput").attr("title", "回车输入关键字。").tipTip({ activation: "hover", delay: 3, defaultPosition: "right" });

            $("#browser").treeview({
                toggle: function () {
                },
                collapsed: true,
            });

            $("#btnAddText").click(function () {
                $("#dialogText").dialog({
                    resizable: false,
                    height: 225,
                    width: 579,
                    modal: true,
                    draggable: false,
                    buttons: {
                        "确定": function () {
                            var txtMsgText = $("#txtMsgText").val().trim();
//                            var regex = /^((?!<!).)*/g;
//                            var tempValue = txtMsgText.match(regex)[0];
//                            if (tempValue.length != txtMsgText.length) {
//                                JAlert({
//                                    Message: "不能输入非法字符。",
//                                    DialogType: "Ok",
//                                    BtnOk: "确定"
//                                });
//                                return false;
//                            }
                            if (txtMsgText.length == 0) {
                                JAlert({
                                    Message: "内容不能为空。",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                            } else {
                                $("#msgContent").append('<div class="keyMessageItem"><input type="hidden" class="hidFile" fileType="LibraryText" value="0" textval="'+txtMsgText+'"><label class="msgText">' + txtMsgText + '</label><span style="float: right;cursor: pointer;" onclick="delText(this)">删除</span></div>');
                                $("#txtMsgText").val("");
                                $(this).dialog("close");
                            }

                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $("#btnAddFile").click(function(){
                var src=$("#iframeLibrary").attr("src");
                $("#iframeLibrary").attr("src",src);
                $("#dialogFile").dialog({
                    resizable: false,
                    height: 650,
                    width: 829,
                    modal: true,
                    draggable: false,
                    buttons: {
                        "确定": function () {
                            var subDocument = $(window.frames[0].document);
                            var index= subDocument.find(".ui-tabs-active").attr("t");
                            var sel=subDocument.find("#"+index).find(":checked")
                            if(sel.length<=0){
                                JAlert({
                                    Message: "请选择一个素材。",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                                return;
                            }
                            var title=sel.parent().find("label").text();
                            var hidObj=sel.parent().find(":hidden")
                            var url=hidObj.val();
                            var id=hidObj.attr("fileID");
                            var type=hidObj.attr("fileType");
                            switch(type){
                                case "LibraryImage":
                                    $("#msgContent").append('<div class="keyMessageItem"><img style="max-width: 100px;max-height:80px;vertical-align:middle" src="'+url+'" />&nbsp;<input type="hidden" class="hidFile" fileType="'+type+'" value="'+id+'"/><label class="msgText">' + title + '</label><span style="float: right;cursor: pointer;" onclick="delText(this)">删除</span></div>');
                                    break;
                                case "LibraryVoice":
                                    $("#msgContent").append('<div class="keyMessageItem"><span class="ico-music" style="vertical-align: middle;"></span><input type="hidden" class="hidFile" fileType="'+type+'" value="'+id+'"/><label class="msgText">' + title + '</label><span style="float: right;cursor: pointer;" onclick="delText(this)">删除</span></div>');
                                    break;
                                case "LibraryVideo":
                                    $("#msgContent").append('<div class="keyMessageItem"><span class="ico-facetime-video" style="vertical-align: middle;"></span><input type="hidden" class="hidFile" fileType="'+type+'" value="'+id+'"/><label class="msgText">' + title + '</label><span style="float: right;cursor: pointer;" onclick="delText(this)">删除</span></div>');
                                    break;
                                default:
                                    $("#msgContent").append('<div class="keyMessageItem"><img style="max-width: 100px;max-height:80px;vertical-align:middle" src="'+url+'" />&nbsp;<input type="hidden" class="hidFile" fileType="'+type+'" value="'+id+'"/><label class="msgText">' + title + '</label><span style="float: right;cursor: pointer;" onclick="delText(this)">删除</span></div>');
                                    break;
                            }
                            $(this).dialog("close");
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $("#btnAddRule").click(function () {
                $("#div_addKeyrule").show();
                $("#AccountMainHousesID").focus();
                clearText();
                $.ajax({
                    type: "get",
                    data: { fullRuleNo: null },
                    url: getRuleNoUrl,
                    success: function (result) {
                        if (result != undefined && result != null && result.length > 0) {
                            $("#txtRuleNo").text(result);
                            $("#hidRuleNo").val(result);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        JAlert({
                            Message: "Internal Server Error.",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                    }
                });
            });

            $(".btnEdit").click(function () {
                clearText();
                $("#div_addKeyrule").show();
                $("#labTitlt").text("修改规则");
                var keyId = $(this).attr("keyID");
                $.get(getEntityUrl, { id: keyId }, function (result) {
                    $("#txtRuleName").val(result.RuleName);
                    $("#txtRuleNo").text(result.FullRuleNo);
		            $("#txtKey").find("input").remove();
                    $("#txtKey").tabControl({maxTabCount:10,tabW:80},result.Keywords);
                    if(result.IsFistAutoMessage==true){
                        $("#cbFirst").attr("checked","checked");
                    }
                    $("#AccountMainHousesID").val(result.ProjectID);
                    $("#hidKeyID").val(keyId);
                    var files = JSON.parse(result.KeywordAutoMessages).Files;
                    $.each(files,function(i,n){
                        switch (n.type) {
                            case "LibraryText":
                                $("#msgContent").append('<div class="keyMessageItem"><input type="hidden" class="hidFile" fileType="LibraryText" value="0" textval="'+n.content+'"><label class="msgText">' + n.content + '</label><span style="float: right;cursor: pointer;" onclick="delText(this)">删除</span></div>');
                                break;
                            default:
                                $("#msgContent").append('<div class="keyMessageItem"><img style="max-width: 100px;max-height:80px;vertical-align:middle" src="'+n.url+'" /><input type="hidden" class="hidFile" fileType="'+n.type+'" value="'+n.id+'"><label class="msgText">' + n.fileTitle + '</label><span style="float: right;cursor: pointer;" onclick="delText(this)">删除</span></div>');
                                break;
                        }
                    });
                }, "json");
            });

            $(".btnAddSub").click(function () {
              
                $("#div_addKeyrule").show();
                  clearText();
                var fullRuleNo = $(this).attr("fullRuleNo");
                var ruleNo = $(this).attr("ruleNo");
                var parentID = $(this).attr("parentID");
                $("#hidRuleNo").val(ruleNo);
                $("#hidParentID").val(parentID);
                $.ajax({
                    type: "get",
                    data: { fullRuleNo: fullRuleNo },
                    url: getRuleNoUrl,
                    success: function (result) {
                        if (result != undefined && result != null && result.length > 0) {
                           
                            $("#txtRuleNo").text(result);
                            
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        JAlert({
                            Message: "Internal Server Error.",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                    }
                });
            });
            
            $("#btnSaveRule").click(function () {
                var ruleName = $("#txtRuleName").val().trim();
                var hidRuleNo = $("#hidRuleNo").val().trim();
                var fullRuleNo = $("#txtRuleNo").text().trim();
                var parentID = $("#hidParentID").val().trim();
                var projectID=$("#AccountMainHousesID").val();
                var fileArray=new Array();
                $.each($(".hidFile"),function(i,n){
                    var file = new Object(); 
                    file.type = $(n).attr("fileType");
                    file.id = $(n).val(); 
                    file.content=$(n).attr("textval");
                    fileArray.push(file);
                });
                var cbFirst=$("#cbFirst:checked").length;
                var isFirstAutoMsg=false;
                if(cbFirst>0){
                    isFirstAutoMsg=true;
                }
                if (parentID.length == 0) {
                    parentID = null;
                }
                if(projectID=="0"){
                    $(this).focus();
                    JAlert({
                        Message: "请选择项目。",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    return false;
                }
                if (ruleName.length == 0) {
                    $("#txtRuleName").focus();
                    JAlert({
                        Message: "请输入规则名称。",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    return false;
                }
                var key = $("#txtKey").getTabVals().join(",");
                if (key.length == 0) {
                    $(".tabinput:visible").focus();
                    JAlert({
                        Message: "请输入关键字。",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    return false;
                }
                var messageCount = $(".keyMessageItem").length;
                if (messageCount <=0) {
                    JAlert({
                        Message: "请添加回复消息。",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                    return false;
                }
                var keyId = $("#hidKeyID").val().trim();
                if (keyId.length > 0) {
                    $.ajax({
                        type: "post",
                        data: { keyID: keyId, ruleName: ruleName, keys: key, messageFileIDs: null, messageImageTextIDs: null,projectID:projectID,isFirstAutoMsg:isFirstAutoMsg,files:JSON.stringify(fileArray)},
                        url: editUrl,
                        success: function (result) {
                            if (result != undefined && result != null && result.length > 0) {
                                eval(result);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            JAlert({
                                Message: "Internal Server Error.",
                                DialogType: "Ok",
                                BtnOk: "确定"
                            });
                        }
                    });
                } else {
                    $.ajax({
                        type: "post",
                        data: { ruleName: ruleName, ruleNo: hidRuleNo, fullRuleNo: fullRuleNo, parentID: parentID, keys: key,  messageFileIDs: null, messageImageTextIDs: null,projectID:projectID,isFirstAutoMsg:isFirstAutoMsg,files:JSON.stringify(fileArray) },
                        url: addUrl,
                        success: function (result) {
                            if (result != undefined && result != null && result.length > 0) {
                                eval(result);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            JAlert({
                                Message: "Internal Server Error.",
                                DialogType: "Ok",
                                BtnOk: "确定"
                            });
                        }
                    });
                }
            });


            $("#btnCancel").click(function () {
                $("#div_addKeyrule").hide();
            });
        });
        function clearText() {
            $("#labTitlt").text("新规则");
            $("#txtRuleNo").text("");
            $("#hidRuleNo").val("");
            $("#hidParentID").val("");
            $("#hidKeyID").val("");
            $("#cbFirst").removeAttr("checked");

            $("#txtRuleName").val("");
            $("#txtRuleNo").text("");

            $("span[name='tab']").remove();
            $(".tabinput:hidden").remove();

            $("#msgContent").empty();
        }
        function delText(obj) {
            console.log($(obj).parent());
            $(obj).parent().remove();
        }
        function deleteItem(id){
            return AppDelete('确定删除?',deleteUrl+"/"+id);
        }

    </script>
}
<div class="title">
    关键词自动回复</div>
<div class="body">
    <div class="option">
        <a id="btnAddRule">添加规则</a>
    </div>
    <div class="keyLeft">
        @Html.Raw(ViewBag.Tree)
    </div>
    <div class="keyRigth">
        <div id="div_addKeyrule">
            <div class="keyTitle">
                <label id="labTitlt">
                    新规则</label>
            </div>
            <div style="padding: 10px 5px 0px 10px;">
                <div class="keyItem">
                    <div style="width: 58px; text-align: right; float: left">
                        项目：</div>
                    @Html.DropDownList("AccountMainHousesID", ViewData["Project"] as List<SelectListItem>, new { })
                </div>
                <div class="keyItem">
                    <div style="width: 58px; text-align: right; float: left">
                        规则名：</div>
                    <input id="txtRuleName" type="text" />&nbsp;(规则名最多30个字)</div>
                <div class="keyItem">
                    <div style="width: 58px; text-align: right; float: left">
                        编号：</div>
                    <label id="txtRuleNo">
                        1
                    </label>
                    <input type="hidden" id="hidRuleNo" /><input type="hidden" id="hidParentID" /><input
                        type="hidden" id="hidKeyID" />
                    <div style="float: right; margin-right: 20px;">
                        <input type="checkbox" id="cbFirst" /><label for="cbFirst" id="labCbFirst">引导消息</label></div>
                    <div style="clear: both">
                    </div>
                </div>
                <div class="keyItem">
                    <div style="width: 58px; text-align: right; float: left">
                        关键字：</div>
                    <div id="txtKey">
                    </div>
                </div>
            </div>
            <div style="padding: 5px 5px 0px 10px;">
                <div class="keyRight">
                    <div class="keyTitle">
                        回复<div style="float: right">
                            @*文字(0)&nbsp;&nbsp;文件(0)&nbsp;&nbsp;图文(0)*@
                        </div>
                    </div>
                    <div id="msgContent">
                    </div>
                </div>
            </div>
            <div style="padding: 10px 5px 10px 10px;">
                <div style="float: left">
                    新增回复&nbsp;>
                    <input class="button" value="文字" type="button" id="btnAddText" />
                    <input class="button" value="文件" type="button" id="btnAddFile" /></div>
                <div style="float: right">
                    <input class="button" value="保存" type="button" id="btnSaveRule" />&nbsp;&nbsp;<input
                        class="button" type="button" value="取消" id="btnCancel" /></div>
                <div style="clear: both">
                </div>
            </div>
            <div style="clear: both">
            </div>
        </div>
    </div>
    <div style="clear: both">
    </div>
    <div id="dialogText" title="添加回复文字" style="display: none">
        <textarea cols="75" rows="6" id="txtMsgText"></textarea>
    </div>
    <div id="dialogFile" title="选择文件素材" style="display: none">
        <iframe id="iframeLibrary" src="@Url.Action("Manage", "Library", new { HostName = ViewBag.HostName })" style="width:800px;height:530px;border:none;overflow:hidden">
        </iframe>
    </div>
</div>
