@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.VipInfo;
    ViewBag.Menu3 = Poco.SystemConst.Menu.VipInfo;
    var frefix = ViewBag.Frefix as List<Poco.CardPrefix>;
}

@model Poco.VIPInfo
@section head{

<script>
    $(function () {
        $("#phoneNum").val('.');


        $("#selPrefix").val('@Model.CardInfo.CardPrefixID');
    });



    function checkfrefix() {
        var sel = $("#selPrefix").val();
        if (sel == "" || sel == undefined) {
            JAlert({
                Message: "请先录入前缀！",
                DialogType: "Ok",
                BtnOk: "确定"
            });
            return false;
        }
        else {
            return true;
        }
    }
</script>

}
<div class="title">
    添加项目
</div>
<div class="bodyLeft">
    <ul class="ulList">
        <li class="select">@Html.ActionLink("会员管理", "Index", "VipInfo", new { HostName = ViewBag.HostName }, null, true)</li>
        <li>@Html.ActionLink("卡片管理", "Index", "CardInfo", new { HostName = ViewBag.HostName }, null, true)</li>
    </ul>
</div>
<div class="bodyRight" style="font-size: 14px">
    @using (Ajax.BeginForm("Edit", "VipInfo", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <fieldset>
            <legend>基本信息</legend>
        <table class="tableForm">
        <tr>
                <td class="tdTitle">
                    <span class="Identification">*</span> 前缀
                </td>
                <td class="tdField">
                    <select id="selPrefix" name="selPrefix">
                            @foreach (var item in frefix)
                            {
                                <option value="@item.ID">@item.PrefixName</option>
                            }
                        </select>
                </td>
                <td>
                </td>
            </tr>
            <tr>

                <td class="tdTitle">
                    <span class="Identification">*</span> 卡号
                </td>
                <td class="tdField">@Html.TextBoxFor(a => a.CardInfo.CardNum) 
                @Html.HiddenFor(a=>a.ID)
                @Html.HiddenFor(a=>a.CardInfoID)
                </td>
                <td>
                </td>
            </tr>
             <tr>
                <td class="tdTitle">
                    <span class="Identification">*</span> 会员姓名
                </td>
                <td class="tdField">
                    @Model.User.UserLoginInfo.Name
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td class="tdTitle">
                    <span class="Identification">*</span> 电话
                </td>
                <td class="tdField">
                    @Model.User.UserLoginInfo.Phone
                </td>
                <td>
                </td>
            </tr>
               <tr>
                <td class="tdTitle">
                    <span class="Identification">*</span> 金额
                </td>
                <td class="tdField">@Model.CardInfo.Balance
                </td>
                <td>
                </td>
            </tr>
        </table>
         </fieldset>
        
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存"  onclick="return checkfrefix()"  class="button" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@ViewBag.RawUrl'" />
        </div>
        
    }
    
</div>
<div style="clear: both">
</div>

