@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu2 = Poco.SystemConst.Menu.VipInfo;
    ViewBag.Menu3 = Poco.SystemConst.Menu.VipInfo;
    var frefix = ViewBag.Frefix as List<Poco.CardPrefix>;
}
@section head{
    <script>

        $(function () {
            var isok = '@ViewBag.IsOK';
            if (isok == 1) {
                JAlert({
                    Message: "充值成功！",
                    DialogType: "Ok",
                    BtnOk: "确定"
                });
            }
        });

        function CheckID() {
            var vid = $("#CardID").val();
            var money = $("#Balance").val();
            if (vid == "" || vid == undefined) {
                JAlert({
                    Message: "未查询到用户！",
                    DialogType: "Ok",
                    BtnOk: "确定"
                });
                return false;
            }
            if (money == "" || money == undefined) {
                JAlert({
                    Message: "请输入重置金额！",
                    DialogType: "Ok",
                    BtnOk: "确定"
                });
                return false;
            }

        }

        function selVip() {
            var cardNum = $("#cardNum").val();
            var sel = $("#selPrefix").val();
            if (sel == "" || sel == undefined) {
                JAlert({
                    Message: "请先录入前缀！",
                    DialogType: "Ok",
                    BtnOk: "确定"
                });
                return false;
            }
            if (cardNum == "" || cardNum == undefined) {
                JAlert({
                    Message: "请输入卡号！",
                    DialogType: "Ok",
                    BtnOk: "确定"
                });
                return false;
            }
            else {
                var URL = '@Url.Action("SelVipInfo", "VipInfo")';
                $.post(URL, { cardNum: cardNum, Prefix: sel }, function (result) {

                    if (result == 0) {
                        JAlert({
                            Message: "该卡号不存在！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                    }
                    else if (result == 1) {
                        JAlert({
                            Message: "该卡号未绑定用户！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                    }
                    else if (result == 2) {
                        JAlert({
                            Message: "您输入的卡号已被冻结！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                    }
                    else {

                        $("#Uname").text(result.UserName);
                        $("#Uphone").text(result.UserPhone);
                        $("#CardID").val(result.CardID);
                        

                    }
                }, "json");
            }


        }
    </script>
}
@model Poco.CardInfo
<div class="title">
    @Html.Partial("Menu3")
</div>
<div class="body">
    @using (Ajax.BeginForm("Recharge", "VipInfo", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <fieldset>
            <legend>卡号</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 前缀:
                    </td>
                    <td class="tdField">
                          <select id="selPrefix" name="selPrefix">
                            @foreach (var item in frefix)
                            {
                                <option value="@item.ID">@item.PrefixName</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 卡号:
                    </td>
                    <td class="tdField">
                        <input type="text" id="cardNum" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <input type="button" class="button" value="查询" id="btnSel" onclick="selVip()" />
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>基本信息</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 会员名称:
                    </td>
                    <td class="tdField">
                        <label id="Uname"> </label>
                        
                        <input id="CardID" type="hidden" name="CardID" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 电话号码:
                    </td>
                    <td class="tdField">
                        <label id="Uphone">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 充值金额:
                    </td>
                    <td class="tdField">
                        @Html.TextBoxFor(a => a.Balance)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(a => a.Balance)
                    </td>
                </tr>
            </table>
            <input type="submit" id="btnSubmit" onclick="return CheckID()" value="提交" onclick="return checkPhone()"
                class="button" style="margin-right: 20px" /><input type="button" value="返回"  class="button" onclick="location.href='@Url.Action("Index","VipInfo")'" />
        </fieldset>
    }
</div>
