@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section head{
    <style>
        .Atype > span > span
        {
            font-size: 14px;
            font-weight: normal;
        }
        
        .MainTab
        {
            width: 100%;
            border: 1px solid #dbdbdb;
            box-shadow: 2px 2px 10px #909090;
            background-color: #fff;
            margin-bottom: 15px;
            font-size: 13px;
        }
        
        .MainTab td
        {
            border-top: 1px solid #dbdbdb;
            padding: 8px 8px;
        }
        .MainTab tr:first-child td
        {
            border-top: 0px;
        }
    </style>
    <script>
         if(CheckIsLogin(@ViewBag.AMID))
         {
         
           $(function () {
             
                var PUrl = '@Url.Action("GetAdsInfo", "MicroMall")';
        
                var UID = GetUserID(@ViewBag.AMID);


                $.post(PUrl, { adsID:@ViewBag.adsID, AMID: @ViewBag.AMID, UserID: UID}, function (result) {
                          
                    if(result!= undefined && result!=null && result!="[]"&& result!="null"&& result!="")
                    { 
                        $("#address").show();
                        $("#address").click(function (event) {
           
                             var Url = "@Url.Action("Index", "MicroUserDeliveryAddress", new { amid = ViewBag.AMID })";
                             var ThisUrl = "@Url.Action("OrderConfirmation", "MicroMall", new { AMID = ViewBag.AMID })";
                    
                             var href = Url+"&userID=" + GetUserID(@ViewBag.AMID)+"&backUrl="+ThisUrl;
                             window.location.href = href;

                        });
                   
                        $("#AID").val(result.ID);
                        $("#AName").text(result.Receiver);
                        $("#APhone").text(result.RPhone);
                        $("#AAddress").text(result.Address );
                   


                    }
                    else
                    {
                        $("#Noaddress").show();
                        $("#Noaddress").click(function (event) {
           
                             var Url = "@Url.Action("Add", "MicroUserDeliveryAddress", new { amid = ViewBag.AMID })";
                             var ThisUrl = "@Url.Action("OrderConfirmation", "MicroMall", new { AMID = ViewBag.AMID })";
                       
                             var href = Url+"&userID=" + GetUserID(@ViewBag.AMID)+"&backUrl="+ThisUrl;
                             window.location.href = href;
                        });
                        $("#addorder").attr("disabled","").button("disable");
                    }

                },"json");

           


            });

        }        

        function OptintModel() {
            var it = new Object;
            it.PID = "";
            it.PName = "";
            it.PPrive = 0;
            it.PFreight = 0;
            it.PImage = "";
            it.Pcount = 0;
            return it;
        }
        var items = [];
         
      
        //加载界面
        function GetSessionStor() {
            var jsonStrZJ = "";
            jsonStrZJ = sessionStorage.ImtimelyShopZJ;
            if (jsonStrZJ != undefined && jsonStrZJ != "" && jsonStrZJ != "[]") {
                items = eval(jsonStrZJ);
                var prices = 0;
                for (var i in items) {
                    var htmlStr = ' <tr>'
                                + '    <td style="padding: 8px 8px">'
                                + '        <div style="width: 70px; height: 70px; overflow: hidden; float: left">'
                                + '            <img src="' + items[i].PImage + '" style="min-width: 100%; min-height: 70px;'
                                + '                max-height: 70px; border-radius: 5px;" />'
                                + '        </div>'
                                + '        <div style="padding-left: 80px; font-size: 13px">'
                                + items[i].PName
                                + '        </div>'
                                + '        <div style="padding-left: 80px; padding-top: 8px; font-size: 13px;">'
                                + '            <span style="color: #6C6C6C; font-size: 12px;">数量：' + items[i].Pcount + ' 单价：</span><span style="color: Red;'
                                + '                font-weight: bold; font-size: 13px;">￥' + items[i].PPrive + '</span>'
                                + '        </div>'
                                + '    </td>'
                                + '</tr>';
                    $("#SessionInfo").after(htmlStr);
                    prices = prices + parseInt(items[i].Pcount) * parseInt(items[i].PPrive);
                }
                $("#amount").text(prices);

            }
            else {
                $("#isMain").hide();
            }
        }

        //提交
        function AddSessionID()
        {
            var jsonStrZJ = "";
            jsonStrZJ = sessionStorage.ImtimelyShopZJ;
            if (jsonStrZJ != undefined && jsonStrZJ != "" && jsonStrZJ != "[]") {
                items = eval(jsonStrZJ);
                var pidsAndCnt ="";
                var pids = "";
                for (var i in items) {
                    pidsAndCnt+=pidsAndCnt+items[i].PID+","+items[i].Pcount+"|";
                    pids+=pids+items[i].PID+"|";
                }
                $("#HPIDSandCnt").val(pidsAndCnt);
                $("#HPIDS").val(pids);
                var UID = GetUserID(@ViewBag.AMID);
                $("#HuserID").val(UID);
            }
        }


    </script>
}
<div id="isMain" data-role="content" style="display: ">
    @using (Html.BeginForm("ADDOrder", "MicroMall", new { AMID = ViewBag.AMID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table align="center" class="MainTab" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <div id="address" style="border-radius: 5px; padding: 8px 8px; border: 1px solid #dbdbdb;
                        cursor: pointer; min-height: 40px; display: none; background-image: URL(/Images/arrowgrey02-right.png);
                        background-position: right; background-repeat: no-repeat; background-attachment: inherit;">
                        <div>
                            <input type="hidden" id="AID" />
                            收件人：<span id="AName"></span> <span style="color: #7B7B7B" id="APhone"></span>
                        </div>
                        <div style="line-height: 18px; margin-top: 8px; width: 80%">
                            <span id="AAddress"></span>
                        </div>
                    </div>
                    <div id="Noaddress" style="border-radius: 5px; padding: 8px 8px; border: 1px solid #dbdbdb;
                        cursor: pointer; min-height: 50px; display: none">
                        <div style="text-align: center; font-size: 16px; padding-top: 15px; color: #FF7F00">
                            点击添加新地址
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table align="center" class="MainTab" cellpadding="0" cellspacing="0">
            <tr>
                <td style="">
                    <div style="padding: 8px 8px; border: 1px solid #dbdbdb; border-radius: 5px;">
                        快递：￥00.00元
                    </div>
                </td>
            </tr>
        </table>
        <table align="center" class="MainTab" cellpadding="0" cellspacing="0">
            <tr>
                <td style="">
                    <div style="padding: 8px 8px; border: 1px solid #dbdbdb; border-radius: 5px;">
                        支付宝
                    </div>
                </td>
            </tr>
        </table>
        <table align="center" class="MainTab" cellpadding="0" cellspacing="0">
            <tr id="SessionInfo">
                <td style="">
                    商品详情
                    <input type="hidden" id="HPIDSandCnt" /><input type="hidden" id="HPIDS" /><input
                        type="hidden" id="HuserID" />
                </td>
            </tr>
            <tr>
                <td style="font-size: 14px; text-align: right; height: 35px">
                    应付金额：￥<span id="amount" style="color: Red; font-weight: bold">0</span>
                </td>
            </tr>
        </table>
        
     
        <input id="addorder" onclick="AddSessionID()" type="submit" value="提交订单" data-corners="false"
            data-theme="e" data-ajax="false">
    }
</div>
<script>
    GetSessionStor();
</script>
