@{
    ViewBag.Title = "ProductListZ";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section head{
    <script src="@Url.Content("~/Scripts/waterfall/jquery.infinitescroll.min.js")"
        type="text/javascript"></script>
    <link href="@Url.Content("~/Content/blocksit.css")" rel="stylesheet" type="text/css" />
    <script>

        $(function () {

           

            item_callback();

            var sp = 1
            $('#container').BlocksIt({
                numOfCol: 5,
                offsetX: 5,
                offsetY: 5
            });


            //window resize
            var currentWidth = 1100;
            $(window).resize(function () {
                 $("#infscr-loading").hide();
                var winWidth = $(window).width();
                var conWidth;
                if (winWidth < 440) {
                    conWidth = 305;
                    col = 2
                } else if (winWidth < 660) {
                    conWidth = 440;
                    col = 2
                } else if (winWidth < 880) {
                    conWidth = 660;
                    col = 3
                } else if (winWidth < 1100) {
                    conWidth = 880;
                    col = 4;
                } else {
                    conWidth = 1100;
                    col = 5;
                }

                if (conWidth != currentWidth) {
                    currentWidth = conWidth;
                    $('#container').width(conWidth);
                    $('#container').BlocksIt({
                        numOfCol: col,
                        offsetX: 5,
                        offsetY: 5
                    });
                }
            });



            $('.grid2').fadeIn();
            var sp = 1
            $(".infinite_scroll").infinitescroll({
                navSelector: "#more",
                nextSelector: "#more a",
                itemSelector: ".grid2",
                animate: false,
                maxPage: @ViewBag.pageCount,
                loading: {
                    img: "/Images/Loading.gif",
                    finished: function () {
                        sp++;
                        if (sp > @ViewBag.pageCount) {
                            $("#infscr-loading").hide();
                            $(".loadOK").show();
                        }
                        aaa();
                    }
                },
                errorCallback: function () {

                }

            }, function (newElements) {
                var $newElems = $(newElements);
                $('.infinite_scroll').masonry('appended', $newElems, false);
                $newElems.fadeIn();
                 
                return;
            });




            $("#infscr-loading").hide();


            $(window).resize();

            setTimeout("aaa()", 1000);
        });


         function item_callback() {
                $(window).resize();
                $('.grid2').mouseover(function () {
                    $(this).css('box-shadow', '0 1px 5px rgba(35,25,25,0.5)');
                    $('.btns', this).show();
                }).mouseout(function () {
                    $(this).css('box-shadow', '0 1px 3px rgba(34,25,25,0.2)');
                    $('.btns', this).hide();
                });

            }

        function aaa() {
            $("#infscr-loading").hide();
            var winWidth = $(window).width();
            var conWidth;
            if (winWidth < 440) {
                col = 2
            } else if (winWidth < 660) {

                col = 2
            } else if (winWidth < 880) {

                col = 3
            } else if (winWidth < 1100) {

                col = 4;
            } else {

                col = 5;
            }


            $('#container').BlocksIt({
                numOfCol: col,
                offsetX: 5,
                offsetY: 5
            });

        }
    </script>
}
@model PagedList<Poco.Product>
<div data-role="content" style="padding-top: 0px; padding-left: 0px; padding-right: 0px;">
    <div id="container" style="padding-left: 0px" class="infinite_scroll">
        @foreach (var item in Model)
        {
            <div class="grid2">
                <div class="imgholder">
                    @if (item.ProductImg.FirstOrDefault() != null)
                    {
                        if (string.IsNullOrEmpty(item.ProductImg.FirstOrDefault().PImgOriginal))
                        { 
                        <img style=" border:1px solid #deedde" src="@Url.Content("~/Images/nopicture.png")" />
                        }
                        else
                        { 
                        <img style=" border:1px solid #deedde"  src="@Url.Content(item.ProductImg.FirstOrDefault().PImgOriginal)" />
                        }
                    }
                    else
                    { 
                        <img style=" border:1px solid #deedde"   src="@Url.Content("~/Images/nopicture.png")" />
                    }
                </div>
                <div class="title">
                    <span>@item.Name</span>
                </div>
                <div class="bottom">
                    ￥@item.Price
                </div>
            </div>
            <!--item end-->
        }
        <div id="more">
        <a href="ProductListItemZ?TypeID=@ViewBag.TypeID&AMID=@ViewBag.AMID&page=1"></a>
    </div>
    </div>
    
    <div class="loadOK" style="display: none;">
        全部加载完成
    </div>
</div>
