@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var ip = Poco.SystemConst.WebUrlIP;
}
@section head{
    <link href="@Url.Content("~/Scripts/royalslider/royalslider.css")" rel="stylesheet"
        type="text/css" />
    <script src="@Url.Content("~/Scripts/royalslider/royalslider.min.js")" type="text/javascript"></script>
    <style>
        body
        {
            margin: 0px;
        }
        .visibleNearby
        {
            width: 100%;
            background: #141414;
            color: #FFF;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .visibleNearby .rsGCaption
        {
            font-size: 16px;
            line-height: 18px;
            padding: 12px 0 16px;
            background: #141414;
            width: 100%;
            position: static;
            float: left;
            left: auto;
            bottom: auto;
            text-align: center;
        }
        .visibleNearby .rsGCaption span
        {
            display: block;
            clear: both;
            color: #bbb;
            font-size: 14px;
            line-height: 22px;
        }
        
        /* Scaling transforms */
        .visibleNearby .rsSlide img
        {
            border-radius: 5px;
            opacity: 0.45;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            -webkit-transform: scale(0.9);
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -o-transform: scale(0.9);
            transform: scale(0.9);
        }
        .visibleNearby .rsActiveSlide img
        {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
        
        .spanSize > span > span
        {
            font-size: 13px;
        }
        
        .divIntroduction
        {
            margin-top: 5px;
            font-size: 14px;
            color: #7B7B7B;
        }
        .divIntroduction img
        {
            max-width: 100%;
        }
        .divIntroduction p
        {
            margin: 0px;
        }
    </style>
    <script>

        function OptintModel() {
            var it = new Object;
            it.PID = "";
            it.PName = "";
            it.PPrive = 0;
            it.PFreight = 0;
            it.PImage = "";
            it.Pcount = 0;
            return it;
        }
        var items = [];



        $(function () {
            royal();


            $("#add").click(function () {

                var number = $("#txtNumber").val();
                if (number != "" && number != undefined) {
                    $("#txtNumber").val(parseInt(number) + 1);
                }
                else {

                    $("#txtNumber").val("0");
                }
            });

            $("#delete").click(function () {
                var number = $("#txtNumber").val();
                if (number != "" && number != undefined) {
                    if (number == 0) {
                        $("#txtNumber").val("0");
                    }
                    else {
                        $("#txtNumber").val(parseInt(number) - 1);
                    }
                }
                else {
                    $("#txtNumber").val("0");
                }
            });

            $("#txtNumber").keyup(function () {
                var tmptxt = $(this).val();
                $(this).val(tmptxt.replace(/\D|^0/g, ''));
            }).bind("paste", function () {
                var tmptxt = $(this).val();
                $(this).val(tmptxt.replace(/\D|^0/g, ''));
            }).css("ime-mode", "disabled");


            $(".rsVisibleNearbyWrap").attr("style", "width:100%");

            $(window).resize(function () {
                royal();

            });

            $(window).resize();
        });


        function royal() {
            var si = $('#royalSlider').royalSlider({
                addActiveClass: true,
                arrowsNav: false,
                controlNavigation: 'none',
                autoScaleSlider: true,
                autoScaleSliderWidth: 1024,
                autoScaleSliderHeight: 640,
                loop: false,
                fadeinLoadedSlide: false,
                globalCaption: true,
                keyboardNavEnabled: true,
                globalCaptionInside: true,

                visibleNearby: {
                    enabled: true,
                    centerArea: 0.7,
                    center: true,
                    breakpoint: 100,
                    breakpointCenterArea: 1,
                    navigateByCenterClick: true
                }
            });

        }

        //添加到购物车
        function JoinCart() {
            var PID = $("#PID").val();
            var PName = $("#PName").val();
            var PPrive = $("#PPrive").val();
            var PFreight = $("#PFreight").val();
            var PImage = $("#PImage").val();
            var Pcount = $("#txtNumber").val();

            var jsonStr = "";
            jsonStr = localStorage.ImtimelyCartShop;

            if (jsonStr != undefined && jsonStr != "" && jsonStr != "[]") {

                var J = false;
                items = eval(jsonStr);
                //循环判断是否有重复商品
                for (var i in items) {

                    //有重复数据只增加数量
                    if (items[i].PID == PID) {

                        items[i].Pcount = parseInt(items[i].Pcount) + parseInt(Pcount);
                        items[i].PPrive = PPrive;
                        items[i].PName = PName;
                        items[i].PFreight = PFreight;
                        items[i].PImage = PImage;
                        J = true;
                    }
                }
                //没有重复数据
                if (!J) {

                    var Cart = new OptintModel();
                    Cart.PID = PID;
                    Cart.PName = PName;
                    Cart.PPrive = PPrive;
                    Cart.PFreight = PFreight;
                    Cart.PImage = PImage;
                    Cart.Pcount = Pcount;
                    items.unshift(Cart);
                    jsonStr = JSON.stringify(items);
                }
                //有重复数据
                else {
                    jsonStr = JSON.stringify(items);
                }

            }
            //第一件商品
            else {

                items = [];
                var Cart = new OptintModel();
                Cart.PID = PID;
                Cart.PName = PName;
                Cart.PPrive = PPrive;
                Cart.PFreight = PFreight;
                Cart.PImage = PImage;
                Cart.Pcount = Pcount;
                items.push(Cart);
                jsonStr = JSON.stringify(items);
            }

            localStorage.ImtimelyCartShop = jsonStr; // 设置storage


        }

        function instantly() {
            var PID = $("#PID").val();
            var PName = $("#PName").val();
            var PPrive = $("#PPrive").val();
            var PFreight = $("#PFreight").val();
            var PImage = $("#PImage").val();
            var Pcount = $("#txtNumber").val();
            if (Pcount <= 0) {
                showMsg("请选择数量！");
                return false;
            }
            var JZitems = [];
            var Cart = new OptintModel();
            Cart.PID = PID;
            Cart.PName = PName;
            Cart.PPrive = PPrive;
            Cart.PFreight = PFreight;
            Cart.PImage = PImage;
            Cart.Pcount = Pcount;
            JZitems.push(Cart);

            var jsonStrZJ = JSON.stringify(JZitems);

            sessionStorage.ImtimelyShopZJ = jsonStrZJ;
        }

    </script>
}
@model Poco.Product
<div id="royalSlider" class="visibleNearby" style="background-color: #5C5C5C">
    <!-- simple image slide -->
    @if (Model.ProductImg.FirstOrDefault() != null)
    {
        foreach (var item in Model.ProductImg)
        {
            if (!string.IsNullOrEmpty(item.PImgOriginal))
            { 
        <img class="imgs" src="@Url.Content(item.PImgOriginal,true)" />
            }
        }

    }
    else
    { 
        <img class="imgs" src="@Url.Content("~/Images/nopicture.png")" />
    }
    <!-- lazy loaded image slide -->
    <!--<a class="rsImg" href="image.jpg">image desc</a>-->
</div>
<div style="width: 95%; margin: 25px auto;">
    <input id="PID" type="hidden" value="@Model.ID" />
    <input id="PName" type="hidden"  value="@Model.Name" />
    <input id="PPrive" type="hidden"  value="@Model.Price" />
    <input id="PFreight" type="hidden"  value="@Model.Freight" />
    @if (Model.ProductImg.FirstOrDefault() != null)
    {

        if (!string.IsNullOrEmpty(Model.ProductImg.FirstOrDefault().PImgMini))
        { 
            
        <input id="PImage" type="hidden"  value="@Url.Content(Model.ProductImg.FirstOrDefault().PImgMini,true)" />
        }
        else
        { 
        <input id="PImage" type="hidden"  value="@Url.Content("~/Images/nopicture.png")" />
        }

    }
    else
    { 
        <input id="PImage" type="hidden"  value="@Url.Content("~/Images/nopicture.png")" />
    }
    <div style="line-height: 25px">
        @Model.Name
    </div>
    <div style="margin-top: 10px;">
        价格：
        @if (Model.Status == (int)Poco.Enum.EnumProductType.Shortages)
        {
            <span style="color: #6E6E6E">(缺货)</span>
        }
        else if (Model.Status == (int)Poco.Enum.EnumProductType.OffShelves)
        {
            <span style="color: #6E6E6E">(已下架)</span>
        }
        else
        {
                           
            <span style="color: Red; font-weight: bold">@Model.Price.ToString("C")</span>
        }
    </div>
    <div style="margin-top: 5px; font-size: 12px; color: #8E8E8E">
        运费：快递￥@Model.Freight
    </div>
    <div style="margin: 15px 0px; height: 3px; width: 100%; background: url(@Url.Content("~/Images/item_line.png")) repeat-x;">
    </div>
    <div class="ui-icon-nodisc" style="height: 50px">
        <table>
            <tr>
                <td>
                    数量：
                </td>
                <td>
                    <a href="#" id="delete" data-role="button" data-iconpos="notext" data-icon="minus"
                        data-theme="a" data-inline="true" data-iconshadow="false"></a>
                </td>
                <td style="width: 50px">
                    <input id="txtNumber" type="tel" data-clear-btn="false" value="1" />
                </td>
                <td>
                    <a href="#" id="add" data-role="button" data-iconpos="notext" data-icon="plus" data-theme="a"
                        data-inline="true" data-iconshadow="false"></a>
                </td>
            </tr>
        </table>
    </div>
    <div style="margin: 15px 0px; height: 3px; width: 100%; background: url(@Url.Content("~/Images/item_line.png")) repeat-x;">
    </div>
    <div style="">
        <table align="center" style="width: 100%">
            <tr>
                @if (Model.Status == (int)Poco.Enum.EnumProductType.Shortages)
                {
                    
                    <td>
                        <a href="#popupDialog" class="ui-btn-b" style="background-color: #FF8C00; text-shadow: 0 1px 0 #FF8C00;
                            color: #fff" data-role="button" data-position-to="window" data-transition="pop"
                            data-rel="popup" data-corners="false" onclick="JoinCart()">加入购物车</a>
                        <div id="popupDialog" style="width: 300px" data-role="popup" data-theme="b" data-overlay-theme="b"
                            data-dismissible="false">
                            <div class="ui-corner-bottom ui-content" data-role="content" data-theme="b">
                                <div class="ui-content" style="text-align: center; min-height: 30px">
                                    已成功加入购物车
                                </div>
                                <a href="#" data-role="button" class="spanSize" style="font-weight: normal; width: 32%"
                                    data-rel="back" data-theme="b" data-inline="true" data-corners="false">再逛逛</a>
                                <a href="@Url.Action("ShoppingCart", "MicroMall", new { AMID = ViewBag.AMID })" class="spanSize" style="
                                font-weight: normal;; width:32%" data-role="button" data-transition="flow" data-theme="b"
                                    data-inline="true" data-corners="false" data-ajax="false">去结算</a>
                            </div>
                        </div>
                    </td>
                    
                }
                else if (Model.Status == (int)Poco.Enum.EnumProductType.OffShelves)
                {
                    <td>
                        <a class="ui-disabled" href="#" data-role="button" data-corners="false" data-ajax="false">
                            产品已下架</a>
                    </td>
                }
                else
                {
                    <td style="width: 49%;">
                        <a href="#popupDialog" class="ui-btn-b" style="background-color: #FF8C00; text-shadow: 0 1px 0 #FF8C00;
                            color: #fff" data-role="button" data-position-to="window" data-transition="pop"
                            data-rel="popup" data-corners="false" onclick="JoinCart()">加入购物车</a>
                        <div id="popupDialog" style="width: 300px" data-role="popup" data-theme="b" data-overlay-theme="b"
                            data-dismissible="false">
                            <div class="ui-corner-bottom ui-content" data-role="content" data-theme="b">
                                <div class="ui-content" style="text-align: center; min-height: 30px">
                                    已成功加入购物车
                                </div>
                                <a href="#" data-role="button" class="spanSize" style="font-weight: normal; width: 32%"
                                    data-rel="back" data-theme="b" data-inline="true" data-corners="false">再逛逛</a>
                                <a href="@Url.Action("ShoppingCart", "MicroMall", new { AMID = ViewBag.AMID })" class="spanSize" style="
                                font-weight: normal;; width:32%" data-role="button" data-transition="flow" data-theme="b"
                                    data-inline="true" data-corners="false" data-ajax="false">去结算</a>
                            </div>
                        </div>
                    </td>
                    <td>
                    </td>
                    <td style="width: 49%;">
                        <a onclick="return instantly()" style=" background-color:#FF3030; text-shadow:0 1px 0 #FF3030 ; color:#fff" href="@Url.Action("OrderConfirmation", "MicroMall", new { AMID = ViewBag.AMID })" data-role="button" data-corners="false" data-ajax="false">
                            立即购买</a>
                    </td>
                }
            </tr>
        </table>
    </div>
    <div style="margin: 15px 0px; height: 3px; width: 100%; background: url(@Url.Content("~/Images/item_line.png")) repeat-x;">
    </div>
    <div style="">
        商品详情
    </div>
    <div class="divIntroduction">
        @Html.Raw(Model.Introduction)
    </div>
    @if (Model.ProductImg.FirstOrDefault() != null && string.IsNullOrEmpty(Model.ProductImg.FirstOrDefault().PImgMini) == false)
    {
        <input type="hidden" name="hidProductImage" value="@Url.Content(Model.ProductImg.FirstOrDefault().PImgMini)" />
    }
    else
    {
        <input type="hidden" id="hidProductImage" value="@ip@Url.Content("~/Images/nopicture.png")" />
    }
</div>
