@{
    ViewBag.Title = "ProductListItem";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section head{
}
@model PagedList<Poco.Product>
@foreach (var item in Model)
{
    <div class="item masonry_brick" onclick="OpenUrl(@item.ID)">
        <div class="item_t">
            <div class="imgDiv">
                <a href="#">
                    @if (item.ProductImg.FirstOrDefault() != null)
                    {
                        if (string.IsNullOrEmpty(item.ProductImg.FirstOrDefault().PImgOriginal))
                        { 
                        <img class="imgs" src="@Url.Content("~/Images/nopicture.png")" />
                        }
                        else
                        { 
                        <img class="imgs" src="@Url.Content(item.ProductImg.FirstOrDefault().PImgOriginal,true)" />
                        }
                    }
                    else
                    { 
                        <img class="imgs" src="@Url.Content("~/Images/nopicture.png")" />
                    }
                </a>
            </div>
            <div class="title">
                <span>@item.Name</span>
            </div>
            <div class="bottom">
                @if (item.Status == (int)Poco.Enum.EnumProductType.Shortages)
                {
                    <span style="color: #6E6E6E">(缺货)</span>
                }
                else if (item.Status == (int)Poco.Enum.EnumProductType.OffShelves)
                {
                     <span style="color: #6E6E6E">(已经下架)</span>
                }
                else
                {
                    @item.Price.ToString("C")
                }
            </div>
        </div>
    </div>
    <!--item end-->
}