@{
    ViewBag.Title = "ShopIndex";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section head{
    <script type="text/javascript">
         var color= ["#66CDAA","#AB82FF","#5CACEE","#EEB422","#FF8247"];
         var colorIndex=0;
        $(function () {
            $('.BlocksIt').BlocksIt({
                numOfCol: 1,
                offsetX: 0,
                offsetY: 8

            });

            //控制颜色
            $(".MainTab").each(function(){
                $(this).attr("style","background-color:"+color[colorIndex]);
                colorIndex=colorIndex+1;
                if(colorIndex>4)
                {
                colorIndex=0;
                }
            });


        });


        function OpenUrl(ID) {
            var Url = "@Url.Action("ProductList", "MicroMall", new { AMID = ViewBag.AMID })";
            var Href = Url+"&TypeID=" + ID;
            window.location.href = Href;

        }

       


       
    </script>
    <style>
        .MainTab
        {
            width: 100%;
            height: 135px;
        }
        
        .MainTab td
        {
            cursor: pointer;
        }
        .TitDIVLeft
        {
            text-shadow: none;
            color: #ffffff;
            padding-left: 10px;
            font-weight: bold;
            font-size: 14px;
        }
        
        .RemDIVLeft
        {
            text-shadow: none;
            color: #ffffff;
            padding-left: 10px;
            font-size: 12px;
        }
        .TitDIVRight
        {
            text-shadow: none;
            color: #ffffff;
            padding-right: 10px;
            font-weight: bold;
            font-size: 14px;
            text-align: right;
        }
        
        .RemDIVRight
        {
            text-shadow: none;
            color: #ffffff;
            padding-right: 10px;
            font-size: 12px;
            text-align: right;
        }
        .ImgDIV
        {
            width: 100%;
            height: 135px;
            background-color: #ffeedd;
            overflow: hidden;
            max-width:300px;
        }
        .ShowImg
        {
            width: 100%;
            
            min-height: 135px;
        }
        .grid
        {
            width: 100% !important;
        }
    </style>
}
@model List<Poco.Classify>
<div data-role="content" style="padding-top: 0px">
    <div class="BlocksIt">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <div class="grid">
                <table  class="MainTab" cellpadding="0" cellspacing="0" onclick="OpenUrl(@Model[i].ID)">
                    <tr>
                        <td style="width: 30%;">
                            <div class="TitDIVLeft">
                                @Model[i].Name
                            </div>
                            <div class="RemDIVLeft">
                                @Model[i].Depict
                            </div>
                        </td>
                        <td style="width: 70%;" align="right">
                            <div class="ImgDIV">
                                @if (string.IsNullOrEmpty(Model[i].ImgPath))
                                { 
                                    <img class="ShowImg" src="@Url.Content("~/Images/nopicture.png")" />
                                }
                                else
                                { 
                                    <img class="ShowImg" src="@Url.Content(Model[i].ImgPath)" />
                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            i++;
            if (i < Model.Count())
            { 
            <div class="grid">
                <table class="MainTab" cellpadding="0" cellspacing="0" onclick="OpenUrl(@Model[i].ID)">
                    <tr>
                        <td style="width: 70%;">
                            <div class="ImgDIV">
                                @if (string.IsNullOrEmpty(Model[i].ImgPath))
                                { 
                                    <img class="ShowImg" src="@Url.Content("~/Images/nopicture.png")" />
                                }
                                else
                                { 
                                    <img class="ShowImg" src="@Url.Content(Model[i].ImgPath)" />
                                }
                            </div>
                        </td>
                        <td style="width: 30%;" align="right">
                            <div class="TitDIVRight">
                                @Model[i].Name
                            </div>
                            <div class="RemDIVRight">
                                @Model[i].Depict
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            
            }

        }
    </div>
</div>
