@{
    ViewBag.Title = "购物车";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section head{
    <link href="@Url.Content("~/Scripts/ICheck/flat/orange.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/ICheck/icheck.js")" type="text/javascript"></script>
    <style>
        .Atype > span > span
        {
            font-size: 14px;
            font-weight: normal;
        }
        
        .MainTab
        {
            width: 100%;
            min-height: 134px;
            border: 1px solid #dbdbdb;
            box-shadow: 2px 2px 10px #909090;
            line-height: 18px;
            background-color: #fff;
            margin-bottom: 15px;
            font-size: 13px;
        }
        
        .MainTab td
        {
            border-top: 1px solid #dbdbdb;
            padding: 0px 8px;
        }
        .MainTab tr:first-child td
        {
            border-top: 0px;
            padding: 2px 8px;
        }
        
        /*--------暂不支持货到付款-----------*/
        .Nodelivery
        {
            float: right;
            color: #FFA042;
        }
        .Pimg
        {
            width: 70px;
            height: 70px;
            overflow: hidden;
            float: left;
        }
        .Pname
        {
            padding-left: 80px;
            font-size: 13px;
        }
        .price
        {
            padding-left: 80px;
            font-size: 13px;
            padding-top: 8px;
        }
        .onePrice
        {
            color: Red;
            font-weight: bold;
        }
        .tdDelete
        {
            background-color: #ebebeb;
            font-size: 14px;
            text-align: right;
            height: 50px;
        }
        .zf div
        {
            width: 100%;
            text-align: center;
        }
    </style>
    <script>

        function OptintModel() {
            var it = new Object;
            it.PID = "";
            it.PName = "";
            it.PPrive = 0;
            it.PFreight = 0;
            it.PImage = "";
            it.Pcount = 0;
            return it;
        }
        var items = [];

        $(function () {

            $('#ckbAll').iCheck({
                checkboxClass: 'icheckbox_flat-orange',
                radioClass: 'iradio_square-Orange',
                increaseArea: '20%' // optional
            });
            $('.ckb').iCheck({
                checkboxClass: 'icheckbox_flat-orange',
                radioClass: 'iradio_square-red',
                increaseArea: '20%' // optional
            });

            $(".txtNumber").keyup(function () {
                var tmptxt = $(this).val();
                $(this).val(tmptxt.replace(/\D|^0/g, ''));
                if ($(this).val() == "" || $(this).val() == undefined) {
                    $(this).val(0);
                }
                var zj = $("#zj").text();
                var YJ = $(this).parent().next().find("span").text();
                var DJ = $(this).next().val();
                var XJ = parseInt(DJ) * parseInt($(this).val());
                zj = parseInt(zj) - parseInt(YJ) + parseInt(XJ);
                var ID = $(this).attr("id").split('_')[1];
                $(this).parent().next().find("span").text(XJ);

                if ($("#ckb_" + ID).attr("checked") == "checked") {
                    $("#zj").text(zj);
                }
                //设置local
                var jsonStr = "";
                jsonStr = localStorage.ImtimelyCartShop;

                if (jsonStr != undefined && jsonStr != "" && jsonStr != "[]") {
                    items = eval(jsonStr);
               
                    for (var i in items) {
                   
                        if (items[i].PID == ID) {
                            items[i].Pcount=$(this).val();
                            break;
                        }
                    }
                    jsonStr = JSON.stringify(items);
                   
                }

                localStorage.ImtimelyCartShop = jsonStr; // 设置storage



            }).bind("paste", function () {
                var tmptxt = $(this).val();
                $(this).val(tmptxt.replace(/\D|^0/g, ''));
                if ($(this).val() == "" || $(this).val() == undefined) {
                    $(this).val(0);
                }
                var zj = $("#zj").text();
                var YJ = $(this).parent().next().find("span").text();
                var DJ = $(this).next().val();
                var XJ = parseInt(DJ) * parseInt($(this).val());
                zj = parseInt(zj) - parseInt(YJ) + parseInt(XJ);
                var ID = $(this).attr("id").split('_')[1];
                $(this).parent().next().find("span").text(XJ);

                if ($("#ckb_" + ID).attr("checked") == "checked") {
                    $("#zj").text(zj);
                }

                 //设置local
                var jsonStr = "";
                jsonStr = localStorage.ImtimelyCartShop;

                if (jsonStr != undefined && jsonStr != "" && jsonStr != "[]") {
                    items = eval(jsonStr);
               
                    for (var i in items) {
                   
                        if (items[i].PID == ID) {
                            items[i].Pcount=$(this).val();
                            break;
                        }
                    }
                    jsonStr = JSON.stringify(items);
                   
                }

                localStorage.ImtimelyCartShop = jsonStr; // 设置storage

            }).css("ime-mode", "disabled");



            //复选框事件

            $('#ckbAll').on('ifClicked', function (event) {
                //全不选
                if ($(this).attr("checked") == "checked") {
                    if($('.ckb').length>0)
                    {
                        $('.ckb').iCheck('uncheck');
                        $("#GoJS").addClass("ui-disabled");
                    }
                }
                //全选
                else {
                    if($('.ckb').length>0)
                    {
                        $('.ckb').iCheck('check');
                        $("#GoJS").removeClass("ui-disabled");
                    }
                }


            });

            //复选 单独选项
            $('.ckb').on('ifChanged', function (event) {
                if(event.type=="ifChanged")
                {
                    var zj = $("#zj").text();
                    var id = $(this).val();
                    var number = $("#num_" + id).val();
                    var DJ = $("#Price_" + id).val();
                    var price = parseInt(number) * parseInt(DJ);

                    //选中
                    if ($(this).attr("checked") == "checked") {
                        $("#GoJS").removeClass("ui-disabled");
                        if ($('.checked').length == $('.ckb').length - 1) {
                            $('#ckbAll').iCheck('check');
                        }
                        $("#zj").text(parseInt(zj) + parseInt(price))


                    }
                    //取消选择
                    else {

                        $('#ckbAll').iCheck('uncheck');

                        if ($('.checked').length == 1) {
                            $("#GoJS").addClass("ui-disabled");
                        }
                        $("#zj").text(parseInt(zj) - parseInt(price))
                    }
                }
            });



            ChickPriceOrStatus();

        });

        function OpenUrl(ID) {
            var Url = "@Url.Action("ProductInfo", "MicroMall", new { AMID = ViewBag.AMID })";
            var href = Url+"&PID=" + ID;
            window.location.href = href;

        }

        function GetCart() {

            var jsonStr = "";
            jsonStr = localStorage.ImtimelyCartShop;
            if (jsonStr != undefined && jsonStr != "" && jsonStr != "[]") {
                items = eval(jsonStr);
                var prices = 0;
                for (var i in items) {
                    var htmlSTR = '<table id="tab_' + items[i].PID + '" align="center" class="MainTab" cellpadding="0" cellspacing="0">'
                                + '    <tr>'
                                + '       <td style="height: 30px">'
                                + '            <div style="float: left">'
                                + '                <input type="checkbox" id="ckb_' + items[i].PID + '" value="' + items[i].PID + '" class="ckb"  checked="checked" data-role="none">'
                                + '                <span id="text_' + items[i].PID + '" style=" color:red; font-weight:boldf ;font-size:12px"></span>'
                                + '            </div>'
                                + '            <div class="Nodelivery">'
                                + '                暂不支持货到付款</div>'
                                + '            <div style="clear: both">'
                                + '            </div>'
                                + '        </td>'
                                + '    </tr>'
                                + '    <tr>'
                                + '        <td style="padding: 8px 8px">'
                                + '            <div class="Pimg" style="">'
                                + '                <img id="img_' + items[i].PID + '" onClick="OpenUrl(' + items[i].PID + ')" src="' + items[i].PImage + '" style="width: 100%; min-height: 70px; max-height: 70px; border-radius: 5px;cursor:pointer; " />'
                                + '            </div>'
                                + '            <div class="Pname">'
                                + '                 <span style="cursor:pointer" onClick="OpenUrl(' + items[i].PID + ')" data-role="none">'+items[i].PName+'</span>'
                                + '            </div>'
                                + '            <div class="price">'
                                + '                单价：<span class="onePrice" id="dj_' + items[i].PID + '">￥' + items[i].PPrive + '</span>'
                                + '            </div>'
                                + '            <div style="clear: both"> </div>'
                                + '        </td>'
                                + '    </tr>'
                                + '    <tr>'
                                + '        <td class="tdDelete">'
                                + '           <table align="right" cellpadding="0" cellspacing="0">'
                                + '                <tr>'
                                + '                    <td style="padding:2px 5px">'
                                + '                        <a href="#popupDialog_' + items[i].PID + '" data-position-to="window" data-transition="pop" data-rel="popup">'
                                + '                            <img style=" width:16px; " src="/Images/Dustbin.png" />'
                                + '                        </a>'
                                + '                        <div class="ui-corner-all" id="popupDialog_' + items[i].PID + '" style="width: 300px" data-role="popup"  data-overlay-theme="a" data-theme="c" data-dismissible="false">'
                                + '                            <div class="ui-corner-bottom ui-content" data-role="content" data-theme="b">'
                                + '                                <div style="min-height: 50px; text-align: center; margin-top: 20px">'
                                + '                                    你确定删除吗？'
                                + '                                </div>'
                                + '                                <a href="#"  data-role="button" class="spanSize" style="width: 32%; font-weight: normal;"  data-rel="back" data-theme="b" data-inline="true" data-corners="false">取消</a>'
                                + '                                 <a href="#" onclick="DeleteCart(' + items[i].PID + ')"  data-role="button" class="spanSize" style="width: 32%; font-weight: normal;"  data-rel="back" data-theme="b" data-inline="true" data-corners="false">删除</a>'
                                + '                            </div>'
                                + '                        </div>'
                                + '                    </td>'
                                + '                    <td style="padding:2px 5px">'
                                + '                        数量:'
                                + '                        <input id="num_' + items[i].PID + '" class="txtNumber" type="tel" value="' + items[i].Pcount + '" data-role="none" style="width: 30px" />'
                                + '                        <input  id="Price_' + items[i].PID + '" type="hidden" value="' + items[i].PPrive + '"/> '
                                + '                    </td>'
                                + '                    <td align="left" style="padding:2px 5px">'
                                + '                        共计:<span class="onePrice" id="zj_' + items[i].PID + '">￥' + parseInt(items[i].Pcount) * parseInt(items[i].PPrive) + '</span>'
                                + '                    </td>'
                                + '                </tr>'
                                + '            </table>'
                                + '        </td>'
                                + '    </tr>'
                                + '</table>';
                    $("#ProductInfo").append(htmlSTR);

                    prices = prices + parseInt(items[i].Pcount) * parseInt(items[i].PPrive)
                }

                $("#zj").text(prices);
            }
            else {
                $("#isMain").hide();
                $("#isnull").show();
            }



        }


        function ChickPriceOrStatus()
        {
            var jsonStr = "";
            jsonStr = localStorage.ImtimelyCartShop;
            if (jsonStr != undefined && jsonStr != "" && jsonStr != "[]") {
                var IDPriceStrs = "";//id,price|id,price 
                items = eval(jsonStr);
                for (var i in items) {
                    IDPriceStrs +=items[i].PID +","+items[i].PPrive +"|";
                }
               
                var PUrl = '@Url.Action("CheckPriceOrstatus", "MicroMall")';

                $.post(PUrl, { IDPriceStrs:IDPriceStrs}, function (result) {     
                    if(result!= undefined && result!=null && result!="[]"&& result!="null"&& result!="")
                    { 
                        for(var i in result)
                        {
                            //状态 0：正常 1：价格变化 2：产品缺货 3：产品下架
                            switch(result[i].Status)
                            {
                                case "0":
                                    $("#img_"+result[i].PID).attr("src",result[i].ImgPath);
                                  break;
                                case "1":
                                   
                                   $("#ckb_"+result[i].PID).iCheck('uncheck');
                                   $("#ckb_"+result[i].PID).attr("disabled","disabled");
                                   $("#ckb_"+result[i].PID).removeClass("ckb");
                                   $("#text_"+result[i].PID).text("商品价格改变");
                                   $("#dj_"+result[i].PID).text("商品价格改变 点击商品查看");
                                   $("#zj_"+result[i].PID).text("无");
                                   $("#num_"+result[i].PID).attr("disabled","disabled");
                                   $("#img_"+result[i].PID).attr("src",result[i].ImgPath);
                                  
                                  break;
                                case "2":
                                
                                   $("#ckb_"+result[i].PID).iCheck('uncheck');
                                   $("#ckb_"+result[i].PID).attr("disabled","disabled");
                                   $("#ckb_"+result[i].PID).removeClass("ckb");
                                   $("#text_"+result[i].PID).text("商品暂时缺货");
                                   $("#dj_"+result[i].PID).text("商品暂时缺货 点击商品查看");
                                   $("#zj_"+result[i].PID).text("无");
                                   $("#num_"+result[i].PID).attr("disabled","disabled");
                                   $("#img_"+result[i].PID).attr("src",result[i].ImgPath);
                                  break;
                                case "3":
                                
                                   $("#ckb_"+result[i].PID).iCheck('uncheck');
                                   $("#ckb_"+result[i].PID).attr("disabled","disabled");
                                   $("#ckb_"+result[i].PID).removeClass("ckb");
                                   $("#text_"+result[i].PID).text("商品已下架");
                                   $("#dj_"+result[i].PID).text("商品已下架 点击商品查看");
                                   $("#zj_"+result[i].PID).text("无");
                                   $("#num_"+result[i].PID).attr("disabled","disabled");
                                   $("#img_"+result[i].PID).attr("src",result[i].ImgPath);

                                  break;
                                case "4":
                                
                                   $("#ckb_"+result[i].PID).iCheck('uncheck');
                                   $("#ckb_"+result[i].PID).attr("disabled","disabled");
                                   $("#ckb_"+result[i].PID).removeClass("ckb");
                                   $("#text_"+result[i].PID).text("商品不存在");
                                   $("#dj_"+result[i].PID).text("商品不存在");
                                   $("#zj_"+result[i].PID).text("无");
                                   $("#num_"+result[i].PID).attr("disabled","disabled");
                                   $("#img_"+result[i].PID).attr("src",result[i].ImgPath);

                                  break;
                            }
                        }

                    }

                },"json");

            }
        }

        function DeleteCart(ID) {


            var jsonStr = "";
            jsonStr = localStorage.ImtimelyCartShop;

            if (jsonStr != undefined && jsonStr != "" && jsonStr != "[]") {
                items = eval(jsonStr);
                //循环判断是否有重复商品
                for (var i in items) {
                    //有重复数据只增加数量
                    if (items[i].PID == ID) {
                        var prices = parseInt(items[i].Pcount) * parseInt(items[i].PPrive)
                        $("#zj").text(parseInt($("#zj").text()) - parseInt(prices));
                        
                        $("#tab_" + ID).remove();
                        items.splice(i, 1);
                        
                       
                        break;
                    }
                }
                jsonStr = JSON.stringify(items);
                if (jsonStr == undefined || jsonStr == "" || jsonStr == "[]") {
                    $("#isMain").hide();
                    $("#isnull").show();
                }

            }

            localStorage.ImtimelyCartShop = jsonStr; // 设置storage

        }

        function GoCheckOut()
        {
            var IDS = [];
            $('.ckb').each(function (){
                if($(this).attr("checked")=="checked")
                {
                    IDS.push($(this).attr("id").split('_')[1]);
                }
            });

            var jsonStr = "";
            jsonStr = localStorage.ImtimelyCartShop;
            if (jsonStr != undefined && jsonStr != "" && jsonStr != "[]") {
                 items = eval(jsonStr);
                 var jsonStrZJ = "";
                 var JZitems = [];
                 for (var i in items) {
                    for (var j in IDS) {
                         if (items[i].PID == IDS[j]) {
                            var Cart = new OptintModel();
                            Cart.PID = items[i].PID;
                            Cart.PName = items[i].PName;
                            Cart.PPrive = items[i].PPrive;
                            Cart.PFreight = items[i].PFreight;
                            Cart.PImage = items[i].PImage;
                            Cart.Pcount = items[i].Pcount;
                            JZitems.push(Cart);
                            break;
                        }
                    }
                   
                }
                jsonStrZJ = JSON.stringify(JZitems);
                sessionStorage.ImtimelyShopZJ = jsonStrZJ; // 设置storage
                return true;
            }
            else
            {
                return false;
            }
        }


    </script>
}
<div id="isMain" data-role="content" style="display: ">
    <div id="ProductInfo">
    </div>
    <table align="center" class="MainTab" cellpadding="0" cellspacing="0" style="font-size: 14px">
        <tr>
            <td style="height: 30px">
                <fieldset class="zf" data-role="controlgroup" data-type="horizontal">
                    <table align="center" style="width: 100%">
                        <tr>
                            <td style="width: 50%;">
                                <input name="radio-choice-h-2" id="radio-choice-h-2a" type="radio" checked="checked"
                                    value="on">
                                <label for="radio-choice-h-2a">
                                    在线支付</label>
                            </td>
                            <td style="width: 50%;">
                                <input name="radio-choice-h-2" id="radio-choice-h-2b" type="radio" value="off" disabled="disabled">
                                <label for="radio-choice-h-2b">
                                    货到付款</label>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
        <tr>
            <td style="padding: 2px 0px">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <input type="checkbox" id="ckbAll" checked="checked" data-role='none' />
                            全选
                        </td>
                        <td>
                            总价： <span id="zj" style="color: Red"></span>
                        </td>
                        <td>
                            <a id="GoJS" onclick="return GoCheckOut()"  style=" background-color:#FF3030; text-shadow:0 1px 0 #FF3030 ; color:#fff" href="@Url.Action("OrderConfirmation", "MicroMall", new { AMID = ViewBag.AMID })" data-role="button" data-corners="false" data-ajax="false" >
                                去结算</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div id="isnull" style="display: none">
    <div style="text-align: center; width: 100%; margin-top: 15%;">
        <img src="@Url.Content("~/Images/ShoppingCart.png")" style=" max-width:300px; width:25%" />
    </div>
    <div style="text-align: center; font-size: 22px;">
        你的购物车里什么都没有
    </div>
    <div style="text-align: center; width: 100%">
        <a href="@Url.Action("ShopIndex", "MicroMall", new { AMID = ViewBag.AMID })" class="Atype" style="width:100px; margin: 10px auto;" data-role="button"
            data-corners="false"  data-ajax="false">去逛逛</a>
    </div>
</div>
<script>
    GetCart();
</script>
