@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Task;
}
@section head{
    <script type="text/javascript">

        $(function () {
            $("#BeginDate").datepicker({
                changeMonth: true,
                changeYear: true,
                minDate: new Date(),
                onSelect: function (selectedDate) {
                    $("#EndDate").datepicker("option", "minDate", selectedDate);
                    var v = (Date.parse(selectedDate) - (new Date())) / 1000 / 60 / 60 / 24;
                    if (v < 0) {
                        $("#EnumTaskStatusSel").val("1").change();
                    } else {
                        $("#EnumTaskStatusSel").val("0").change();
                    }
                }
            });

            $("#EnumTaskStatusSel").change(function () {
                $("#EnumTaskStatus").val($("#EnumTaskStatusSel").val());
            });

            $("#EndDate").datepicker({
                changeMonth: true,
                changeYear: true,
                onSelect: function (selectedDate) {
                    $("#BeginDate").datepicker("option", "maxDate", selectedDate);
                }
            });

            var tr_number = '@ViewBag.TaskRule_Number'.split(',');
            var tr_percent = '@ViewBag.TaskRule_Percent'.split(',');

            $("#TaskRuleID").change(function () {
                var id = $("#TaskRuleID").val();
                var type = 0;
                $.each(tr_number, function (i, n) {
                    if (id == n) {
                        type = 1; //表示数字
                    }
                });
                $.each(tr_percent, function (i, n) {
                    if (id == n) {
                        type = 2; //表示百分数
                    }
                });
                if (type == 0) {
                    $("#trQuantity").hide();
                } else if (type == 1) {
                    $("#trQuantity").show();
                } else if (type == 2) {
                    $("#trQuantity").show();
                }
            });
            $("#EnumTaskStatusSel").val("@Model.EnumTaskStatus").change();
            $("#TaskRuleID").change();
        });
    </script>
}
@model Poco.Task
<div class="title">
    指派任务</div>
<div class="body">
    @using (Ajax.BeginForm("Edit", "Task", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {        
        <fieldset>
            <legend>任务详细</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 任务规则
                    </td>
                    <td class="tdField">
                        @Html.DropDownListFor(a => a.TaskRuleID, ViewData["TaskRule"] as List<SelectListItem>, new { })
                        @Html.HiddenFor(a => a.CreateDate)@Html.HiddenFor(a => a.ID)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.TaskRuleID)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 任务描述
                    </td>
                    <td class="tdField">
                        @Html.TextAreaFor(a => a.TaskSpecification)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.TaskSpecification)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 执行人
                    </td>
                    <td class="tdField">
                        @Html.DropDownListFor(a => a.ReceiverAccountID, ViewData["AccountList"] as List<SelectListItem>, new { })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.ReceiverAccountID)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 开始时间
                    </td>
                    <td class="tdField">
                        <input type="text" readonly="readonly" value="@Model.BeginDate.ToString("yyyy-MM-dd")" name="BeginDate" id="BeginDate" />
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.BeginDate)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 结束时间
                    </td>
                    <td class="tdField">
                        <input type="text" readonly="readonly" value="@Model.EndDate.ToString("yyyy-MM-dd")" name="EndDate" id="EndDate" />
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.EndDate)
                    </td>
                </tr>
                <tr id="trQuantity" style="display: none">
                    <td class="tdTitle">
                        <span class="Identification">*</span>完成额
                    </td>
                    <td class="tdField">
                        @Html.TextBoxFor(a => a.Quantity)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Quantity)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 状态
                    </td>
                    <td class="tdField">
                        <select name="EnumTaskStatusSel" id="EnumTaskStatusSel" disabled="disabled">
                            <option value="0">未开始</option>
                            <option value="1">执行中</option>
                            <option value="2">任务完成</option>
                            <option value="3">任务未完成</option>
                            <option value="4">任务取消</option>
                        </select>
                        <input type="hidden" name="EnumTaskStatus" value="0" id="EnumTaskStatus" />
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" style="margin-right: 20px" /><input type="button" value="返回" onclick="location.href='@ViewBag.RawUrl'" class="button" />
        </div>
    }</div>
