@{
  
    Layout = "~/Views/Shared/_LayoutUser.cshtml"; 
    ViewBag.Menu = Poco.SystemConst.Menu.UserManage;
}
@section head{
    <script>
        $(function () {
            $("#accordion").accordion();
            $(".ui-accordion-content").css("height", "auto");
        });

        //点击user事件
        function ChickUser(accountID, groupID) {

            var url = '@Url.Action("SalesUserList", "SalesMessage", new { HostName = ViewBag.HostName })' + "/1?accountID=" + accountID + "&GruopID=" + groupID;
            $("#iframeUsers").attr("src",url);
        }

    </script>
    <style>
        .ListTab
        {
            margin-top: 15px;
            line-height: 25px;
            border-top: 1px solid #E7E7E7;
            border-left: 1px solid #E7E7E7;
        }
        .ListTab th
        {
            font-size: 14px;
            border-bottom: 1px solid #E7E7E7;
            border-right: 1px solid #E7E7E7;
        }
        .ListTab td
        {
            font-size: 14px;
            border-bottom: 1px solid #E7E7E7;
            border-right: 1px solid #E7E7E7;
        }
    </style>
}
@model IList<Poco.Account>
<div class="title">
    销售与客户管理</div>
<div class="bodyLeft">
    <div id="accordion">
        @foreach (var item in Model)
        {
            <h3>
                @item.Name</h3>
            <div>
                <table cellpadding="0" cellspacing="0" border="0" style="line-height: 20px; margin-left: 10px">
                    @foreach (var Gitem in item.Groups)
                    {
                        <tr>
                            <td>
                                <a onclick="ChickUser('@item.ID','@Gitem.ID')">@Gitem.GroupName</a>
                            </td>
                        </tr>   
                    }
                </table>
            </div>
        }
    </div>
</div>
<div class="bodyRight">
    <iframe id="iframeUsers" src="" style="width:720px; height: 660px; border: none;
        overflow: hidden"></iframe>
</div>
<div style="clear: both">
</div>
