@{
    ViewBag.Title = "修改系统账号";
    Layout = "~/Views/Shared/_LayoutSystemUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.SystemUser;
}
@section head{
    <script type="text/javascript">
        var isTrue = true;
        $(function () {
            $("#btnUpload").click(function () {
                $("#HeadImagePathFile").click();
            });
            $("#HeadImagePathFile").change(function () {
                var fileName = $("#HeadImagePathFile").val();
                var suffix = fileName.substring(fileName.lastIndexOf('.')).toLowerCase();
                $("span[data-valmsg-for='HeadImagePath']").empty().attr("class", "field-validation-valid");
                switch (suffix) {
                    case ".jpg":
                    case ".jpeg":
                    case ".png":
                    case ".gif":
                    case ".bmp":
                        break;
                    default:
                        $("span[data-valmsg-for='HeadImagePath']").text("支持下列图片格式：.jpg|.jpeg|.png|.gif|.bmp").attr("class", "field-validation-error");
                        break;
                }
                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#imgLogo").attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
                return false;
            });
            $("#LoginPwdPage,#LoginPwdPageCompare").val('@Common.DESEncrypt.Decrypt(Model.LoginPwd)');



            //唯一验证
            $("#Email").blur(function () {

                var values = $("#Email").val();
                var ID = $("#ID").val();
                if (values != "" && values != undefined) {
                    var YZUrl = '@Url.Action("OnlyValidation", "Ajax", new { Area="",HostName="" })';
                    $.post(YZUrl, { tableName: "SystemUser", field: "Email", value: values, id: ID }, function (result) {
                        if (result == "True") {
                            isTrue = true;
                        }
                        else {
                            isTrue = false;
                            JAlert({
                                Message: "该邮箱已存在！请换个邮箱试试！",
                                DialogType: "Ok",
                                BtnOk: "确定"
                            });
                        }
                    });
                }

            });

            $("#btnSubmit").click(function () {
                if (!isTrue) {
                    JAlert({
                        Message: "该邮箱已存在！请换个邮箱试试！",
                        DialogType: "Ok",
                        BtnOk: "确定"
                    });
                }
                return isTrue;
            });




        });
    </script>
}
@model Poco.SystemUser
<div class="title">
    修改账号</div>
<div class="body">
    @using (Html.BeginForm("Edit", "SystemUser", new { Area = "System" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>账号信息</legend>
            <table>
                <tr>
                    <td>
                        头像
                    </td>
                    <td>
                        <img id="imgLogo" style="max-width: 80px; max-height: 80px; float: left" src="@Url.Content(Model.HeadImage.DefaultHeadImage())"/>
                        <input type="file" id="HeadImagePathFile" name="HeadImagePathFile" style="display: none" />
                        &nbsp;&nbsp;<input type="button" class="button" value="上传" id="btnUpload" />
                        @Html.TextBoxFor(a => a.HeadImage, new { style = "width:0px;visibility:hidden" })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.HeadImage)
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">
                        名称
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Name)@Html.HiddenFor(a => a.ID)@Html.HiddenFor(a => a.AccountStatusID)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        邮箱
                    </td>
                    <td>@Html.TextBoxFor(a => a.Email, new { val = Model.ID })
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        密码
                    </td>
                    <td>@Html.PasswordFor(a => a.LoginPwdPage)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.LoginPwdPage)
                    </td>
                </tr>
                <tr>
                    <td>
                        确认密码
                    </td>
                    <td>@Html.PasswordFor(a => a.LoginPwdPageCompare)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.LoginPwdPageCompare)
                    </td>
                </tr>
                <tr>
                    <td>
                        电话
                    </td>
                    <td>@Html.TextBoxFor(a => a.Phone)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Phone)
                    </td>
                </tr>
                <tr>
                    <td>
                        角色
                    </td>
                    <td>@Html.DropDownListFor(a => a.SystemUserRoleID, ViewData["Roles"] as List<SelectListItem>, new { })
                    </td>
                    <td id="tdRoleValidation">
                        @Html.ValidationMessageFor(a => a.SystemUserRoleID)
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="返回" onclick="location.href='@ViewBag.RawUrl'" class="button"/>
        </div>
    }</div>
